Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

server: Update info and licenses (#7838)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SETTING_UP_GIT.md
  .github/TICK_ORDER.md
  .github/VISUALS.md
  .github/guides/AUTODOC.md
  .github/guides/STYLE.md
  .github/guides/TICK_ORDER.md
  .github/guides/USING_FEEDBACK_DATA.md
  .github/guides/VISUALS.md
  LICENSE-AGPLv3.txt
  LICENSE-CC-BY-NC-SA-3.0.txt
  LICENSE-CC-BY-NC-SA.txt
  LICENSE-CC-BY-SA-3.0.txt
  LICENSE-GPLv3.txt
  README.md
Labels: :book: Документация, :hammer_and_wrench: Инструменты

refactor/bugfix: Рефактор оверлеев крови + фикс мантисов (#7831)
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/helpers.dm
  code/modules/surgery/organs/organ_external.dm
  icons/effects/clockwork_effects.dmi
  icons/mob/human_races/masks/blood_human.dmi
  icons/mob/human_races/masks/blood_monkey.dmi
Labels: :art: Спрайты

bugfix: MC maptext position (#7830)
  code/controllers/subsystem/debugview.dm
Labels: none

bugfix: правильное отслеживание сияния глаз (#7837)
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

spellcheck: фиксы локализации снабжения (#7828)
  code/datums/supplypacks.dm
Labels: none

bugfix: доп. проверка на расстояние для круг. меню тулбокса (#7827)
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: none

bugfix: Симплмобы с игроком и без игрока атакуют одинаково (#7826)
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: none

tweak: изменил статичный лист на SFX + возможность ставить список путей звуков вместо одной пути на единичный звук (#7829)
  code/__DEFINES/sound.dm
  code/game/objects/items.dm
  code/game/sound/sound_keys/sound_keys.dm
Labels: none

server: Some fixes (#7839)
  COPYING
  README.md
  code/datums/diseases/brain_transplant_syndrome.dm
  tools/ci/check_grep2.py
Labels: :snake: Python, :book: Документация, :hammer_and_wrench: Инструменты

bugfix: Фиксы радио (#7846)
  code/__DEFINES/radio.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/brigcells.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/tcomms/_base.dm
  code/game/mecha/mecha_ui.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: none

bugfix: pain preftoggle fixes (#7847)
  code/modules/surgery/organs/pain.dm
Labels: none

bugfix: убирает оверлей халка (#7840)
  code/game/dna/genes/powers.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: none

tweak: пачка изменений для робоквестов (#7849)
  code/game/machinery/constructable_frame.dm
  code/modules/anomalies/cores.dm
  code/modules/economy/robotic_quests/mech_types.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
Labels: none

bugfix: Теперь электрический стул не могут включать люди без рук и призраки (#7848)
  code/game/objects/structures/electricchair.dm
Labels: none

refactor: Micro cleaning sound code (#7841)
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/explosions.dm
  code/controllers/subsystem/text_to_speech.dm
  code/game/gamemodes/clockwork/clockwork_gateway.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/dance_machine.dm
  code/game/sound/sound.dm
  code/modules/client/preference/preference_info.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/instruments/songs/play_legacy.dm
  code/modules/power/gravitygenerator.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
  code/modules/security_levels/security_level_datums.dm
Labels: none

admin: TGUI Permissions Edit (#7850)
  code/__DEFINES/admin.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/lists/misc.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/permissionverbs/new_permissions_edit.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/topic.dm
  code/modules/client/client_procs.dm
  code/modules/tgui/tgui_datum.dm
  paradise.dme
  tgui/packages/tgui/interfaces/AdminAntagMenu.tsx
  tgui/packages/tgui/interfaces/PermissionsEdit.tsx
  tgui/packages/tgui/interfaces/common/SortButtons.tsx
  tgui/packages/tgui/styles/interfaces/PermissionsEdit.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: Исправление ошибок новой пермишен панели (#7851)
  code/modules/admin/permissionverbs/new_permissions_edit.dm
Labels: none

bugfix: Исправление ошибок с правами на профайлер (#7852)
  code/modules/admin/admin_verbs.dm
  code/modules/admin/permissionverbs/new_permissions_edit.dm
Labels: none

add: четыре новых эмодзи (#7750)
  .gitignore
  config/emojis.txt
Labels: :gear: Изменение конфига

server: Фикс невозможности выставить требование по валидации SQL (#7862)
  .github/workflows/ci.yml
Labels: :hammer_and_wrench: Инструменты

server: New auto comment blocks extension (#7857)
  .vscode/extensions.json
Labels: :hammer_and_wrench: Инструменты

server: Localization guide (#7854)
  .github/guides/LOCALIZATION.md
  README.md
Labels: :book: Документация, :hammer_and_wrench: Инструменты

bugfix: Убирает дюп стаков ресурсов (#7868)
  code/game/objects/items/stacks/stack.dm
Labels: none

bugfix: Landmarks fixes (#7866)
  code/__DEFINES/job.dm
  code/_globalvars/mapping.dm
  code/game/objects/effects/landmarks.dm
  code/modules/antagonists/de_kerberos_2/teams.dm
  icons/misc/landmarks.dmi
Labels: :art: Спрайты

server: Optimization and clean up of some checks + duplicate spans check (#7871)
  code/game/mecha/equipment/tools/other_tools.dm
  code/modules/paperwork/photocopier.dm
  tools/ci/check_grep2.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix: Check material recycle costs (#7873)
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/equipment_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/power_designs.dm
  code/modules/research/designs/weapon_designs.dm
  tools/ci/check_material_recycle_costs.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix: Destroy tesla's chains after qdel (#7872)
  code/modules/projectiles/projectile/energy.dm
Labels: none

local/bugfix: Перевод мешков для трупов + фикс видимого всем балуна (#7870)
  code/game/objects/items/bodybag.dm
  code/modules/balloon_alert/balloon_alert.dm
Labels: none

bugfix: Исправление пустых крейтов если у них не указаны рунеймсы (#7880)
  code/datums/supplypacks.dm
  code/modules/shuttle/supply.dm
Labels: none

bugfix: Исправление бага с портативным смесом (#7879)
  code/modules/power/smes.dm
Labels: none

bugfix: Исправление черных тайлов пола при постройке на лаве и тайлах ковров (#7878)
  code/game/turfs/simulated/floor.dm
Labels: none

image: Инхэнд спрайты мед. отдела [IDB IGNORE] (#7883)
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/surgery/organs/autoimplanter.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: :art: Спрайты

balance: Увеличение награды за выполнение доп целек (#7881)
  _maps/map_files/generic/CentComm.dmm
  code/modules/addition_goals/goals/energy.dm
  code/modules/addition_goals/goals/funeral.dm
  code/modules/addition_goals/goals/medical.dm
  code/modules/addition_goals/goals/prisoners.dm
  code/modules/addition_goals/goals/trash.dm
Labels: :world_map: Изменение карты

bigfix: Extra check (#7869)
  code/game/sound/sound.dm
Labels: none

bugfix: Фикс пары частых рантаймов (#7864)
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/clockwork/clockwork_workshop.dm
  code/game/gamemodes/cult/cult.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/power/cell.dm
Labels: none

balance/bugfix: Таскание греев зависит от уровня силы, фикс таскания в космосе (#7861)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/muscles.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: none

add: Новые имена и фамилии для мужчин и женщин (#7863)
  code/__HELPERS/mobs.dm
  code/_globalvars/lists/names.dm
  code/datums/outfits/outfit_admin.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/structures/pit.dm
  code/modules/admin/verbs/striketeam.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/language.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/paperwork/paper.dm
  code/modules/response_team/ert.dm
  strings/names/first.txt
  strings/names/first_female.txt
  strings/names/first_male.txt
  strings/names/last_female.txt
  strings/names/last_male.txt
Labels: none

tweak: Гравитация делает Knockdown вместо урона стамине (#7844)
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: none

balance: изменения мендера и патчей, добавление лечения големам (#7667)
  code/datums/elements/material_heal.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/patch.dm
  paradise.dme
Labels: none

bugfix: Исправлено отображение имени морфа на скринтипе при мимикрии (#7874)
  code/datums/spells/mimic.dm
  code/game/gamemodes/miniantags/morph/morph.dm
Labels: none

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
