Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

bugfix/balance: Теперь зимние куртки защищают от бури, но не защищают… (#8264)
  code/__DEFINES/atmospherics.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/modules/clothing/suits/miscellaneous.dm
Labels: none

tweak: Экшен для мешка крампуса + возможность вытаскивать жертв (#8265)
  code/game/objects/items/misc.dm
  code/modules/antagonists/devil/krampus.dm
Labels: none

bugfix: Крампус теперь не бьет себя вилами (#8266)
  code/game/objects/items/weapons/twohanded.dm
Labels: none

bugfix: Фикс компиляции (#8267)
  code/game/objects/items/weapons/twohanded.dm
Labels: none

balance: Удаление тира красного кода из подарков + уменьшение шанса спавна крампуса (#8268)
  code/datums/weather/weather_types/snow_storm.dm
  code/game/objects/items/weapons/gift.dm
Labels: none

balance: Новогодний ивент (#8269)
  code/datums/weather/weather_types/snow_storm.dm
  code/game/objects/items/misc.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: none

balance: Теперь подарки имеют размер BULKY (#8270)
  code/game/objects/items/weapons/gift.dm
Labels: none

balance: Очередной ребаланс подарков (#8271)
  code/datums/weather/weather_types/snow_storm.dm
  code/game/objects/structures/flora.dm
  code/modules/awaymissions/mission_code/evil_santa.dm
Labels: none

del: Крампус в щитспавн (#8272)
  code/datums/weather/weather_types/snow_storm.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: none

bugfix: Гравитация в гейте санты (#8273)
  code/modules/awaymissions/mission_code/evil_santa.dm
Labels: none

bugfix: Emote follow link (#8275)
  code/datums/emote/emote.dm
Labels: none

balance: Ребаланс воздействия воды на хуманов (#8276)
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defense.dm
Labels: none

bugfix/balance: Фикс и баланс админодразина (#8277)
  code/modules/hydroponics/grown/citrus.dm
  code/modules/reagents/chemistry/reagents/admin.dm
Labels: none

tweak: Револьвары больше не разряжаются в рюкзак (#8278)
  code/modules/projectiles/ammunition/magazines.dm
Labels: none

tweak: Теперь шторм не трогает уникальных питомцев (#8279)
  code/datums/weather/weather_types/snow_storm.dm
Labels: none

server: Gemini promt fix [ci skip] (#8280)
  .gemini/styleguide.md
Labels: :book: Документация

bugfix: Тултип преф снова НЕ скрывает описание экшенов и фикс откидывания при стрельбе в упор (#8281)
  code/__DEFINES/preferences.dm
  code/game/objects/items.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/projectiles/firing.dm
  code/modules/tooltip/tooltip.dm
Labels: none

add: Новый "капитанский" суп (#8282)
  code/modules/food_and_drinks/food/foods/soups.dm
  code/modules/food_and_drinks/recipes/recipes_microwave.dm
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
  icons/obj/food/food.dmi
Labels: :art: Спрайты

bugfix: Теперь для спавна на шаттле сначала используются лейтджоин лендмарки (#8286)
  code/controllers/subsystem/jobs.dm
Labels: none

local/refactor: локализация медикаментов + подтирание за апдейтом кровотёков (#8274)
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

image: Карго постеры (#8252)
  _maps/map_files/Delta/delta.dmm
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

bugfix: Немного фиксов ратвара (#8283)
  code/game/gamemodes/clockwork/clockheart.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/clockwork/clockwork_structures.dm
  code/game/objects/items.dm
  code/game/objects/structures/crates_lockers/closets.dm
Labels: none

refactor: Оптимизация спавна триблов (#8287)
  code/modules/mob/living/simple_animal/tribbles.dm
Labels: none

server: Переделка билдера (#8301)
  .github/workflows/build_rust.yml
  tools/ci/build_all_rustlibs.sh
Labels: :hammer_and_wrench: Инструменты

server: Фикс трекинга растлиб билдера (#8302)
  .github/workflows/build_rust.yml
Labels: :hammer_and_wrench: Инструменты

server: tracker fix 2 (#8303)
  .github/workflows/build_rust.yml
Labels: :hammer_and_wrench: Инструменты

refactor: SSair (#8300)
  code/controllers/subsystem/air.dm
Labels: none

add/admin: Floor light, change some colors light and power secrets (#8253)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/debug/fast_load_multiz.dmm
  code/__DEFINES/announce.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/machines.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryo.dm
  code/game/machinery/gameboard.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/mountable_frames/lights.dm
  code/game/objects/items/mountable_frames/mountables.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/admin/topic.dm
  code/modules/events/apc_short.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  icons/obj/lighting.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

bugfix/refactor: фикс сканирования робота + рефактор кода фотокопира (#8294)
  code/modules/paperwork/photocopier.dm
Labels: none

balance: Нерф предметов культа Ратвара. (#8298)
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/modules/projectiles/projectile/energy.dm
Labels: none

qol: Prevent mouse from blocking projectiles (#8296)
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Labels: none

bugfix: ИИ снова может пользоваться экшенами меха (#8233)
  code/game/mecha/mecha.dm
  code/modules/mob/living/silicon/ai/ai.dm
Labels: none

map: Улучшение карго на кибериаде (#8293)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: :world_map: Изменение карты

config: Исправление дебаг конфигов (#8304)
  config/maps.txt
Labels: :gear: Изменение конфига

bugfix: Откат изменений CM (#8305)
  code/modules/power/supermatter/supermatter.dm
Labels: none

bugfix: Фиксы проблем с новым атмосом (#8306)
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/power/supermatter/supermatter.dm
  rust/src/milla/constants.rs
Labels: :crab: Rust

bugfix: Фикс застревания шаттлов (#8307)
  code/modules/shuttle/shuttle.dm
Labels: none

bugfix: Возврат старых значений воздуха лаваленда (#8308)
  code/__DEFINES/atmospherics.dm
Labels: none

refactor/server: Удаление dmjit из тестов и кода + prod сборка для rustlib (#8312)
  .github/workflows/build_rust.yml
  .github/workflows/run_game_tests.yml
  .github/workflows/run_station_test.yml
  _build_dependencies.sh
  code/__DEFINES/dmjit.dm
  code/__DEFINES/rust.dm
  code/game/world.dm
  code/modules/admin/verbs/debug_dmjit.dm
  tools/ci/install_dmjit.sh
Labels: :hammer_and_wrench: Инструменты

server: add prod to commit (#8313)
  .github/workflows/build_rust.yml
Labels: :hammer_and_wrench: Инструменты
