Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

add: see_through - порт с ТГ (#7420)
  code/__DEFINES/layers.dm
  code/__HELPERS/see_through_maps.dm
  code/datums/components/seethrough.dm
  code/game/objects/structures/flora.dm
  paradise.dme
Labels: none

bugfix: Теперь перенос вещей из контейнеров проверяет расстояние до игрока (#7428)
  code/game/objects/items/weapons/storage/storage.dm
Labels: none

bugfix: кошкоушки должны сохраняться (#7430)
  code/__DEFINES/genetics.dm
  code/modules/client/preference/preferences_mysql.dm
Labels: none

add: Причёска Гигачада. (#7431)
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  icons/mob/sprite_accessories/human/human_hair.dmi
Labels: :art: Спрайты

balance: Улучшение набора Гриффски из аплинка. (#7432)
  code/game/objects/items/devices/radio/beacon.dm
Labels: none

add: Замена порталов контрактора на дропподы (#7434)
  code/__DEFINES/antagonists.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/inventory.dm
  code/datums/diseases/viruses/transformation.dm
  code/datums/pod_style.dm
  code/datums/status_effects/debuffs.dm
  code/game/dna/genes/monkey.dm
  code/game/machinery/transformer.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/anomaly_extract.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/antagonists/traitor/contractor/items/extraction_items.dm
  code/modules/cargo/supplypod.dm
  code/modules/food_and_drinks/food/foods/bread.dm
  code/modules/mining/ores_coins.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/status_procs.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/mob/transform_procs.dm
  icons/obj/supplypods.dmi
Labels: :art: Спрайты

bugfix: Фикс рантаймов элемента насыщения при смене расы (#7438)
  code/__DEFINES/dcs/signals.dm
  code/datums/elements/nutrition_effects.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: none

tweak: Убрал скринтипы со стен/окон и исправления названий карт в хабе Byond (#7427)
  code/__HELPERS/names.dm
  code/controllers/subsystem/mapping.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/openspace.dm
  code/game/turfs/simulated/walls_indestructible.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/lavaland/lavaland_theme.dm
  code/modules/map_fluff/celestation.dm
  code/modules/map_fluff/cerestation.dm
  code/modules/map_fluff/cyberiad.dm
  code/modules/map_fluff/delta.dm
  code/modules/map_fluff/event.dm
  code/modules/map_fluff/maps.dm
  code/modules/map_fluff/multiz.dm
  code/modules/map_fluff/nova.dm
Labels: none

imageadd: Респрайт таблеток, контейнеров под патчи и таблетки + инхенды (#7435)
  code/game/objects/effects/decals/misc.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/chemical.dmi
  icons/obj/chempuff.dmi
Labels: :art: Спрайты

bugfix: Снова можно ручкой менять книгу. (#7442)
  code/modules/library/lib_items.dm
Labels: none

bugfix: world.name & screentips on fulltile windows (#7444)
  code/game/objects/structures/window.dm
  code/game/world.dm
Labels: none

bugfix: Превращение в статую больше не отправляет в нулспейс (#7446)
  code/game/objects/structures/crates_lockers/closets/statue.dm
Labels: none

tweak: Вывод Целе и Цере из ротации (#7445)
  code/controllers/subsystem/statpanel.dm
  code/modules/map_fluff/celestation.dm
  code/modules/map_fluff/cerestation.dm
  code/modules/map_fluff/event.dm
  code/modules/map_fluff/maps.dm
  code/modules/map_fluff/multiz.dm
  code/modules/map_fluff/nova.dm
Labels: none

add: СРЗ для борга саботера синдиката (#7443)
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: none

bugfix: оверлеи у таблетницы и коробки с патчами (#7449)
  code/game/objects/items/weapons/storage/firstaid.dm
  icons/obj/chemical.dmi
Labels: :art: Спрайты

tweak: Теперь в под контрактора нужно запихивать жертву, а не просто толкнуть (#7450)
  code/__DEFINES/dcs/signals.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/cargo/supplypod.dm
Labels: none

bugfix: Исправлена пипетка & ru_names шприцев, бикеров, пипеток (#7452)
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: none

bugfix: Карта генетика теперь отображается при вставке в ПДА (#7453)
  icons/goonstation/objects/pda_overlay.dmi
Labels: :art: Спрайты

bugfix: ложки и вилки отображаются корректно (#7439)
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/kitchen.dmi
Labels: :art: Спрайты

code_imp: mapmanip [IDB IGNORE] (#7382)
  code/modules/awaymissions/maploader/reader.dm
  code/modules/mapmanip/effects.dm
  code/modules/mapmanip/mod.dm
  icons/effects/map_effects_96x96.dmi
  icons/effects/mapping_helpers.dmi
  paradise.dme
  rust/.cargo/config.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/logging/mod.rs
  rust/src/mapmanip/core/map_to_string.rs
  rust/src/mapmanip/core/mod.rs
  rust/src/mapmanip/core/to_dict_map.rs
  rust/src/mapmanip/core/to_grid_map.rs
  rust/src/mapmanip/mod.rs
  rust/src/mapmanip/procgen/geometry.rs
  rust/src/mapmanip/procgen/mod.rs
  rust/src/mapmanip/test.rs
  rust/src/mapmanip/test/_tiny_test_map.dmm
  rust/src/mapmanip/test/extracted.dmm
  rust/src/mapmanip/test/inserted.dmm
  rust/src/mapmanip/tools/extract_submap.rs
  rust/src/mapmanip/tools/insert_submap.rs
  rust/src/mapmanip/tools/mod.rs
  tools/mapmanip/mapmanip.ps1
Labels: :crab: Rust, :art: Спрайты, :world_map: Изменение карты, :hammer_and_wrench: Инструменты

add: Анимация окунания в унитаз и увеличение урона (#7405)
  code/game/objects/structures/watercloset.dm
  sound/items/toilet_flush.ogg
Labels: :sound: Звук

bugfix: Очистка зарезервированных зон больше не рантаймит (#7454)
  code/controllers/subsystem/mapping.dm
Labels: none

add: Заза лорд свег бомбер (#7441)
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/suits.dmi
Labels: :art: Спрайты

add: Новый ритуал для эшей с защитой от низкой температуры. (#7448)
  code/datums/rituals.dm
Labels: none

bugfix: Набор "Грифски" и "PayDay", теперь одинаковы в синди карго и наборах (#7457)
  code/datums/syndiesupplypacks.dm
  code/game/objects/items/devices/radio/beacon.dm
Labels: none

add: новая одежда для женщин людей (в основном) (#7372)
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/underwear.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

imageadd: цвета проводов отображаются на поясе + фикс спрайтов в руках (#7461)
  code/modules/power/cable_coil.dm
  icons/obj/clothing/belts.dmi
Labels: :art: Спрайты

bugfix: Фикс багов ивент панели и ивент логов (#7464)
  code/controllers/subsystem/events.dm
  code/modules/events/event.dm
  code/modules/events/event_procs.dm
  code/modules/events/ion_storm.dm
  code/modules/events/ion_typhoon.dm
Labels: none

add: Сет Гигачада (Щитспавн). (#7456)
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

add: Зелёный тулбокс теперь дает иммунитет к болам и замедлению (#7455)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits.dm
  code/datums/status_effects/buffs.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/weapons/grenades/ghettobomb.dm
  code/game/objects/items/weapons/legcuffs.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/antagonists/vampire/vampire_powers/gargantua_powers.dm
  code/modules/assembly/signaler.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

balance: Шансы на дизарм и шов (#7466)
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: none

imageadd: Респрайт шкафов [IDB IGNORE] (#7467)
  icons/obj/closet.dmi
Labels: :art: Спрайты

bugfix: Полный уровень насыщения правильно восстанавливает стамину и кровь (#7469)
  code/datums/elements/nutrition_effects.dm
Labels: none

balance: ИИ не может вмешиваться в большинство финансовых операций (#7476)
  code/game/machinery/slotmachine.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts_DB.dm
Labels: none

bugfix: Исправляет переименование предметов без ру неймов (#7491)
  code/game/atoms.dm
Labels: none

add: Расширенные магазины к пистолету Блюститель (#7488)
  code/game/machinery/vending.dm
  code/modules/projectiles/ammunition/magazines.dm
  icons/obj/weapons/ammo.dmi
Labels: :art: Спрайты

balance: Борги больше не смогут покупать платные предметы с вендоров (#7483)
  code/game/machinery/vending.dm
Labels: none

add: Обновление гранатомета СБ в оружейке (#7473)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/game/gamemodes/steal_items.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/vending.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/bombarda.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

add: подкарта для прохода в техах виро-мед (#7463)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/Delta/delta.jsonc
  _maps/map_files/Delta/submaps/maints_med_viro_passage.dmm
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/config.dm
  code/game/world.dm
  code/modules/mapmanip/delta.dm
  code/modules/mapmanip/effects.dm
  code/modules/mapmanip/mod.dm
  config/example/config.txt
  icons/effects/mapping_helpers.dmi
  paradise.dme
  rust/src/mapmanip/mod.rs
  rust/src/mapmanip/test/extracted_out.dmm
Labels: :crab: Rust, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига

balance: убраны деньги из рандомных кошельков (#7477)
  code/game/objects/items/weapons/storage/wallets.dm
Labels: none
