Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

spellcheck: Spellы лишь раз меняют имена. (#7517)
  code/game/gamemodes/wizard/spellbook.dm
Labels: none

bugfix: Ear smoking (#7521)
  code/game/objects/items/weapons/cigs.dm
Labels: none

bugfix: Клининг гиммик банхаммера (#7522)
  code/game/objects/items/weapons/gimmicks/ban_hammer.dm
  code/gimmicks/fake_admins.dm
  code/gimmicks/gimmick_helpers.dm
  paradise.dme
Labels: none

bugfix: Страховка на медхудах теперь корректно учитывает маски/шлемы (#7523)
  code/game/data_huds.dm
  code/modules/economy/insurance.dm
  code/modules/surgery/organs/organ_external.dm
Labels: none

tweak: удаление рнг во время развязывания из наручников + уменьшение самого времени развязывания (#7524)
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: none

bugfix: исправление стола в одной из сабмап ботанической комнаты (#7525)
  _maps/map_files/Delta/submaps/botany_room.dmm
Labels: :world_map: Изменение карты

bugfix: Теперь item_color не влияет на подворачивание одежды (#7528)
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

bugfix: ru_names -> get_ru_names() мендеров, капельниц, гипо/инжекторов (#7531)
  code/game/data_huds.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
Labels: none

bugfix: collecte goal (#7529)
  code/game/gamemodes/steal_items.dm
Labels: none

bugfix: Мидраунд ролл сбегающего заключённого (#7537)
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/game_mode.dm
Labels: none

bugfix: Исправляет отсутствующие из-за нестандартного названия спрайты (#7534)
  code/datums/datacore.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/syndicate.dm
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

add: Правки силы (#7533)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/muscles.dm
  code/datums/status_effects/buffs.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_subclasses.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: none

tweak: Доступные зажигалки в лоадауте (#7532)
  _maps/map_files/Delta/delta.dmm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_general.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

qol: debug fast load? (#7538)
  _maps/common.dm
  _maps/map_files/debug/fast_load.dmm
  code/controllers/subsystem/ticker.dm
  code/modules/map_fluff/fast_load.dm
  code/modules/mob/new_player/new_player.dm
  paradise.dme
  tools/ci/check_grep.sh
Labels: :world_map: Изменение карты, :hammer_and_wrench: Инструменты

bugfix: Исправление ошибки музыки лобби (#7539)
  code/controllers/subsystem/ticker.dm
  code/game/sound/sound.dm
Labels: none

bugfix: фикс библии в наборе миссионера (#7544)
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/admin/verbs/pray.dm
Labels: none

bugfix: reagent_attack/Attach теперь не переписывает элемент, если получил null (#7542)
  code/datums/elements/reagent_attack.dm
Labels: none

tweak: Списывание страховки теперь напоминает о привязке карты + span (#7543)
  code/modules/economy/insurance.dm
Labels: none

tweak: можно перестать отстегивать наручники (#7535)
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: none

bugfix: Исправлены торчащие пиксели у спрайта слаймомена (#7549)
  icons/mob/human_races/r_slime.dmi
Labels: :art: Спрайты

admin: shitspawn map fix (#7547)
  _maps/map_files/event/Station/coldcolony.dmm
  code/datums/weather/weather_types/radiation_storm.dm
Labels: :world_map: Изменение карты

add: Пустотный скафандр и пустотный ранец (#7376)
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/awaymissions/mission_code/ruins/oldstation.dm
  code/modules/clothing/spacesuits/void.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/back.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/suit.dmi
  icons/mob/clothing/species/grey/back.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/clothing/species/grey/suit.dmi
  icons/mob/clothing/species/monkey/back.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/suit.dmi
  icons/mob/clothing/species/tajaran/head.dmi
  icons/mob/clothing/species/tajaran/helmet.dmi
  icons/mob/clothing/species/tajaran/suit.dmi
  icons/mob/clothing/species/unathi/head.dmi
  icons/mob/clothing/species/unathi/helmet.dmi
  icons/mob/clothing/species/unathi/suit.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/helmet.dmi
  icons/mob/clothing/species/vox/suit.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/mob/clothing/species/vulpkanin/helmet.dmi
  icons/mob/clothing/species/vulpkanin/suit.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/tank.dmi
Labels: :art: Спрайты

bugfix: Временный фикс бага с глушителем и снайперкой, а также фикс крафт блюпринтов (#7546)
  code/game/objects/items/craft_blueprints.dm
  code/modules/projectiles/gun_module.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: none

Revert "bugfix: Временный фикс бага с глушителем и снайперкой, а также фикс крафт блюпринтов" (#7551)
  code/game/objects/items/craft_blueprints.dm
  code/modules/projectiles/gun_module.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: none

del: remove alkaid surname (#7555)
  code/modules/mob/language.dm
Labels: none

bugfix: Монитор в PDA для отслеживания питания теперь не умирает от null (#7553)
  tgui/packages/tgui/interfaces/PowerMonitor.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: Чинит спрайт серого костюма детектива (#7552)
  code/modules/clothing/under/jobs/security.dm
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

refactor: Небольшой клининг и немного багфиксов (#7541)
  code/__DEFINES/qdel.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/shuttle/shuttle.dm
Labels: none

bugfix: Исправляет сообщение о попадании бесшумных снарядов (#7570)
  code/modules/projectiles/projectile.dm
Labels: none

bugfix: Чинит спрайты снова (#7561)
  code/modules/clothing/under/jobs/civilian.dm
  icons/mob/clothing/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

balance: нерфы разрывных патронов доступных на станции (#7564)
  code/datums/supplypacks.dm
  code/game/machinery/vending.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  code/modules/projectiles/projectile/special.dm
Labels: none

balance: Культ крови больше не может телепортироваться на руны вне станции (#7560)
  code/__DEFINES/cult.dm
  code/game/gamemodes/clockwork/clock_magic.dm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/mob/living/simple_animal/constructs.dm
Labels: none

map: клоунский гамбит (#7527)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/Delta/delta.jsonc
  _maps/map_files/Delta/submaps/botany_room.dmm
  _maps/map_files/Delta/submaps/clown_mime_gambit.dmm
  code/modules/mapmanip/delta.dm
Labels: :world_map: Изменение карты

balance: твики нюковских патронов на дробовик, изменения для дыхания дракона (#7565)
  code/datums/uplink_item.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: none

Revert "refactor: Небольшой клининг и немного багфиксов" (#7572)
  code/__DEFINES/qdel.dm
  code/game/atoms_movable.dm
  code/game/turfs/turf.dm
  code/modules/shuttle/shuttle.dm
Labels: none

bugfix: fix cargo test (#7571)
  rust/src/mapmanip/mod.rs
Labels: :crab: Rust

bugfix: Конструкты культа снова не получают урон от космоса (#7581)
  code/modules/mob/living/simple_animal/constructs.dm
Labels: none

imageadd: шкафы, которые забыли (#7580)
  icons/obj/closet.dmi
  icons/obj/guncabinet.dmi
Labels: :art: Спрайты

imageadd: замена спрайта биогенератора (by FanTik) (#7577)
  icons/obj/machines/biogenerator.dmi
Labels: :art: Спрайты

bugfix: Vending tilt + inhand id sprites (#7579)
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/cards_ids.dm
Labels: none

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
