Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

bugfix: Pack of fixes (#8348)
  code/datums/elements/high_value_item.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: none

image: Кучка респрайтов (#8349)
  code/game/machinery/floodlight.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/detectivework/microscope/dnascanner.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/paperwork/paperbin.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/storage_lefthand.dmi
  icons/mob/inhands/storage_righthand.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/floodlight.dmi
  icons/obj/forensics.dmi
  icons/obj/lighting.dmi
  icons/obj/machines/computer.dmi
  icons/obj/machines/washing_machine.dmi
  icons/obj/structures.dmi
Labels: :art: Спрайты

bugfix: розовые волосы (#8368)
  code/__DEFINES/colors.dm
Labels: none

spellcheck: Атомсферная/ые -> атмосферная/ые (#8379)
  code/__DEFINES/anomalies.dm
Labels: none

tweak: Фикс автонаводки медицины на конечности (#8382)
  code/__DEFINES/preferences.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/client/preference/preference_info.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: none

Tweak: Меняем хуман кровь на оксигенис в томатах с кровью (#8376)
  code/modules/hydroponics/grown/tomato.dm
Labels: none

bugfix/code_imp: отвертки и кусачки корректно отображаются на поясе + greyscale_config_belt (#8381)
  code/game/objects/items.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/tests/test_greyscale_config.dm
Labels: none

bugfix: посох смерти не убивает КПБ (#8370)
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/projectile/magic.dm
Labels: none

bugfix/refactor: Remove SS_NO_TICK_CHECK (#8365)
  code/__DEFINES/MC.dm
  code/__DEFINES/dcs/signals/signals.dm
  code/controllers/subsystem/afk.dm
  code/controllers/subsystem/nightshift.dm
  code/controllers/subsystem/statistics.dm
  code/controllers/subsystem/sun.dm
  code/controllers/subsystem/titlescreen.dm
  code/controllers/subsystem/verb_manager.dm
  code/controllers/subsystem/vote.dm
  code/controllers/subsystem/weather.dm
  code/game/atoms.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  code/game/turfs/simulated/floor/indestructible.dm
  code/game/turfs/simulated/floor/misc_floor.dm
  code/modules/admin/topic.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/holomaps/machinery.dm
Labels: none

balance/add: Имплант адреналина разделен на адреналы и хил (#8380)
  code/_onclick/hud/action_button.dm
  code/datums/actions/item_action.dm
  code/datums/loot_tier.dm
  code/datums/status_effects/buffs.dm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/implants/implant_adrenalin.dm
  code/game/objects/items/weapons/implants/implant_heal.dm
  code/game/objects/items/weapons/implants/implantfluff.dm
  code/modules/mob/dead/observer/observer_admin_actions.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
  code/modules/movespeed/modifiers/reagent.dm
  icons/obj/implants.dmi
  paradise.dme
Labels: :art: Спрайты

bugfix/tweak: Place the follow link at the beginning (#8343)
  code/controllers/subsystem/ticker.dm
  code/datums/emote/emote.dm
  code/datums/spells/alien_spells/whisper.dm
  code/game/dna/genes/vg_powers.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/gamemodes/miniantags/demons/demon.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/guardian/host_actions.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/weapons/implants/implant_death_alarm.dm
  code/game/verbs/ooc.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/client/client_procs.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/ion_storm.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/ghost.dm
  code/modules/pda/messenger.dm
Labels: none

server: Disable neuroslope summary [ci skip] (#8367)
  .gemini/config.yaml
Labels: none

local: локализация чата и его настроек (#8353)
  tgui/packages/tgui-panel/chat/ChatPageSettings.tsx
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/chat/model.ts
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/SettingsStatPanel.tsx
  tgui/packages/tgui-panel/settings/TextHighlight.tsx
  tgui/packages/tgui-panel/settings/constants.ts
  tgui/public/tgui-panel.bundle.js
Labels: :computer: TGUI

refactor/admin: Drop lightning bolt and Smite menu (#8354)
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/smites.dm
  code/modules/admin/verbs/admin_lightning_bolt.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/drop_lightning_bolt.dm
  code/modules/mining/lavaland/loot/legion_loot.dm
  paradise.dme
  tgui/packages/tgui/interfaces/DropLightningBolt.tsx
  tgui/packages/tgui/interfaces/SmiteMenu.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

local: локализация Spawn panel (#8347)
  code/__DEFINES/spawn_panel.dm
  code/modules/admin/spawn_panel/spawn_handling.dm
  code/modules/admin/spawn_panel/spawn_panel.dm
  paradise.dme
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObject.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObjectAdvancedSettings.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObjectSettings.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/constants.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/index.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: Теперь огнемет нормально поджигает плазму (#8386)
  code/game/objects/items/weapons/flamethrower.dm
Labels: none

balance/bugfix: слегка багфиксов и побольше баланса в СБ (#8384)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
Labels: none

balance: katalki nerf (#8377)
  code/modules/projectiles/projectile/energy.dm
Labels: none

image: Добавление новых скинов для энфорсера (#8150)
  code/datums/skins/donat_skins.dm
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

bugfix: Возвращение параметров ветра до ускорения (#8388)
  rust/src/milla/constants.rs
Labels: :crab: Rust

balance: замена викенда на кнокдаун у прыжков халка и охотника ксено (#8390)
  code/modules/mob/living/carbon/alien/humanoid/caste/hunter.dm
  code/modules/mob/living/simple_animal/hulk_power.dm
Labels: none

rebalance: замена сна на викенд у удара меха (#8391)
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
Labels: none

tweak/balance: Mechanic is now from RnD (#8383)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/job.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/science.dm
  code/game/machinery/computer/card.dm
  code/game/mecha/mech_fabricator.dm
Labels: :world_map: Изменение карты

balance/qol: Скейл блюра от дамага глаз (#8358)
  code/__DEFINES/eyes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/organs/eyes.dm
  paradise.dme
Labels: none

tweak/bugfix: дефолтные руны в техах красные (#8392)
  code/game/objects/effects/decals/crayon.dm
Labels: none

balance: малый ребаланс синдиарбалетов (#8389)
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
Labels: none

bugfix: Исправление шаттла доп целей (#8400)
  code/datums/actions/item_action.dm
  code/modules/shuttle/shuttle.dm
Labels: none

bugfix: Вернул хил протоадреналам (#8401)
  code/datums/status_effects/buffs.dm
  code/game/objects/items/weapons/implants/implant_adrenalin.dm
Labels: none

image: Респрайты хранилищ газов и реагентов и хранилища скафандров (#8374)
  code/datums/greyscale/json_configs/canister_double_stripe.json
  code/game/machinery/suit_storage_unit.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/map_icons/objects.dmi
  icons/obj/machines/suit_storage.dmi
  icons/obj/machines/vending.dmi
  icons/obj/medicine/chemical_tanks.dmi
  icons/obj/mining.dmi
  icons/obj/objects.dmi
  icons/obj/pipes_and_stuff/atmospherics/atmos/tank.dmi
  icons/obj/pipes_and_stuff/atmospherics/canisters.dmi
Labels: :art: Спрайты

add: Продвинутые инструменты (#8342)
  code/datums/supplypacks.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/vending/youtool.dm
  icons/mob/inhands/tools_lefthand.dmi
  icons/mob/inhands/tools_righthand.dmi
  icons/obj/tools.dmi
  sound/items/ratchet2.ogg
  sound/items/wirecutter2.ogg
Labels: :art: Спрайты, :sound: Звук

bugfix: Быстрый фикс сабсистемы ночной смены (#8402)
  code/controllers/subsystem/nightshift.dm
Labels: none

balance/tweak: Сумки стали большого размера (#8396)
  code/game/objects/items/weapons/storage/bags.dm
Labels: none

map: Локдаун для карго (#8397)
  _maps/map_files/Delta/delta.dmm
  code/game/objects/items/weapons/storage/boxes.dm
  paradise.dme
Labels: :world_map: Изменение карты

image: фастфикс оверлеев хранилища баллонов (#8405)
  icons/obj/objects.dmi
Labels: :art: Спрайты

Map: Фиксы админ зоны (#8406)
  _maps/map_files/generic/CentComm.dmm
Labels: :world_map: Изменение карты

bugfix: Госты могут смотреть содержимое МЭКов (#8403)
  code/modules/mod/mod_control.dm
Labels: none

balance/tweak: ребаланс мета и мешков (#8398)
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
Labels: none

server: Фикс CI и билдера раста (#8409)
  .github/workflows/build_rust.yml
  .github/workflows/run_game_tests.yml
  .github/workflows/run_station_test.yml
Labels: :hammer_and_wrench: Инструменты

server: Фикс билдера (#8410)
  .github/workflows/build_rust.yml
Labels: :hammer_and_wrench: Инструменты

server: Фикс билдера 2 (#8411)
  .github/workflows/build_rust.yml
  .github/workflows/compile_all_maps.yml
  .github/workflows/setup_build_artifact_game_tests.yml
  .github/workflows/setup_build_artifact_station_tests.yml
Labels: :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
