Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

spellcheck: опечатки заказов снабжения (#7988)
  code/datums/supplypacks.dm
Labels: none

balance: Добавлен шанс на Knockdown при использовании огнетушителя для ускорения (#7992)
  code/game/objects/items/weapons/extinguisher.dm
Labels: none

bugfix: Сингулярность корректно отклоняет снаряды (#7991)
  code/modules/power/singularity/singularity.dm
Labels: none

balance: нерф буллетпруф брони (#7982)
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
Labels: none

tweak: Использование радиального меню при попытке вытащить модуль с оружия (#7977)
  code/modules/projectiles/gun.dm
Labels: none

bugfix: Хамелеон-пояс работает, как задумано (#7973)
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
Labels: none

balance: слизни (симплмобы) более не станят в принципе (#7929)
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none

tweak: Осмотр куклы на правую кнопку мыши (#7972)
  code/modules/mob/living/carbon/human/human.dm
Labels: none

balance: замена Weaken на Knockdown у Годзилы (#7997)
  code/modules/mob/living/simple_animal/hulk_power.dm
Labels: none

tweak: Использование строительной сумки, как заменителя деталей, но с прогрессбаром (#7877)
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/storage/bags.dm
Labels: none

add: MC Overview Controller TGUI (#8002)
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/modules/admin/admin_verbs.dm
  tgui/packages/tgui/interfaces/ControllerOverview/OverviewSection.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemDialog.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemRow.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemViews.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/contants.ts
  tgui/packages/tgui/interfaces/ControllerOverview/filters.ts
  tgui/packages/tgui/interfaces/ControllerOverview/index.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/types.ts
  tgui/packages/tgui/styles/themes/ntos_cat.scss
  tgui/packages/tgui/styles/themes/ntos_roboquest.scss
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: кого-то сегодня за это перманули бтв (#8003)
  code/datums/components/leaning.dm
Labels: none

experiment: Guide link in timed out alert (#8001)
  code/modules/tgui/tgui_panel/tgui_panel.dm
Labels: none

tweak: Небольшой бафф синди шкафомеха (#7970)
  code/game/mecha/makeshift/lockermech.dm
Labels: none

balance: убирает блок у клинков богомола, добавляет выпад (#7981)
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/click.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: none

balance/add: Рикошет и баланс дальнего оружия (#7969)
  code/__DEFINES/flags.dm
  code/game/atoms.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/simulated/walls_mineral.dm
  code/modules/projectiles/guns/projectile/saw.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/reusable.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/projectiles/recoil.dm
Labels: none

add: новый мидраунд антагонист - дрейфующий контрактник (#8004)
  code/modules/antagonists/syndicate/contractor/drifting_contractor.dm
  code/modules/antagonists/traitor/contractor/datums/contractor.dm
  code/modules/events/contractor.dm
  code/modules/events/event_container.dm
  icons/mob/simple_human.dmi
  paradise.dme
Labels: :art: Спрайты

local: локализация инженерных инструментов + доработка balloon_alert (#7978)
  code/__DEFINES/tools.dm
  code/datums/uplink_item.dm
  code/game/machinery/customat.dm
  code/game/objects/items.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/holotool.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/tool_behaviour.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/mining/mint.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/station_goals/bsa.dm
  code/modules/vending/_vending.dm
  strings/tips.txt
Labels: none

add: Новый пистолет пулемет для СБ (#7976)
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mini_games/thunderdome/gamemodes/gamemode.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/firing.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_module.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/ammo.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

server: CI Suite (#7996)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/ci_suite.yml
  .github/workflows/collect_data.yml
  .github/workflows/compile_all_maps.yml
  .github/workflows/deploy.yml
  .github/workflows/perform_station_tests.yml
  .github/workflows/run_game_tests.yml
  .github/workflows/run_linters.yml
  .github/workflows/run_station_test.yml
  .github/workflows/setup_build_artifact_game_tests.yml
  .github/workflows/setup_build_artifact_station_tests.yml
  .github/workflows/setup_build_artifacts.yml
  .github/workflows/stale.yml
  tools/ci/copy_build_output.sh
  tools/ci/install_dmjit.sh
  tools/ci/install_rustg.sh
  tools/ci/run_od.sh
  tools/ci/run_server.sh
  tools/ci/setup_od.sh
Labels: :hammer_and_wrench: Инструменты

balance: контрактору добавлена аптечка и блокировщик помех, обновлен доступ (#8017)
  code/modules/antagonists/syndicate/contractor/drifting_contractor.dm
Labels: none

bugfix: Исправление бага с печатью магазина на новую ПП искру (#8016)
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: none

bugfix: Исправлен баг с сообщением в чате о том какое пда снимается при раздевании (#7993)
  code/modules/mob/living/carbon/human/human_stripping.dm
Labels: none

bugfix: Удаление механоебства с полным лечением при смене формы с низшего на высший и обратно (#8021)
  code/game/dna/genes/monkey.dm
Labels: none

local: кибер лёгкие поменявшие свой гендер на сердце (#8022)
  code/modules/surgery/organs/lungs.dm
Labels: none

bugfix: Исправление опечатки в наименовании таблетки (#8026)
  code/modules/reagents/reagent_containers/pill.dm
Labels: none

bugfix: Экранирование реджекс символов в имени кукл (#8030)
  code/__HELPERS/names.dm
Labels: none

spellcheck: Изменение текстов анонсов после призыва бога (#8031)
  code/game/gamemodes/clockwork/clockheart.dm
  code/game/gamemodes/game_mode.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/ratvar.dm
Labels: none

spellcheck: Доспутить -> Допустить в анонсе с призывом бога. (#8032)
  code/game/gamemodes/game_mode.dm
Labels: none

map: Nova fix (#8033)
  _maps/map_files/nova/nova.dmm
Labels: :world_map: Изменение карты

tweak: Наномеды и другие вендоры теперь бесплатные в зоне ОБР (#8029)
  _maps/map_files/generic/CentComm.dmm
  code/modules/vending/medical.dm
Labels: :world_map: Изменение карты

balance: нерф таймстопа культа (#8025)
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

bugfix/balance: Исправления спектра (#7971)
  code/__DEFINES/is_helpers.dm
  code/datums/loot_tier.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/ammo.dm
Labels: none

refactor: Исправление коробок для выживания, учитывание расы и профессии корректно (#8024)
  _maps/map_files/RandomZLevels/spacebattle.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/z2_old.dmm
  _maps/map_files/shuttles/admin_interview.dmm
  code/datums/outfits/outfit.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/outfits/outfit_debug.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
  code/game/jobs/job/syndicate.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/survival_boxes.dm
  code/modules/antagonists/syndicate/contractor/drifting_contractor.dm
  code/modules/antagonists/syndicate/nuclear/outfit.dm
  code/modules/antagonists/traitor/contractor/datums/contractor_support.dm
  code/modules/awaymissions/mission_code/ruins/USSP_gorky17.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/response_team/ert.dm
  code/modules/ruins/syndicate_space_base.dm
  code/modules/ruins/ussp_base.dm
  code/modules/vending/nt_cargo.dm
  paradise.dme
Labels: :world_map: Изменение карты

add/refactor: Добавление скинов телескопичкам и рефактор изменения скинов для всех предметов (#7985)
  code/__DEFINES/donat.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/mobs.dm
  code/datums/elements/item_skins.dm
  code/datums/skins/donat_skins.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/antagonists/traitor/contractor/items/contractor_baton.dm
  code/modules/customitems/item_defines.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  icons/obj/custom_items.dmi
  icons/obj/items.dmi
  icons/obj/weapons/baton.dmi
  paradise.dme
Labels: :art: Спрайты

server: OD linter fix (#8034)
  .github/workflows/run_linters.yml
  tools/ci/check_grep2.py
  tools/ci/unticked_files.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

qol: Показ оверлей букв какие патроны заряжены в магазинах (#8036)
  code/__DEFINES/gun.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/saw.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/obj/weapons/ammo_type_overlay.dmi
Labels: :art: Спрайты

bugfix: Исправление бага с наблюдением из гостов (#8041)
  code/_onclick/hud/hud.dm
  code/modules/mob/dead/observer/observer.dm
Labels: none

bugfix: persistent_client fix (#8042)
  code/modules/antagonists/changeling/powers/fakedeath.dm
  code/modules/mob/living/death.dm
  code/modules/mob/mob.dm
Labels: none

add: Добавление пистолетов-пулеметов A9 "Искра" и SP-91 в список доступных заказов в карго (#8038)
  code/datums/supplypacks.dm
Labels: none

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
