Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

server: DMI and DMM linter on (#8213)
  .github/workflows/run_linters.yml
  tools/bootstrap/python311._pth
  tools/bootstrap/python_.ps1
  tools/hooks/README.md
  tools/hooks/install.py
  tools/mapmerge2/README.md
  tools/mapmerge2/__init__.py
  tools/mapmerge2/dmm.py
Labels: :snake: Python, :book: Документация, :hammer_and_wrench: Инструменты

map/refactor: Fast load map cleaning (#8212)
  _maps/common.dm
  _maps/map_files/debug/fast_load.dmm
  _maps/map_files/debug/fast_load_multiz.dmm
  code/controllers/subsystem/mapping.dm
  code/game/area/areas.dm
  code/game/area/fastload.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/awaymissions/zvis.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/map_fluff/fast_load.dm
  icons/area/areas.dmi
  icons/area/areas_misc.dmi
  icons/turf/areas.dmi
  paradise.dme
Labels: :art: Спрайты, :world_map: Изменение карты

add/bugfix: Emitter beam and portals light (#8208)
  code/game/objects/effects/portals.dm
  code/modules/events/wormholes.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/power/singularity/emitter.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special.dm
Labels: none

bugfix/map: Intercom fixes in capitain room and toxins (#8216)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

tweak: Добавляет мини-монтировку в случайный лут техов (#8221)
  code/game/objects/effects/spawners/lootdrop.dm
Labels: none

tweak: Больший выбор проф для имплантов (#8220)
  code/modules/client/preference/loadout/loadout_implants.dm
Labels: none

add: Новый постер – i'm poster (#8209)
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: :art: Спрайты

map: Кнопки не будут загорожены интеркомами v2 (#8193)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

tweak: Обновление доступов медицинского отдела (#8219)
  code/game/jobs/job/medical.dm
Labels: none

bugfix: Исправление ошибки, из-за которой onclose у datum/browser мог не работать (#8225)
  code/datums/browser.dm
Labels: none

bugfix: Добавлен канал заключенных для сб борга (#8224)
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: none

bugfix: Исправление префа гострадио и анонсов от ботов (#8227)
  code/__DEFINES/preferences.dm
  code/_globalvars/lists/mobs.dm
  code/controllers/subsystem/non-firing/radio.dm
  code/game/machinery/tcomms/_base.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/dead/observer/login.dm
  code/modules/mob/dead/observer/logout.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

refactor: Решение конфликта на тестмердже (#8229)
  code/modules/reagents/reagent_containers/syringes.dm
Labels: none

bugfix/refactor: Teleporter TGUI update (#8234)
  tgui/packages/tgui/interfaces/Teleporter.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

tweak: Some miss CSS style for selectors (#8232)
  code/__DEFINES/_span.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
Labels: :computer: TGUI

bugfix: Исправление названия карго заказов (#8222)
  code/modules/economy/quests/thing_quests.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
Labels: none

balance: Навык гемомансера "Чутьё охотника" теперь накладывает Нокдаун вместо хардстана. (#8231)
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
Labels: none

balance: Вещества помогающие от Weaken помогают и от Knockdown. (#8130)
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/ninja.dm
Labels: none

local: Перевод кухонной машинерии + TGUI (#8064)
  code/datums/components/twohanded.dm
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/mixing_bowl.dm
  code/game/objects/items/trash.dm
  code/modules/food_and_drinks/food/foods/desserts.dm
  code/modules/food_and_drinks/food/foods/junkfood.dm
  code/modules/food_and_drinks/kitchen_machinery/candy_maker.dm
  code/modules/food_and_drinks/kitchen_machinery/cereal_maker.dm
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
  code/modules/food_and_drinks/kitchen_machinery/food_grill.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/grill_new.dm
  code/modules/food_and_drinks/kitchen_machinery/icecream_vat.dm
  code/modules/food_and_drinks/kitchen_machinery/juicer.dm
  code/modules/food_and_drinks/kitchen_machinery/kitchen_machine.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/kitchen_machinery/oven_new.dm
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
  icons/obj/food/food.dmi
  icons/obj/trash.dmi
  tgui/packages/tgui/interfaces/Healthanalyzer.tsx
  tgui/packages/tgui/interfaces/IcecreamMachine.tsx
  tgui/packages/tgui/interfaces/KitchenMachine.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :art: Спрайты

bugfix: Golem runtime (#8241)
  code/modules/mob/living/carbon/human/species/golem.dm
Labels: none

bugfix: Shockpaddles borg fix (#8242)
  code/game/objects/items/weapons/defib.dm
Labels: none

bugfix: Исправление бага с горением турели (#8245)
  code/game/machinery/portable_turret.dm
Labels: none

image: респрите хитсканов каттера (#8244)
  code/game/objects/effects/temporary_visuals/projectile/impact.dm
  code/game/objects/effects/temporary_visuals/projectile/muzzle.dm
  code/game/objects/effects/temporary_visuals/projectile/tracer.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/weapons/guns/projectiles_impact.dmi
  icons/obj/weapons/guns/projectiles_muzzle.dmi
  icons/obj/weapons/guns/projectiles_tracer.dmi
Labels: :art: Спрайты

add/del: expand garland days by changing new year and xmas date, removed "boxing" holiday (#8239)
  code/modules/holiday/holiday.dm
Labels: none

bugfix: Исправление отсутствия раундэнда у дьявола (#8248)
  code/modules/antagonists/devil/devil_ritual.dm
Labels: none

bugfix/refactor: Intercom and light switch constructions fix (#8246)
  _maps/map_files/debug/fast_load_multiz.dmm
  code/__DEFINES/construction.dm
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/atoms.dm
  code/__HELPERS/global_lists.dm
  code/game/machinery/defib_mount.dm
  code/game/machinery/lightswitch.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/mountable_frames/air_alarm.dm
  code/game/objects/items/mountable_frames/apc_frame.dm
  code/game/objects/items/mountable_frames/buttons_switches.dm
  code/game/objects/items/mountable_frames/extinguisher_frame.dm
  code/game/objects/items/mountable_frames/fire_alarm.dm
  code/game/objects/items/mountable_frames/frames.dm
  code/game/objects/items/mountable_frames/intercom.dm
  code/game/objects/items/mountable_frames/lights.dm
  code/game/objects/items/mountable_frames/mountables.dm
  code/game/objects/items/mountable_frames/newscaster_frame.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mining/ash_walkers/torch_holder.dm
Labels: :world_map: Изменение карты

tweak: UI киборгов теперь позволяет открывать диспетчер законов (#8230)
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/robot.dm
  icons/mob/screen_robot.dmi
Labels: :art: Спрайты

add: RnD Cargo Console (#8202)
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/computer/buildandrepair.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  icons/obj/machines/computer.dmi
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/CargoConsole.tsx
  tgui/packages/tgui/interfaces/QuestConsole.tsx
  tgui/packages/tgui/interfaces/RndConsole.tsx
  tgui/packages/tgui/interfaces/RndConsoleComponents/MainMenu.tsx
  tgui/packages/tgui/interfaces/RndConsoleComponents/SettingsMenu.tsx
  tgui/packages/tgui/interfaces/RndConsoleComponents/types.ts
  tgui/packages/tgui/styles/themes/cargo.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :art: Спрайты, :world_map: Изменение карты

add: Электронка (#8152)
  code/__DEFINES/achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/uplink_item.dm
  code/game/objects/items/misc.dm
  code/modules/vending/cigarette.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
  icons/ui_icons/achievements/achievements.dmi
  sound/misc/ecig.ogg
  sound/misc/ecig_female.ogg
  sound/misc/ecig_male.ogg
Labels: :art: Спрайты, :sound: Звук

tweak: Follow links (#8247)
  code/__DEFINES/say.dm
  code/__HELPERS/chat.dm
  code/datums/components/deadchat_control.dm
  code/datums/emote/emote.dm
  code/datums/spells/alien_spells/whisper.dm
  code/game/dna/genes/vg_powers.dm
  code/game/gamemodes/miniantags/borer/borer.dm
  code/game/gamemodes/miniantags/demons/demon.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/gamemodes/miniantags/guardian/host_actions.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/machinery/dance_machine.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/ion_storm.dm
  code/modules/mining/lavaland/loot/hierophant_loot.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/ghost.dm
  code/modules/mob/mob_helpers.dm
  code/modules/pda/messenger.dm
Labels: none

server: Gemini review (#8251)
  .gemini/config.yaml
  .gemini/styleguide.md
Labels: :book: Документация

server: Gemini promt fix (#8254)
  .gemini/config.yaml
  .gemini/styleguide.md
Labels: :book: Документация

server: Gemini promt improve (#8255)
  .gemini/config.yaml
  .gemini/styleguide.md
Labels: :book: Документация

server: Gemini promt improve again [ci skip] (#8256)
  .gemini/styleguide.md
Labels: :book: Документация

server/bugfix: Launch fast_load task (#8250)
  .vscode/launch.json
  .vscode/tasks.json
Labels: :hammer_and_wrench: Инструменты

bugfix: Офицер Синдиката снова доступен для выбора (#8258)
  code/game/jobs/job/syndicate.dm
Labels: none

refactor/local: Gifts and Santabags (#8259)
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  code/__DEFINES/logs.dm
  code/game/atoms.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/weapons/gift.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/game/objects/items/weapons/misc.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/awaymissions/mission_code/evil_santa.dm
  code/modules/holiday/christmas.dm
  code/modules/holiday/new_year.dm
  icons/obj/storage/wrapping.dmi
  paradise.dme
  tools/UpdatePaths/Scripts/8259_gift_renaming.txt
Labels: :art: Спрайты, :world_map: Изменение карты, :hammer_and_wrench: Инструменты

bugfix: Фикс погоды и крампуса (#8261)
  code/datums/spells/devil.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/area/ss13_areas.dm
  code/game/objects/effects/snowcloud.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: none

tweak: Вилы Крампуса, разрушающие аирлоки (#8262)
  code/datums/spells/devil.dm
  code/game/area/ss13_areas.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: none

balance: Баланс спавна крампуса (#8263)
  code/datums/weather/weather_types/snow_storm.dm
  code/modules/antagonists/devil/krampus.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: none
