Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

balance: Телепорт культа крови теперь с задержкой + правки (#7707)
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/runes.dm
  code/modules/antagonists/devil/imp/imp.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  code/modules/mob/living/simple_animal/posessed_object.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
Labels: none

balance: Фикс багов дюпа в экспериментаторе (#7717)
  code/modules/anomalies/anomalies/anomaly.dm
  code/modules/research/experimentor.dm
Labels: none

balance: Дали возможность стрелять SP-91 с одной руки (#7718)
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

bugfix: порт плейнов погоды с тг (#7719)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/plane_master/plane_master_group.dm
  code/_onclick/hud/plane_master/plane_master_subtypes.dm
  code/datums/components/hide_weather_planes.dm
  code/datums/weather/weather.dm
  paradise.dme
Labels: none

imageadd: пачка респрайтов разной машинерии (#7720)
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/recharger.dm
  code/modules/hydroponics/hydroponics.dm
  icons/obj/hydroponics/equipment.dmi
  icons/obj/hydroponics/growing_fruits.dmi
  icons/obj/stationobjs.dmi
  paradise.dme
Labels: :art: Спрайты, :world_map: Изменение карты

bugfix: Несколько правок для дьявола (#7724)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/nova/nova.dmm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/devil/devil_bane.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: :world_map: Изменение карты

bugfix: Багфиксы de_kerberos_2 (#7723)
  code/game/jobs/job/de_kerberos_2.dm
  code/game/objects/items/weapons/cards_ids.dm
Labels: none

bugfix: Фиксы после мержа CI (#7732)
  .vscode/settings.json
  code/__DEFINES/clothing.dm
  code/controllers/subsystem/text_to_speech.dm
  tools/ci/check_grep2.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix/balance: Фикс карбона-дьявола (#7731)
  code/__DEFINES/traits/declarations.dm
  code/datums/elements/devil_regen.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: none

bugfix: Удалена возможность бесконечных адреналов (#7726)
  code/game/objects/items/weapons/implants/implant.dm
Labels: none

tweak: починил поломанную вместимость пояса и тулбокса (#7734)
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: none

bugfix: режим техобслуживания и алерт мехов (#7736)
  code/game/mecha/mecha.dm
Labels: none

server: Improved CI error output (#7738)
  tools/ci/check_grep2.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

server/bugfix: Implementation trait_validity.py (#7759)
  .github/workflows/ci.yml
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/macros.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/modules/projectiles/projectile/shrapnel.dm
  paradise.dme
  tools/ci/trait_validity.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix: Исправление спрайта магазина SP-91-RC (#7748)
  code/modules/projectiles/ammunition/magazines.dm
Labels: none

bugfix: добавляет пии кнопку Назад в записях меда и сб (#7730)
  code/modules/mob/living/silicon/pai/software/pai_apps.dm
  tgui/packages/tgui/interfaces/PAI.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

Revert "balance: Дали возможность стрелять SP-91 с одной руки" (#7751)
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

tweak: Исправление описания магазинов стечкина и набора метательных предметов в аплинке (#7757)
  code/datums/uplink_item.dm
Labels: none

balance: Мелкий баланс мультизет штук (#7716)
  _maps/common.dm
  _maps/map_files/debug/fast_load_multiz.dmm
  code/__DEFINES/movement.dm
  code/controllers/subsystem/mapping.dm
  code/game/atoms_movable.dm
  code/game/objects/structures/grille.dm
  code/modules/map_fluff/fast_load.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/mob_movement.dm
  code/modules/spacepods/spacepod.dm
Labels: :world_map: Изменение карты

add: Новая болезнь после пересадки мозга (#7743)
  code/__DEFINES/organ_defines.dm
  code/datums/components/defibrillator.dm
  code/datums/diseases/brain_transplant_syndrome.dm
  code/datums/diseases/critical.dm
  code/datums/spells/cluwne.dm
  code/game/machinery/cloning.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
  code/modules/mob/living/simple_animal/hostile/mining/hivelord.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/organs/autoimplanter.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/vending/medical.dm
  icons/obj/hypo.dmi
  paradise.dme
Labels: :art: Спрайты

bugfix: Хим Мастер теперь позволяет использовать кастомные имена (#7754)
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

image: замена иконки стоячего сейфа на 3:4 вариант (#7725)
  icons/obj/structures.dmi
Labels: :art: Спрайты

add: Добавление самодельного глушителя (#7733)
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/crafting/recipes.dm
  code/modules/projectiles/gun_module.dm
  code/modules/vending/gun_mods.dm
  icons/obj/weapons/attachments.dmi
Labels: :art: Спрайты

bugfix: рантайм при перемещении eye в null пространстве (#7737)
  code/_onclick/hud/hud.dm
Labels: none

bugfix: Перекраска в стиральной машинке (#7745)
  code/game/machinery/washing_machine.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/tooltip/tooltip.dm
Labels: none

imageadd: Новые контрабандные постеры (#7747)
  code/game/objects/effects/decals/contraband.dm
  icons/obj/contraband.dmi
Labels: :art: Спрайты

balance: Убирает требование двух рук и разброс при использовании голосигары (#7756)
  code/datums/components/fullauto.dm
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/modules/projectiles/accuracy.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/recoil.dm
Labels: none

bugfix: Исправление бага с пустыми руками (#7768)
  code/modules/mob/living/carbon/update_icons.dm
Labels: none

bugfix: Теперь в Orion Trail неудача при сохранении скорости не ломает игровой автомат (#7769)
  code/game/machinery/computer/arcade.dm
Labels: none

add: категории торговых автоматов (порт с TG) (#7650)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/RandomRuins/SpaceRuins/turretedoutpost.dmm
  _maps/map_files/RandomZLevels/evil_santa.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/nova/nova.dmm
  _maps/map_files/nova/submaps/EastMaintenance.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/vending_items.dm
  code/modules/vending/_vending.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/clothesmate_department.dm
  code/modules/vending/coffee.dm
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :world_map: Изменение карты

фикс дельтовской сабмапы "старый СМ" (#7771)
  _maps/map_files/Delta/submaps/old_sm_room.dmm
Labels: :world_map: Изменение карты

balance: изменения стимулятора (#7763)
  code/datums/uplink_item.dm
Labels: none

add: Текстуры мультиметру и ЭМИ воздействие (#7744)
  code/game/objects/items/tools/multitool.dm
  code/modules/research/experimentor.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/tools_lefthand.dmi
  icons/mob/inhands/tools_righthand.dmi
  icons/obj/assemblies.dmi
  icons/obj/device.dmi
Labels: :art: Спрайты

bugfix/tweak: Несколько правок, связанных с режимом dk2 (#7772)
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  code/__DEFINES/mapping.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttles.dm
  code/datums/helper_datums/map_template.dm
  code/game/gamemodes/de_kerberos_2/de_kerberos_2.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/weapons/mortar_shells.dm
  code/modules/map_fluff/de_kerberos_2.dm
  code/modules/map_fluff/maps.dm
  code/modules/shuttle/shuttle.dm
Labels: :world_map: Изменение карты

tweak/bugfix: Слаймы теперь могут менять пол & Экшн кнопки у слаймов теперь в одной & Новые спрайты иконок у слаймов (#7721)
  code/__HELPERS/global_lists.dm
  code/datums/action.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  icons/mob/actions/actions.dmi
Labels: :art: Спрайты

balance: Полностью автоматический C-20rm для нюкеров (#7407)
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

bugfix: Теперь оверлеи батареек обновляются при извлечении, емп и увеичении макс заряда (#7775)
  code/modules/power/cell.dm
Labels: none

add: Менюшка смайтам, новые смайты (#7767)
  code/__DEFINES/announce_defines.dm
  code/__DEFINES/smites.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/lists/typecache.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/brainrot_braingamage.dm
  code/datums/components/killing_reward.dm
  code/datums/diseases/viruses/transformation.dm
  code/game/machinery/doors/airlock.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/smites.dm
  code/modules/admin/verbs/admin_lightning_bolt.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/events/immovable_rod.dm
  code/modules/food_and_drinks/food/foods/baked_goods.dm
  code/modules/paperwork/faxmachine.dm
  paradise.dme
  tgui/packages/tgui/interfaces/SmiteMenu.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

map: Nova Небольшой фикс сабмапы (#7776)
  _maps/map_files/nova/submaps/AbondonedMed.dmm
Labels: :world_map: Изменение карты

add: реворк спящего карпа (#7762)
  code/datums/uplink_item.dm
  code/modules/martial_arts/combos/sleeping_carp/back_kick.dm
  code/modules/martial_arts/combos/sleeping_carp/crashing_kick.dm
  code/modules/martial_arts/combos/sleeping_carp/elbow_drop.dm
  code/modules/martial_arts/combos/sleeping_carp/gnashing_teeth.dm
  code/modules/martial_arts/combos/sleeping_carp/head_kick.dm
  code/modules/martial_arts/combos/sleeping_carp/keelhaul.dm
  code/modules/martial_arts/combos/sleeping_carp/stomach_knee.dm
  code/modules/martial_arts/combos/sleeping_carp/wrist_wrench.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/sleeping_carp.dm
  paradise.dme
Labels: none
