Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

add: Добавление прогрессбара перезарядки магазинов и спидлоадеров (#8074)
  code/__DEFINES/gun.dm
  code/__DEFINES/is_helpers.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

bugfix: Исправление кд кликов для эшкн кнопок (#8101)
  code/_onclick/hud/action_button.dm
  code/datums/actions/action.dm
  code/datums/spell.dm
Labels: none

image: исправление спрайта комбат дробовика на слоте рюкзака в положении лево. (#8103)
  icons/mob/clothing/back.dmi
Labels: :art: Спрайты

bugfix: изменение порядка рендера предметов в suit_storage. (#8105)
  code/__DEFINES/mobs.dm
Labels: none

bugfix: название печатаемого объекта в экзофабе (#8104)
  code/game/mecha/mech_fabricator.dm
Labels: none

image: респрайт ящиков (#8109)
  icons/obj/closet.dmi
  icons/obj/crates.dmi
Labels: :art: Спрайты

image: Твики спрайтов ящиков (#8111)
  icons/obj/crates.dmi
Labels: :art: Спрайты

image: Фикс+респрайт дробовиков на спине, и обреза в руках. (#8114)
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
Labels: :art: Спрайты

tweak: Теперь под консолью повер монитора есть узел провода на мостике. (#8117)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

image: чёрные перчатки теперь чёрные а не серые. (#8116)
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/species/drask/gloves.dmi
  icons/mob/clothing/species/grey/gloves.dmi
  icons/mob/clothing/species/monkey/gloves.dmi
  icons/mob/clothing/species/vox/gloves.dmi
  icons/mob/inhands/gloves_lefthand.dmi
  icons/mob/inhands/gloves_righthand.dmi
  icons/obj/clothing/gloves.dmi
Labels: :art: Спрайты

balance: врины неуязвимы к космосу (#8027)
  code/modules/mob/living/carbon/human/species/wryn.dm
Labels: none

spellcheck: энергитическое -> энергетическое (#8121)
  code/game/objects/items/weapons/secspear.dm
Labels: none

spellcheck: энергитическое -> энергетическое ч2 (#8122)
  code/datums/secspear_mode.dm
Labels: none

server: Маплинт теперь указываеь проблемную строку в проверке parse_var_edit (#8123)
  tools/maplint/source/dmm.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix: Энергокопье теперь нельзя заточить (#8124)
  code/game/objects/items/weapons/secspear.dm
Labels: none

balance: Нерф телескопического энергокопья (#8125)
  code/datums/secspear_mode.dm
Labels: none

tweak/bugfix: Апдейт визуала энергtтического копья + фикс багов (#8127)
  code/__DEFINES/colors.dm
  code/datums/secspear_mode.dm
  code/game/objects/items/weapons/secspear.dm
Labels: none

tweak: Почему то забыли поменять window у движков 3 эскейп пода (#8129)
  _maps/map_files/generic/CentComm.dmm
Labels: :world_map: Изменение карты

bugfix/refactor: сортировка датумов джобок для меню выбора профессий (#8106)
  code/__DEFINES/job.dm
  code/controllers/subsystem/jobs.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/service.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/supply.dm
  code/modules/client/preference/preferences.dm
  code/modules/economy/Job_Departments.dm
  paradise.dme
Labels: none

fix: Яица терроров (#8126)
  code/modules/mob/living/simple_animal/hostile/terror_spiders/chem.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: none

bugfix: Исправлен баг консоли карго (#8134)
  code/controllers/subsystem/shuttles.dm
  code/modules/economy/quests/_base_quests.dm
  code/modules/economy/quests/centcomm_departaments.dm
  code/modules/economy/quests/quest_console.dm
Labels: none

del: Перенос пива2 в щитспавн, сервисный борг получает синдикатский тесак (#8132)
  code/_globalvars/lists/reagents.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/recipes/drinks.dm
  code/modules/research/experimentor.dm
Labels: none

spellcheck: ] в сообщении о падении (#8131)
  code/modules/mob/living/living.dm
Labels: none

tweak: Мини-монтировку можно сделать в протолате (#8133)
  code/modules/research/designs/protolathe/equipment_designs.dm
Labels: none

bugfix: Нулевой спрайт морг двери (#8135)
  code/game/machinery/doors/door.dm
  code/game/objects/effects/glowshroom.dm
Labels: none

bugfix: В спейспод можно залезть (#8136)
  code/__HELPERS/atoms.dm
  code/modules/spacepods/spacepod.dm
Labels: none

refactor: Moved emagged var to be object level (#8139)
  code/game/machinery/constructable_frame.dm
  code/game/machinery/doors/access_control.dm
  code/game/machinery/machinery.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/control_wand.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/devices/whistle.dm
  code/game/objects/items/tools/holotool.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/objs.dm
  code/game/objects/structures/barsign.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/economy/EFTPOS.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/sibyl/sibyl_system_mod.dm
  code/modules/reagents/reagent_containers/applicator.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/organs/heart.dm
  code/modules/telesci/rcs.dm
Labels: none

bugfix: Don't try to run queries, if the database is not enabled. (#8138)
  code/controllers/subsystem/dbcore.dm
Labels: none

bugfix/refactor: Хардкод голотула (#8137)
  code/__DEFINES/colors.dm
  code/datums/actions/item_action.dm
  code/datums/holotool_mode.dm
  code/game/objects/items/tools/holotool.dm
  paradise.dme
Labels: none

balance: Ослабление таймстопа Ратвара (#8118)
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

balance: Усиление криоксадона. (#8110)
  code/_globalvars/lists/reagents.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: none

add: Порт Sanguine reagent - Сангвиний (#8088)
  code/__DEFINES/layers.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/status_effects/debuffs.dm
  code/datums/uplink_item.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: none

local: Перевод шахтёрских штучек (#8047)
  code/datums/components/twohanded.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/game/objects/structures/spawner.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mining/equipment/upgrades.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/telesci/gps.dm
Labels: none

bugfix/del: Исправление ошибки с отсутствием гострадио у обзерверов + удаление ненужного админского префа (#8141)
  code/__DEFINES/preferences.dm
  code/game/machinery/tcomms/_base.dm
  code/modules/client/preference/preference_info.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: none

bugfix: Исправление ошибки с застрявшей куклой при клонировании (#8140)
  code/game/machinery/cloning.dm
Labels: none

bugfix: Fixing UnicodeDecodeError in map linting (#8142)
  tools/maplint/source/__main__.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

refactor: Звуковые циклы и отдельная сабсистема для них (#8145)
  _maps/__MAP_DEFINES.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/_lists.dm
  code/_globalvars/lists/misc.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/sound_loops.dm
  code/datums/components/area_sound_manager.dm
  code/datums/components/object_possession.dm
  code/datums/elements/weather_listener.dm
  code/datums/looping_sounds/looping_sound.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/mecha/working/gigadrill.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/devices/thermal_drill.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/twohanded.dm
  code/game/objects/structures/watercloset.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/client/preference/preferences_volume_mixer.dm
  code/modules/map_fluff/event.dm
  code/modules/mob/login.dm
  code/modules/power/port_gen.dm
  code/modules/vehicle/ambulance.dm
  code/modules/vehicle/vehicle_actions.dm
  paradise.dme
Labels: none

bugfix: починка требований к часам для ролей (#8153)
  code/game/jobs/job/security.dm
  code/game/jobs/job/service.dm
  code/game/jobs/job/supply.dm
Labels: none

imageadd: инхэды ботинков и шляпы рефлеткорки (#8151)
  code/modules/clothing/gloves/miscellaneous.dm
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
Labels: :art: Спрайты

bugfix: Исправление рантаймов и ошибок разной степени критичности (#8154)
  code/controllers/subsystem/ticker.dm
  code/game/objects/items/weapons/secspear.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/client/client_procs.dm
  code/modules/keybindings/setup.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/new_player/new_player.dm
Labels: none
