Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

bugfix: Асинхронный мультиинстанс + фикс неудаляемого запроса к бд (#8161)
  code/controllers/subsystem/instancing.dm
  code/controllers/subsystem/mapping.dm
Labels: none

tweak: Вынос части конфигов в репозиторий + ребаланс ивентов (#8162)
  .gitignore
  code/controllers/configuration/configuration.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/miniantags/changeling_slug/changeling_slug_event.dm
  code/game/gamemodes/miniantags/space_dragon/space_dragon.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/contractor.dm
  code/modules/events/event_container.dm
  code/modules/events/lone_operative.dm
  code/modules/events/ninja.dm
  code/modules/events/slaughterevent.dm
  code/modules/events/spider_terror.dm
  code/modules/vote/vote_presets.dm
  config/events.txt
  config/example/config.txt
  config/example/game_options.txt
  config/game_modes.txt
  config/logs.txt
  config/maps.txt
Labels: :gear: Изменение конфига

config: Отключение рут лога (#8163)
  config/logs.txt
Labels: :gear: Изменение конфига

config: Актуализация весов режимов (#8164)
  config/game_modes.txt
Labels: :gear: Изменение конфига

config: Переименование настройки рут лога (#8165)
  code/__HELPERS/_logging.dm
  code/controllers/configuration/entries/config.dm
  config/logs.txt
Labels: :gear: Изменение конфига

bugfix: Постоянный root_log для тестов (#8166)
  code/__HELPERS/_logging.dm
Labels: none

bugfix: Исправление кейбиндов экшенов (#8169)
  code/modules/keybindings/setup.dm
Labels: none

bugfix: Исправление рантайма в тестах (#8170)
  code/__HELPERS/_logging.dm
Labels: none

bugfix: Исправление гена кошкоушек (#8167)
  code/modules/admin/topic.dm
  icons/effects/genetics.dmi
Labels: :art: Спрайты

bugfix/config: Изменения веса ратварикам (#8168)
  config/game_modes.txt
Labels: :gear: Изменение конфига

bugfix: откат асинхронного мультиинстанса (#8173)
  code/controllers/subsystem/instancing.dm
Labels: none

del/map: z2_old [MDB IGNORE] (#8149)
  _maps/map_files/generic/z2_old.dmm
Labels: :world_map: Изменение карты

bugfix: Исправление ошибок в ролле ивентов (#8181)
  code/modules/events/contractor.dm
  code/modules/events/lone_operative.dm
Labels: none

qol: security belt-shoulder system будет иметь карманы (#8177)
  code/modules/client/preference/loadout/loadout_suit.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/storage.dm
  code/modules/vending/clothesmate_department.dm
Labels: none

add: Холодильники с кровью в мед с мед доступом (#8178)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/nova/nova.dmm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: :world_map: Изменение карты

balance: Уменьшена дальность бросков тел (#8179)
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: none

bugfix/refactor: Станционное объявление ИИ снова имеет кулдаун в минуту (#8174)
  code/defines/procs/announcer_datum.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
  code/modules/shuttle/emergency.dm
Labels: none

bugfix/tweak: parallel = FALSE for fliptonium spinning (#8172)
  code/modules/reagents/chemistry/reagents/drugs.dm
Labels: none

balance: Удаляем прогрессбар на перезарядку оружия обратно (#8175)
  code/modules/projectiles/guns/projectile.dm
Labels: none

server: Skip maplint (#8156)
  tools/maplint/README.md
  tools/maplint/source/lint.py
Labels: :snake: Python, :book: Документация, :hammer_and_wrench: Инструменты

add: Manul plushie(Press F) (#8146)
  _maps/map_files/generic/CentComm.dmm
  code/game/objects/items/toys.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

tweak: Удалена возможность голосования за автошаттл для гостов и гост-ролей (#8158)
  code/controllers/configuration/entries/config.dm
  code/modules/vote/vote_datum.dm
  code/modules/vote/vote_presets.dm
  code/modules/vote/vote_verb.dm
  config/example/config.txt
Labels: :gear: Изменение конфига

map: Больше нет переключателей света в стекле на дельте (#8184)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

bugfix/add: AI alarm now working (#8186)
  code/__DEFINES/mobs.dm
  code/controllers/subsystem/shuttles.dm
  code/game/machinery/computer/ai_core.dm
  code/game/mecha/mecha.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/mob/transform_procs.dm
Labels: none

add: баннер с расходами на содержание сервера + ачивки за донат (#8107)
  .gitignore
  code/__DEFINES/achievements.dm
  code/__DEFINES/donations.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/achievements.dm
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/donations.dm
  code/controllers/subsystem/donations.dm
  code/datums/achievements/donations.dm
  code/modules/asset_cache/assets/asset_achievements.dm
  code/modules/client/client_procs.dm
  config/donations_text.txt
  config/example/donations.txt
  icons/ui_icons/achievements/achievements.dmi
  paradise.dme
  tgui/packages/common/string.ts
  tgui/packages/tgui-panel/Panel.tsx
  tgui/packages/tgui-panel/assets/boosty.svg
  tgui/packages/tgui-panel/assets/discord.svg
  tgui/packages/tgui-panel/assets/ko-fi.svg
  tgui/packages/tgui-panel/donations/Donations.tsx
  tgui/packages/tgui-panel/donations/actions.ts
  tgui/packages/tgui-panel/donations/hooks.ts
  tgui/packages/tgui-panel/donations/index.ts
  tgui/packages/tgui-panel/donations/reducer.ts
  tgui/packages/tgui-panel/donations/selectors.ts
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui-panel/styles/components/Donations.scss
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui/styles/components/RoundGauge.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :art: Спрайты, :gear: Изменение конфига

qol: Добавлено автонаведение на самую пострадавшую часть тела при использовании бинтов, китов и зашивалок (#8176)
  code/game/objects/items/stacks/medical.dm
Labels: none

balance: ребаланс отдела снабжения (#8183)
  _maps/map_files/Delta/delta.dmm
  code/modules/economy/quests/_base_quests.dm
  code/modules/economy/quests/quest_console.dm
  code/modules/economy/quests/reagents_quests.dm
  code/modules/economy/quests/thing_quests.dm
Labels: :world_map: Изменение карты

tweak: deathgasp stun (#8189)
  code/modules/mob/living/living_emote.dm
Labels: none

tweak: bshake трясун (#8190)
  code/modules/mob/living/living_emote.dm
Labels: none

bugfix: Customat TGUI (#8188)
  code/game/machinery/customat.dm
  tgui/packages/tgui/interfaces/Customat.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

refactor/map: Directional intercom and resprite (#8147)
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/Delta/submaps/dorm_maints_near_toilet.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_pirateship.dmm
  _maps/map_files/RandomRuins/SpaceRuins/dj.dmm
  _maps/map_files/RandomRuins/SpaceRuins/listeningpost.dmm
  _maps/map_files/RandomRuins/SpaceRuins/old_station_ss1984.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacebar.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/coldcolony/Lavaland.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/generic/Admin_Zone.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/generic/syndicatebase.dmm
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
  _maps/map_files/nova/submaps/AbondonedLibrary.dmm
  _maps/map_files/nova/submaps/AbondonedMed.dmm
  _maps/map_files/nova/submaps/EastMaintenance.dmm
  _maps/map_files/shuttles/emergency_bar.dmm
  _maps/map_files/shuttles/emergency_clown.dmm
  _maps/map_files/shuttles/emergency_cyb.dmm
  _maps/map_files/shuttles/emergency_dept.dmm
  _maps/map_files/shuttles/emergency_meta.dmm
  _maps/map_files/shuttles/emergency_mil.dmm
  _maps/map_files/shuttles/emergency_narnar.dmm
  _maps/map_files/shuttles/emergency_old.dmm
  _maps/map_files/shuttles/ferry_base.dmm
  _maps/map_files/templates/piratbase.dmm
  _maps/map_files/templates/piratbase_ruin.dmm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  icons/obj/radio.dmi
  tools/UpdatePaths/Scripts/8147_intercom_directionals.txt
  tools/maplint/lints/directional_intercom.yml
Labels: :art: Спрайты, :world_map: Изменение карты, :hammer_and_wrench: Инструменты

map: Интеркомы больше не в воздухе и не загораживают кнопки (#8192)
  _maps/map_files/generic/CentComm.dmm
Labels: :world_map: Изменение карты

bugfix: Удален рецепт экспансивных пуль тауруса их автолата (#8191)
  code/modules/research/designs/protolathe/weapon_designs.dm
Labels: none

qol: Оверлей кровотечения на healthdoll (#8194)
  code/__DEFINES/combat.dm
  code/modules/mob/living/carbon/human/life.dm
  icons/mob/screen_gen.dmi
Labels: :art: Спрайты

config/balance: Вынос админрангов, настроек слотов хайпопа и лоупопа (#8198)
  .gitignore
  config/admin_ranks.txt
  config/example/jobs.txt
  config/example/jobs_highpop.txt
  config/jobs.txt
  config/jobs_highpop.txt
Labels: :gear: Изменение конфига

server: Обновление node в тестах и линтере (#8200)
  .github/workflows/compile_all_maps.yml
  .github/workflows/run_linters.yml
  .github/workflows/setup_build_artifact_game_tests.yml
  .github/workflows/setup_build_artifact_station_tests.yml
  .github/workflows/testmerge.yml
Labels: :hammer_and_wrench: Инструменты

add/refactor: Дебаг кнопка для перегенерации ассетов (#8195)
  code/__DEFINES/_statpanel.dm
  code/__DEFINES/byond_tracy.dm
  code/__HELPERS/unique_ids.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/controllers/master.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/debugview.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/verb_manager.dm
  code/controllers/verbs.dm
  code/game/objects/explosion.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/BrokenInhands.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/debug_dmjit.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/space_transitions.dm
  code/modules/admin/verbs/ticklag.dm
  code/modules/admin/verbs/toggledebugverbs.dm
  code/modules/admin/verbs/view_instances.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/asset_cache/assets/asset_achievements.dm
  code/modules/asset_cache/transports/asset_transport.dm
  code/modules/client/client_procs.dm
  code/modules/mob/mob.dm
  code/modules/procedural_mapping/mapGenerator.dm
  code/modules/research/experimentor.dm
  paradise.dme
Labels: none

tweak: deathgasp cooldown (#8203)
  code/modules/mob/living/living_emote.dm
Labels: none

map/bugfix: Интеркомы не перекрывают кнопки в медбее (#8201)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

bugfix: preparePixelProjectile runtime fixes (#8215)
  code/datums/components/pellet_cloud.dm
  code/datums/diseases/viruses/advance/symptoms/limb_throw.dm
  code/datums/spells/lavaland_spells/watchers_look.dm
  code/modules/mining/lavaland/loot/bubblegum_loot.dm
  code/modules/projectiles/firing.dm
Labels: none
