Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

add: Фильтр голоса для sechailer масок (#8469)
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/sound.dm
  code/controllers/subsystem/text_to_speech.dm
  code/datums/elements/tts_modifier.dm
  code/game/sound/sound.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  paradise.dme
Labels: none

tweak: сила теперь заметна при шифт клике (#8493)
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

bugfix: Фикс форматирования чата у ИИ (#8550)
  code/modules/mob/living/silicon/ai/ai_say.dm
Labels: none

add:Новое ТГУИ для ботов (#8488)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/old_station_ss1984.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  _maps/map_files/RandomZLevels/centcomAway.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/nova/nova.dmm
  _maps/map_files/nova/submaps/AbondonedMed.dmm
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  tgui/packages/tgui/interfaces/Bots.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :world_map: Изменение карты

balance: антитела вирусу лояльности (#8473)
  code/datums/diseases/viruses/_virus.dm
  code/datums/diseases/viruses/loyalty_syndrome.dm
  code/modules/reagents/chemistry/machinery/pandemic.dm
Labels: none

add: замена РПЕДом батарейки в АПЦ (#8485)
  code/modules/power/apc.dm
Labels: none

tweak: увеличение размера тела человека с геном халка (#8489)
  code/game/dna/genes/powers.dm
Labels: none

tweak: мини анимация для эмоута вращения в руках (#8549)
  code/modules/mob/living/carbon/carbon_emote.dm
Labels: none

server: DECLENT_RU_CAP promt fix [ci skip] (#8560)
  .gemini/styleguide.md
Labels: :book: Документация

bugfix: Фикс пушки органов (#8576)
  code/modules/mod/modules/modules_medical.dm
Labels: none

bugfix: Персонаж правильно держит молот ратвара (#8571)
  icons/mob/inhands/twohanded_lefthand.dmi
  icons/mob/inhands/twohanded_righthand.dmi
Labels: :art: Спрайты

bugfix: поды вновь стали защищать от космоса (#8568)
  code/modules/spacepods/spacepod.dm
Labels: none

admin: Select Equipment фикс спавна Греев (#8575)
  code/modules/admin/verbs/debug.dm
Labels: none

refactor/bugfix: Necropolis room init (#8566)
  code/game/objects/effects/landmarks.dm
  code/modules/ruins/lavalandruin_code/necropolis_lavalend.dm
Labels: none

bugfix/refactor: Chat fix (#8564)
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
Labels: none

admin: Re-register Docking Ports Verb (#8565)
  code/controllers/subsystem/shuttles.dm
Labels: none

tweak: fake tacticool has sensors (#8526)
  code/modules/clothing/under/syndicate.dm
Labels: none

map: Пачка багфиксов коробки (#8558)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: :world_map: Изменение карты

tweak: Расширение списка разрешенных предметов у лаб. халата (#8570)
  code/modules/clothing/suits/labcoat.dm
Labels: none

add: Runechat update (#8572)
  code/__DEFINES/preferences.dm
  code/game/dna/genes/vg_powers.dm
  code/game/verbs/ooc.dm
  code/modules/client/preference/preference_info.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
  code/modules/mob/language.dm
  interface/skin.dmf
Labels: none

tweak: Микро баф мед перчаток из РНД (#8578)
  code/modules/clothing/gloves/color.dm
Labels: none

tweak/bugfix: Скилл-визор флеш защита / Спишес спрайт очков БЩ (#8584)
  code/modules/clothing/glasses/hud.dm
Labels: none

admin: Удаление некоторых опасных кнопок у триалов (#8587)
  code/modules/admin/smites.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/striketeam_syndicate.dm
Labels: none

refactor: Bans sleep from Initialize (#8581)
  code/__DEFINES/callbacks.dm
  code/datums/ruins/bridges.dm
  code/game/atom/atoms_initializing_EXPENSIVE.dm
  code/game/atoms.dm
  code/game/gamemodes/clockwork/cogscarab.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/safe.dm
  code/modules/anomalies/anomalies/anomaly.dm
  code/modules/anomalies/anomalies/energetic.dm
  code/modules/anomalies/anomalies/vortex.dm
  code/modules/anomalies/anomaly_generator.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/awaymissions/map_rng.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/ruins/lavalandruin_code/necropolis_lavalend.dm
  paradise.dme
Labels: none

bugfix: Pack of runtime fixes (#8580)
  code/__HELPERS/_logging.dm
  code/_onclick/hud/hud.dm
  code/controllers/subsystem/jobs.dm
  code/datums/beam.dm
  code/datums/cinematics/cinematic_datum.dm
  code/datums/spells/lavaland_spells/watchers_look.dm
  code/game/gamemodes/clockwork/clockwork_gateway.dm
  code/game/gamemodes/clockwork/clockwork_mob.dm
  code/game/gamemodes/heist/heist.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/theft_items.dm
  code/game/objects/items/weapons/RCD.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/anomalies/anomalies/energetic.dm
  code/modules/antagonists/space_ninja/energy_katana.dm
  code/modules/antagonists/space_ninja/ninja_datum.dm
  code/modules/antagonists/terror_spiders/spider_team.dm
  code/modules/antagonists/xenomorth/xenomorph_team.dm
  code/modules/awaymissions/mission_code/ghost_role_spawners/golems.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/events/anomaly.dm
  code/modules/holomaps/machinery.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/update_status.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/gun.dm
Labels: none

refactor/tweak: Переработка и рефактор СБЭУ червя(космического червя) (#8589)
  code/modules/mob/living/simple_animal/hostile/spaceworms.dm
Labels: none

bugfix/refractor: Фикс логики звукового фильтра ТТС (#8556)
  code/datums/elements/tts_modifier.dm
  code/modules/mob/inventory.dm
Labels: none

add: Видно сколько гостов участвуют в раздаче (#8588)
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/ghost_spawns.dm
Labels: none

balance: восстановление старого веса культам (#8586)
  config/game_modes.txt
Labels: :gear: Изменение конфига

server: Documentation, templates, workflow, and gemini promt (#8595)
  .gemini/styleguide.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/assets/60-percent-of-the-time-works-every-time.svg
  .github/assets/fuck-it-ship-it.svg
  .github/guides/AUTODOC.md
  .github/guides/DOWNLOADING.md
  .github/guides/HARDDELETES.md
  .github/guides/MC_tab.md
  .github/images/README.md
  .github/images/badges/built-with-bugs.svg
  .github/images/badges/contains-copypaste.svg
  .github/images/badges/made-in-byond.gif
  .github/images/ss1984.gif
  .github/workflows/discord_pr_announce.yml
  .github/workflows/remove_guide_comments.yml
  .github/workflows/stale.yml
  README.md
  code/datums/components/COMPONENT_TEMPLATE.md
  code/datums/components/README.md
  code/datums/elements/ELEMENT_TEMPLATE.md
  tools/pull_request_hooks/removeGuideComments.js
Labels: :book: Документация, :hammer_and_wrench: Инструменты

add/local: система блэклистов и ТГУИ для серверов РнД и консоли серверов (#8579)
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  tgui/packages/tgui/interfaces/RdServerControl.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

server: Discord PR announce fix (#8600)
  .github/workflows/discord_pr_announce.yml
  .github/workflows/remove_guide_comments.yml
  .github/workflows/stale.yml
Labels: :hammer_and_wrench: Инструменты

server: Discord PR announce jokerge [ci skip] (#8601)
  .github/workflows/discord_pr_announce.yml
Labels: :hammer_and_wrench: Инструменты

code_imp: Bump FA to latest (#8596)
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-v4compatibility.ttf
Labels: :globe_with_meridians: HTML

server: Discord PR announce yeeeep [ci skip] (#8602)
  .github/workflows/discord_pr_announce.yml
Labels: :hammer_and_wrench: Инструменты

bugfix: Экзорамы не устанавливаются в аугменты (#8603)
  code/modules/surgery/robotics.dm
Labels: none

add: Новая пассивная способность генке (#8426)
  code/modules/antagonists/changeling/powers/chemical_synthesis.dm
  icons/mob/actions/actions.dmi
  paradise.dme
Labels: :art: Спрайты

add: Б.O.Р.И.С. модуль. Теперь на парашизе. (#8518)
  code/__DEFINES/hud.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/mobs.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  code/game/data_huds.dm
  code/game/gamemodes/clockwork/clock_magic.dm
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/computer/law.dm
  code/game/machinery/computer/robot.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/living/silicon/ai/laws.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/laws.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/laws.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/tgui/modules/law_manager.dm
  icons/mob/actions/actions.dmi
  icons/mob/hud.dmi
  icons/mob/screen_ai.dmi
  icons/obj/module.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/RoboticsControlConsole.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :art: Спрайты

add: хамелеон вещи видно только владельцу (#8582)
  code/datums/actions/item_action.dm
  code/modules/clothing/chameleon/_chameleon_actions.dm
Labels: none

tweak: апдейт стартовых лодаутов профессий (#8585)
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: none

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
