Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

balance: Убрать отбрасывание у биты и дать knockdown взамен (#7354)
  code/game/objects/items/weapons/weaponry.dm
Labels: none

tweak: bloodsplatter работает лучше (#7383)
  code/_onclick/item_attack.dm
Labels: none

bugfix: Изменение рецепта cure curse (#7386)
  code/modules/food_and_drinks/recipes/recipes_tribal.dm
Labels: none

server: Информация про [IDB IGNORE] в PR template (#7390)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :book: Документация, :hammer_and_wrench: Инструменты

spellcheck: Убирает плюс из сообщения голопада (#7392)
  code/modules/mob/hear_say.dm
Labels: none

bugfix: bloodsplatter при пацифизме и ГТ больше не вызывает жижу (#7384)
  code/_onclick/item_attack.dm
Labels: none

balance: Нерф стана культов (#7388)
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/cult/blood_magic.dm
Labels: none

balance: Небольшие правки способностей ниндзи, фикс хамелеона (#7389)
  code/__DEFINES/ninja.dm
  code/datums/helper_datums/icon_snapshot.dm
  code/modules/antagonists/space_ninja/drain_act/carbon.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/modules/antagonists/space_ninja/suit/suit.dm
Labels: none

image: Замена спрайтов антаг-худов для генокрада, мага и ученика (#7391)
  icons/mob/hud.dmi
Labels: :art: Спрайты

balance: Правки дьявола (#7394)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/devil.dm
  code/datums/datumvars.dm
  code/datums/spells/devil.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/changeling/changeling_datum.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/devil_banish.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: none

bugfix: Спрайты вариантов библий отображаются корректно (#7340)
  code/game/objects/items/weapons/storage/bible.dm
  icons/obj/library.dmi
  icons/obj/storage.dmi
Labels: :art: Спрайты

image: Красивые кнопки для способностей Генокрада и небольшая очистка файлов (#7334)
  icons/mob/actions/actions.dmi
  icons/mob/screen_gen.dmi
Labels: :art: Спрайты

balance: Более доступные патроны для предателей в аплинк (#7333)
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/weapons/ammo.dmi
Labels: :art: Спрайты

balance: Ребаланс пилы Синдиката (#7387)
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/twohanded.dm
Labels: none

del: Удаление маячков ГПС у мегафауны (#7385)
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining/elites/elite.dm
Labels: none

Заменил дверь у варда на не стеклянную, и убрал трубу в стене у ксено (#7330)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

add: Добавление набора Грифски (#7357)
  code/datums/syndiesupplypacks.dm
  code/game/objects/items/devices/radio/beacon.dm
Labels: none

add: Ген кошкоушей (#7364)
  code/__DEFINES/genetics.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/genetics.dm
  code/_globalvars/traits.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/gene.dm
  code/game/gamemodes/setupgame.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/effects/genetics.dmi
Labels: :art: Спрайты

bugfix: Названия продуктов хим мастера & ru_names таблеток, бутылок, патчей (#7396)
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: none

server: gitignore .dll (#7415)
  .gitignore
Labels: none

bugfix: Цель на количество культистов у культа ратвара больше не софтлокается (#7416)
  code/game/gamemodes/clockwork/clockwork_objectives.dm
Labels: none

bugfix: Набор "Грифски" теперь не убирает набор "Оцелот" в синди карго (#7413)
  code/datums/syndiesupplypacks.dm
Labels: none

bugfix: дополнение к предыдущему (#7417)
  code/game/gamemodes/clockwork/clockwork_objectives.dm
Labels: none

bugfix: Чинит стрельбу зараженным трофеем бестии (#7419)
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
Labels: none

bugfix: Добавление проверки для internals (#7422)
  code/modules/mob/living/carbon/life.dm
Labels: none

bugfix: исправление много-режимных HUD-очков капитана & ОСЩ (#7421)
  code/modules/clothing/glasses/hud.dm
Labels: none

bugfix: Фикс ошибок транзитных зон (#7423)
  code/controllers/subsystem/mapping.dm
Labels: none

bugfix: Починка спелла blood_pool и вцелом джаунта при пристегнутой кукле (#7429)
  code/datums/spells/ethereal_jaunt.dm
Labels: none

add: Тихий режим для диктофона (#7339)
  code/game/objects/items/devices/taperecorder.dm
Labels: none

balance: Динамический разброс оружия (#7342)
  code/modules/projectiles/accuracy.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/recoil.dm
Labels: none

tweak: Кнопка переключения для клив атаки (#7360)
  code/__DEFINES/dcs/signals.dm
  code/datums/action.dm
  code/datums/components/cleave_attack.dm
Labels: none

add: Однозарядный гранатомет с нелетальными гранатами в оружейку (#7348)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/generic/CentComm.dmm
  _maps/map_files/nova/nova.dmm
  code/datums/components/paint_splat.dm
  code/datums/supplypacks.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/watercloset.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/chemistry/reagents/water.dm
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/bombarda.dmi
  paradise.dme
Labels: :art: Спрайты, :world_map: Изменение карты

add: stars proc -> rust random replace (#7395)
  code/modules/mob/mob_helpers.dm
  librustlibs.so
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  rust/src/rand_replace/mod.rs
  rustlibs.dll
Labels: :crab: Rust

tweak: Руны теперь имеют свои цвета, как и задумывалось (#7398)
  code/game/gamemodes/cult/runes.dm
Labels: none

balance: Телепорты ниндзи игнорируют блюспейс вещи (#7399)
  code/datums/dash_weapon.dm
  code/datums/helper_datums/teleport.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_emergency_blink.dm
  code/modules/antagonists/space_ninja/suit/suit.dm
Labels: none

soundadd: Звук хождения по ошметкам (#7400)
  code/datums/elements/squish_sound.dm
  code/game/gamemodes/clockwork/clockwork_misc.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  paradise.dme
  sound/effects/footstep/gib_step.ogg
Labels: :sound: Звук

imageadd: Новая текстура для Бласт Дуров (#7402)
  icons/obj/doors/1x2blast_hor.dmi
  icons/obj/doors/1x2blast_vert.dmi
  icons/obj/doors/1x3blast_hor.dmi
  icons/obj/doors/1x3blast_vert.dmi
  icons/obj/doors/1x4blast_hor.dmi
  icons/obj/doors/1x4blast_vert.dmi
  icons/obj/doors/blastdoor.dmi
Labels: :art: Спрайты

tweak: Ребаланс мото-шлема + ру неймсы (#7408)
  code/game/machinery/vending.dm
  code/modules/clothing/head/helmet.dm
Labels: none

balance: Эффект запутанности ног от тазера при попадании в цель под адереналами, метом и прочим (#7409)
  code/__DEFINES/combat.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits/declarations.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/admin.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: none

tweak: Изменение лута с заброшенных ящиков и добавление оных на дельту (#7412)
  _maps/map_files/Delta/delta.dmm
  code/modules/mining/abandonedcrates.dm
Labels: :world_map: Изменение карты
