Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

bugfix: Ускорение ветра + возможное решение проблемы СМ (#8309)
  code/controllers/subsystem/air.dm
  code/modules/atmospherics/enviromental/LINDA_system.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/pipes/cap.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/multiz.dm
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/power/supermatter/supermatter.dm
  paradise.dme
  rust/src/milla/constants.rs
Labels: :crab: Rust

tweak: Вода испаряется при 100 градусах цельсия (#8311)
  code/__DEFINES/atmospherics.dm
  code/modules/reagents/chemistry/recipes/others.dm
Labels: none

code_impl: Сабсистема визуализации турфов (#8317)
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/turfs_visualization.dm
  code/modules/atmospherics/enviromental/LINDA_turf_tile.dm
  paradise.dme
Labels: none

bugfix: Logs and AGhost for mentors (#8315)
  code/modules/admin/admin_verbs.dm
  code/modules/admin/veth_player_panel/player_panel_veth.dm
  code/modules/requests/request_manager.dm
Labels: none

bugfix: Запрет ГСБ быть нуклей и воксом (#8316)
  code/game/jobs/job/security.dm
Labels: none

bufgix: Фикс визуализации канистр (#8318)
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: none

add: Корпус манипулятора для интегральных схем (#8295)
  code/modules/research/designs/wiremod_designs.dm
  code/modules/wiremod/shell/manipulator.dm
  code/modules/wiremod/shell/shell_items.dm
  paradise.dme
Labels: none

code_impl: /datum/proximity_monitor/advanced (#8321)
  code/__DEFINES/colors.dm
  code/datums/proximity_monitor/field.dm
  paradise.dme
Labels: none

map: Added Air Alarms (#8320)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

budfix: Фикс табуляции (#8322)
  code/datums/proximity_monitor/field.dm
Labels: none

refactor: Оптимизация конденсации (#8324)
  code/__DEFINES/atmospherics.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/turfs_visualization.dm
  code/datums/components/wet_floor.dm
  paradise.dme
  rust/src/milla/model.rs
  rust/src/milla/simulate.rs
Labels: :crab: Rust

add: Can buy canisters in cargo (#8323)
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
Labels: none

refactor: Split scanner.dm (#8319)
  code/__DEFINES/_span.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/devices/scanners/body_analyzer.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/game/objects/items/devices/scanners/reagent_scanner.dm
  code/game/objects/items/devices/scanners/slime_scanner.dm
  code/game/objects/items/devices/scanners/t_scanner.dm
  code/game/sound/sound_keys/sound_keys.dm
  code/game/sound/sound_keys/sound_keys_reagents.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/debug.dm
  code/modules/detective_work/scanner.dm
  code/modules/pda/utilities.dm
  paradise.dme
  sound/effects/industrial_scan/attribution.txt
  sound/effects/industrial_scan/industrial_scan1.ogg
  sound/effects/industrial_scan/industrial_scan2.ogg
  sound/effects/industrial_scan/industrial_scan3.ogg
Labels: :sound: Звук

add: Повязка на голову (#8285)
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/head/misc.dm
  code/modules/crafting/tailoring.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
Labels: :art: Спрайты

add: Модуль встроенного сидения для киборгов (#8236)
  code/datums/uplink_item.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/mob/actions/actions.dmi
  icons/obj/module.dmi
Labels: :art: Спрайты

refactor: Code style of 'confidential' param (#8211)
  code/controllers/subsystem/tickets/tickets.dm
  code/datums/datumvars.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_memo.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/permissionverbs/new_permissions_edit.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_parser.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/special_verbs.dm
  code/modules/client/client_procs.dm
Labels: none

balance: blueshield hardsuit armour (#8214)
  code/modules/clothing/spacesuits/hardsuit.dm
Labels: none

add: Расовая (человеческая) одежда, прическа, трусы (#8288)
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/clothing/under/pants.dm
  code/modules/mob/new_player/sprite_accessories/human/human_hair.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/mob/clothing/underwear.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/sprite_accessories/human/human_hair.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

qol/local: добавление списка дополнительных ключей у датума emote + возможность боргам писать эмоции на русском (#8291)
  code/__HELPERS/global_lists.dm
  code/datums/emote/emote.dm
  code/modules/mob/living/silicon/silicon_emote.dm
  code/modules/mob/mob_emote.dm
Labels: none

local: локализация СБ снаряжения (#8325)
  code/game/machinery/deployable.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/weapons/batons.dm
  code/game/objects/items/weapons/grenades/barrier_grenade.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/frag.dm
  code/game/objects/items/weapons/grenades/ghettobomb.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/antagonists/traitor/contractor/items/contractor_baton.dm
  code/modules/mob/mob_defines.dm
  code/modules/paperwork/photography/camera.dm
  code/modules/reagents/reagent_containers/spray.dm
  paradise.dme
Labels: none

add: Майнеры газов (#8328)
  code/__DEFINES/colors.dm
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/modules/atmospherics/machinery/other/miner.dm
  icons/obj/pipes_and_stuff/atmospherics/atmos/miners.dmi
  paradise.dme
Labels: :art: Спрайты

bugfix: Майнеры не начинают газовать сразу и могут быть откручены (#8329)
  code/modules/atmospherics/machinery/other/miner.dm
Labels: none

bugfix: Карго шаттл снова работает (#8330)
  code/modules/shuttle/supply.dm
Labels: none

bugfix: Исправление оставшихся проблем атмоса (#8333)
  code/datums/elements/direction_slowdown.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_smash.dm
  rust/src/milla/constants.rs
  rust/src/milla/simulate.rs
Labels: :crab: Rust

image: Респрайт HUD иконок должностей и статусов СБ (#8339)
  icons/mob/hud.dmi
Labels: :art: Спрайты

del/map: delta old (#8336)
  _maps/map_files/event/Station/delta_old.dmm
  code/modules/map_fluff/event.dm
Labels: :world_map: Изменение карты

bugfix: SM processing cumback (#8340)
  code/controllers/subsystem/air.dm
Labels: none

image: Кучка респрайтов и исправлений косяков (#8341)
  code/game/machinery/spaceheater.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/structures/extinguisher.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/closet.dmi
  icons/obj/engicart.dmi
  icons/obj/items.dmi
  icons/obj/pipes_and_stuff/atmospherics/atmos.dmi
  icons/obj/storage/boxes.dmi
  icons/obj/tools.dmi
Labels: :art: Спрайты

add: New Year - Spawner Edition (#8338)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/debug/fast_load_multiz.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/colors.dm
  code/game/mecha/working/gigadrill.dm
  code/game/objects/effects/spawners/new_year.dm
  code/game/objects/items/decorations.dm
  code/game/objects/structures/firepit.dm
  code/game/objects/structures/fireplace.dm
  code/game/objects/structures/flora.dm
  code/modules/holiday/holiday.dm
  icons/effects/mapping_new_year.dmi
  icons/obj/flora/new_year/attribution.txt
  icons/obj/flora/new_year/new_year_tree.dmi
  icons/obj/flora/pinetrees.dmi
  paradise.dme
  tools/maplint/lints/new_year.yml
Labels: :art: Спрайты, :world_map: Изменение карты, :hammer_and_wrench: Инструменты

bugfix/balance: Accelerator laser (#8361)
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile.dm
  sound/weapons/gunshots/accelerator_cannon.ogg
Labels: :sound: Звук

bugfix/refactor: Shake() proc work (#8364)
  code/__HELPERS/icons.dm
  code/modules/food_and_drinks/kitchen_machinery/gibber.dm
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
Labels: none

server: Promt fix [ci skip] (#8351)
  .gemini/styleguide.md
Labels: :book: Документация

bugfix: фикс каналов генокрадов и големов (#8357)
  code/datums/actions/action.dm
  code/modules/surgery/organs/vocal_cords.dm
Labels: none

add: Tau Ceti's welding effect (#8363)
  code/game/objects/items.dm
  code/game/objects/items/tools/welder.dm
  icons/effects/welding_effect.dmi
Labels: :art: Спрайты

bugfix: бесконечные сообщения о починке боргов в гостах (#8356)
  code/modules/mob/living/silicon/robot/update_status.dm
Labels: none

bugfix: симпл мобы синдиката вместо выстрела кидали на пол пульки (#8346)
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: none

refactor/bugfix: Snow machine (#8344)
  code/game/machinery/snow_machine.dm
Labels: none

balance/tweak: mime n clown crayons nerf (#8359)
  code/game/objects/items/crayons.dm
Labels: none

image: энергокопьё и новые спрайты и фиксы. (#8352)
  code/game/objects/items/weapons/secspear.dm
  code/modules/clothing/suits/armor.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/twohanded_lefthand.dmi
  icons/mob/inhands/twohanded_righthand.dmi
  icons/obj/secspear.dmi
Labels: :art: Спрайты

server/local: локализация CONTRIBUTING.md (#8217)
  .github/CONTRIBUTING.md
Labels: :book: Документация, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
