Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

server: Пересборка rust (#8412)
  .github/workflows/deploy.yml
Labels: :hammer_and_wrench: Инструменты

bugfix: Фикс рантайма 516 (#8413)
  code/modules/shuttle/shuttle_manipulator.dm
Labels: none

refactor: Замена пропущенных pixel_x pixel_y на pixel_w pixel_z (#8414)
  code/__HELPERS/icons.dm
  code/__HELPERS/visual_effects.dm
  code/game/machinery/cryo.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/wryn.dm
  code/modules/detective_work/evidence.dm
  code/modules/food_and_drinks/food/foods/pizza.dm
  code/modules/holomaps/machinery.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mod/modules/modules_security.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/station_goals/bfl.dm
Labels: none

bugfix: Фикс ошибки растлибы (#8417)
  .github/workflows/build_rust.yml
Labels: :hammer_and_wrench: Инструменты

bugfix: модсьюты можно снова брать в руки (#8416)
  code/modules/mod/mod_control.dm
Labels: none

bugfix: Фикс тгуи инпута (#8418)
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/paperwork/paper.dm
  code/modules/tgui/tgui_input/text_input.dm
Labels: none

bugfix: Фикс чата (#8421)
  code/modules/mob/hear_say.dm
  code/modules/mob/living/death.dm
Labels: none

bugfix: Багфикс отображения одежды ассистентов и заключенных в меню настройки персонажа (#8422)
  code/modules/mob/new_player/preferences_setup.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/uniform.dmi
Labels: :art: Спрайты

map: Фиксы карго (#8407)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

bugfix: свечение нуклей путём трансформации (#8362)
  code/__DEFINES/colors.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
Labels: none

server: Фикс коммита в растбилдере (#8424)
  .github/workflows/build_rust.yml
Labels: :hammer_and_wrench: Инструменты

tweak: Выпиливаем блюр при критическом состоянии. (#8375)
  code/modules/mob/living/carbon/human/life.dm
Labels: none

bugfix: Исправление бага с выкидыванием гильзы при стрельбе с револьверов (#8438)
  code/modules/projectiles/guns/projectile/bow.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: none

bugfix: нашивка синдиката теперь нормально отображается на кукле (#8437)
  icons/mob/clothing/ties.dmi
Labels: :art: Спрайты

spellcheck: фиксы локализации (#8429)
  code/game/objects/items/mixing_bowl.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/devil/devil_ritual.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

bugfix: Блокировка интегралок по карте (#8431)
  code/datums/components/shell.dm
  code/modules/wiremod/shell/dispenser.dm
  code/modules/wiremod/shell/manipulator.dm
  code/modules/wiremod/shell/moneybot.dm
Labels: none

image: Респрайт Пак №3 [IDB IGNORE] (#8443)
  code/datums/greyscale/greyscale_items.dm
  code/datums/greyscale/json_configs/encryptionkey_basic.json
  code/datums/greyscale/json_configs/encryptionkey_double_stripe.json
  code/datums/greyscale/json_configs/encryptionkey_square.json
  code/datums/greyscale/json_configs/encryptionkey_stripe.json
  code/datums/greyscale/json_configs/encryptionkey_syndie.json
  code/datums/outfits/outfit_debug.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/weapons/implants/implant_uplink.dm
  code/modules/antagonists/space_ninja/suit/headset.dm
  code/modules/detective_work/spy_spider.dm
  code/modules/reagents/reagent_containers/applicator.dm
  icons/map_icons/items/encryptionkey.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/tools_lefthand.dmi
  icons/mob/inhands/tools_righthand.dmi
  icons/obj/assemblies/new_assemblies.dmi
  icons/obj/clothing/belt_overlays.dmi
  icons/obj/device.dmi
  icons/obj/radio.dmi
  icons/obj/storage/boxes.dmi
  icons/obj/structures.dmi
  icons/obj/tools.dmi
Labels: :art: Спрайты

balance+bugfix: Перемещение лазерных патронов 9 мм в протолат и фикс бага с печатью магазинов к Искре (#8435)
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
Labels: none

bugfix: фиксы и балансные правки у МЭКов (#8428)
  code/__DEFINES/mod.dm
  code/game/machinery/suit_storage_unit.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/mod/modules/modules_supply.dm
Labels: none

add: Новые нашивки от Кисика (#8448)
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/mob/clothing/ties.dmi
  icons/mob/talk.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
Labels: :art: Спрайты

bugfix: Spacepod Technician теперь правильно отображается в манифесте и показывается на сек-худах (#8446)
  code/game/jobs/jobs.dm
  icons/mob/hud.dmi
Labels: :art: Спрайты

bugfix: неправильная проверка нахождения рядом у объектов (#8447)
  code/_onclick/adjacent.dm
Labels: none

bugfix: Исправление фичи с перерезанием горла (#8449)
  code/game/objects/items/weapons/kitchen.dm
Labels: none

bugfix/local: Телепорт из разлома от лечения + локализация спеллов ниндзи (#8237)
  code/modules/antagonists/space_ninja/energy_katana.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/energy_net_nets.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_adrenaline.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_autodust.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_caltrops.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_chameleon.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_clone.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_cost_check.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_emergency_blink.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_empulse.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_energy_stars.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_glasses_toggle.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_healing_chems.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_johyo.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_net.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_smoke_bomb.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_spirit_form.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_stars.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_status_read.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_sword_recall.dm
  code/modules/antagonists/space_ninja/suit/suit.dm
  code/modules/antagonists/space_ninja/suit/suit_SpiderOS.dm
  code/modules/antagonists/space_ninja/suit/suit_attackby.dm
  tgui/packages/tgui/interfaces/SpiderOS.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

balance: немного бафа синди арбалета (#8399)
  code/datums/uplink_item.dm
  code/modules/projectiles/projectile/energy.dm
Labels: none

refractor/tweak: Правильный выпад у клинков богомола + выпад как компонент (#8423)
  code/__DEFINES/dcs/signals/signals.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/cleave_attack.dm
  code/datums/components/lunge_attack.dm
  code/game/objects/items/weapons/melee/misc.dm
  paradise.dme
Labels: none

add: бумажный пакет апдате (#8430)
  code/_onclick/hud/fullscreen.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/masks/miscellaneous.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vulpkanin/head.dmi
  icons/obj/clothing/hats.dmi
Labels: :art: Спрайты

add: Эксклюзивные предметы карго [IDB IGNORE] (#8432)
  code/datums/supplypacks.dm
  code/datums/syndiesupplypacks.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/clothing/gloves/color.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/reagents/reagent_dispenser.dm
  icons/goonstation/objects/objects.dmi
  icons/mob/clothing/back.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/tools_lefthand.dmi
  icons/mob/inhands/tools_righthand.dmi
  icons/obj/abductor.dmi
  icons/obj/crates.dmi
  icons/obj/device.dmi
  icons/obj/medicine/chemical_tanks.dmi
  icons/obj/storage.dmi
  icons/obj/tools.dmi
  icons/obj/weapons/grenade.dmi
  sound/items/multitool.ogg
  sound/items/multitool2.ogg
Labels: :art: Спрайты, :sound: Звук

balance/tweak: перенос револьвера детектива в ваучер и твик ваучеров (#8436)
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/security.dm
  config/jobs_highpop.txt
  icons/obj/items.dmi
Labels: :art: Спрайты, :gear: Изменение конфига

refactor: новый таймстоп (#8442)
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/mind.dm
  code/datums/proximity_monitor/fields/timestop.dm
  code/datums/spell.dm
  code/datums/spells/wizard.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/game/mecha/mecha.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
  code/modules/research/xenobiology/xenobiology.dm
  paradise.dme
Labels: none

admin: Авто ответ Skill issue (#8450)
  code/controllers/subsystem/tickets/tickets.dm
Labels: none

server: Gemini config fix [ci skip] (#8458)
  .gemini/config.yaml
Labels: none

experiment/bugfix: попытка починить перманентный ап силы через пьянство (#8441)
  code/modules/martial_arts/martial.dm
Labels: none

bugfix: фикс ввода без тгуи (#8454)
  code/modules/tgui/tgui_input/text_input.dm
Labels: none

bugfix: Возвращает спрайт розовым наручам (#8455)
  code/game/objects/items/weapons/handcuffs.dm
Labels: none

bugfix: таймстоп ратвара не стопорит зачарователя (но стопарит остальных) (#8456)
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: none

admin: Инструмент для просмотра нотесов от админов (#8457)
  code/modules/admin/sql_notes.dm
Labels: none

tweak: упрощение логики работы метаболизма (#8461)
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/species/abductor.dm
  code/modules/mob/living/carbon/human/species/diona.dm
  code/modules/mob/living/carbon/human/species/drask.dm
  code/modules/mob/living/carbon/human/species/golem.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/carbon/human/species/human.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/monkey.dm
  code/modules/mob/living/carbon/human/species/moth.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/shadow.dm
  code/modules/mob/living/carbon/human/species/skeleton.dm
  code/modules/mob/living/carbon/human/species/skrell.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/mob/living/carbon/human/species/tajaran.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/mob/living/carbon/human/species/vox.dm
  code/modules/mob/living/carbon/human/species/vulpkanin.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/terror_spiders.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/drink_cold.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: none

bugfix: кокон ниана неправильно работал (#8462)
  code/modules/mob/living/carbon/human/species/moth.dm
Labels: none

map: Багфиксы всех карт + стандартизация карго (#8464)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/coldcolony.dmm
  _maps/map_files/nova/nova.dmm
Labels: :world_map: Изменение карты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
