Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

bugfix: "Свой тип." больше не свой(фикс админского кастомного анонса) (#7777)
  code/modules/admin/verbs/randomverbs.dm
Labels: none

add: Аккумуляторы у Спектра вместо магазинов. (#7735)
  code/datums/loot_tier.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/ammo.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

bugfix: Фикс шаттла (#7782)
  code/game/machinery/computer/communications.dm
Labels: none

bugfix: Исправлен показ количества коробок с гранатами в вендоре боеприпасов (#7781)
  code/modules/projectiles/guns/projectile/bombarda.dm
Labels: none

bugfix: аккумуляторы от спектра не суются в СБ речарджер (#7780)
  code/game/machinery/recharger.dm
  code/modules/power/cell.dm
  icons/obj/weapons/ammo.dmi
Labels: :art: Спрайты

bugfix: мехи снова могут чинить мотор (#7778)
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_ui.dm
  tgui/packages/tgui/interfaces/Mecha/AlertPane.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

tweak: изменения для карпа (#7784)
  code/_onclick/other_mobs.dm
  code/modules/martial_arts/sleeping_carp.dm
Labels: none

bugfix: return multiinstance (#7786)
  paradise.dme
Labels: none

bugfix: изменение логики отображения id (#7787)
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: none

balance: Больше дисейблер выстрелов для Спектра. (#7785)
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: none

bugfix: Исправляет регенерацию 0.5 у всех карбонов (#7793)
  code/__DEFINES/traits/declarations.dm
Labels: none

fix: перемещает спейспод фабрикатор на кибериаде (#7791)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: :world_map: Изменение карты

bugfix: Застрявшие предметы снова можно вытащить (#7794)
  code/modules/mob/living/carbon/human/human.dm
Labels: none

bugfix: Ратвар может запускаться нормально (#7798)
  code/game/gamemodes/clockwork/clockwork.dm
Labels: none

balance: Нейроматин от симптомов синдрома отторжения мозга теперь эффективнее (#7795)
  code/datums/diseases/brain_transplant_syndrome.dm
Labels: none

map: Добавление голопадов на Мальту (#7790)
  _maps/map_files/coldcolony/Lavaland.dmm
  _maps/map_files/event/Station/coldcolony.dmm
Labels: :world_map: Изменение карты

tweak: убирает стан от врезания в объекты(стены/окна) (#7792)
  code/game/objects/objs.dm
Labels: none

bugfix: Абдукторский Мультиметр имел неправильный путь к иконке (#7799)
  code/game/objects/items/tools/multitool.dm
Labels: none

admin: logs for chameleon projectors (#7801)
  code/game/objects/items/devices/chameleonproj.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
Labels: none

bugfix/refactor: Клининг скринтипов (#7800)
  code/_onclick/click.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/screen_objects.dm
  code/game/atoms.dm
  code/game/objects/items.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/observer/observer_admin_actions.dm
Labels: none

bugfix: Возможное решение проблемы краша тгуи панели (#7804)
  tgui/packages/tgui-panel/audio/middleware.ts
  tgui/packages/tgui-panel/audio/player.ts
  tgui/public/tgui-panel.bundle.js
Labels: :computer: TGUI

bugfix/refactor: Фикс бесконечного кд спелов дьявола + клининг кода от легаси мусора (#7805)
  code/datums/mind.dm
  code/datums/spells/devil.dm
  code/modules/antagonists/devil/devil_contracts.dm
  code/modules/antagonists/devil/devil_rank.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
Labels: none

bugfix: Фикс слабости дьявола к свету (#7807)
  code/modules/antagonists/devil/devil_bane.dm
Labels: none

bugfix: Смайтить можно не только себя и других педалей + работающий автоответчик на факсы (#7808)
  code/modules/admin/smites.dm
  code/modules/paperwork/faxmachine.dm
Labels: none

imageadd: Латунный стиль интерфейса (#7809)
  code/__HELPERS/type2type.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/tooltip/tooltip.html
  icons/mob/screen_clockwork.dmi
Labels: :art: Спрайты

add: ящики для инструментов стали полезными (порт с TG) (#7231)
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/inventory.dm
  code/__HELPERS/_lists.dm
  code/_onclick/adjacent.dm
  code/_onclick/hud/radial.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/devices/pipe_painter.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/multitool.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/tool_behaviour.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/holosign.dm
  code/game/objects/items/weapons/rpd.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/assembly/signaler.dm
  code/modules/power/cable_coil.dm
  sound/items/handling/toolbox_open.ogg
  sound/items/handling/toolbox_rustle.ogg
Labels: :sound: Звук

local: снабжение (#7098)
  _maps/map_files/RandomRuins/SpaceRuins/crashedipcship.dmm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/garbage.dm
  code/datums/supplypacks.dm
  code/game/machinery/computer/computer.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/modules/cargo/supplypod.dm
  code/modules/economy/quests/_base_quests.dm
  code/modules/economy/quests/centcomm_departaments.dm
  code/modules/economy/quests/quest_console.dm
  code/modules/economy/quests/reagents_quests.dm
  code/modules/economy/quests/thing_quests.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/shuttle/supply.dm
  code/modules/vending/assist.dm
  tgui/packages/tgui/interfaces/CargoConsole.tsx
  tgui/packages/tgui/interfaces/QuestConsole.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :world_map: Изменение карты

balance: Балансировка синдрома отторжения мозга (Часть 2) (#7806)
  code/datums/diseases/brain_transplant_syndrome.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: none

bugfix/refactor: Вычистка мусора из /obj/item/radio + фикс сглаживания (#7813)
  code/__HELPERS/icon_smoothing.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/antagonists/space_ninja/ninja_borg_module.dm
  code/modules/antagonists/space_ninja/suit/headset.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/syndicate.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

bugfix: Синди-мышь пролезает под дверями в режиме стелса (#7820)
  code/modules/mob/living/simple_animal/hostile/rat_syndi.dm
Labels: none

bugfix: Пачка фиксов спрайтов (#7819)
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/clothing/suits/miscellaneous.dm
  icons/mob/clothing/species/grey/helmet.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/twohanded_lefthand.dmi
  icons/mob/inhands/twohanded_righthand.dmi
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

bugfix: С преференсом на авто-ДНР больше нельзя моментально возродиться после смерти (#7818)
  code/modules/mob/living/death.dm
Labels: none

bugfix: Магбутсы нюкеров снова защищают от смазки (#7817)
  code/modules/clothing/shoes/magboots.dm
Labels: none

bugfix: Вендоматы не списывают кредиты при покупке без доступа (#7816)
  code/modules/vending/_vending.dm
Labels: none

spellcheck: Пара фиксов локализации (#7815)
  code/game/objects/obj_defense.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/slime.dm
  code/modules/paperwork/contract.dm
  tgui/packages/tgui/interfaces/Sleeper.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

server: #pragma UnsupportedAccess disabled (#7822)
  tools/ci/od_lints.dm
Labels: :hammer_and_wrench: Инструменты

bugfix: нтос при отсутвии айди и настройке доступов (#7824)
  tgui/packages/tgui/interfaces/Mecha/index.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

balance: Спектр заряжается со скоростью доминатора (#7789)
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/ammo_alarm.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/sibyl/sibyl_weapons.dm
  paradise.dme
Labels: none

server: New alphabetical sorting script and improved trait_validity.py (#7834)
  .github/workflows/ci.yml
  code/_globalvars/traits/_traits.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/mob/transform_procs.dm
  code/modules/unit_tests/_unit_tests.dm
  tools/ci/alphabetical_check.py
  tools/ci/trait_validity.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

server: dmdoc (#7836)
  .github/AUTODOC.md
  .github/AUTODOC_GUIDE.md
  .github/workflows/generate_autodoc.yml
  .gitignore
  tools/ci/install_dmdoc.sh
Labels: :book: Документация, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
