Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

bugfix: фиксы кругового меню ящика для инструментов (#8043)
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: none

bugfix: Исправлен баг со скинами станбатона (#8045)
  code/datums/elements/item_skins.dm
  code/game/objects/items/weapons/stunbaton.dm
Labels: none

balance: Реворк уничтожения боргов (#7931)
  code/datums/status_effects/silicons.dm
  code/game/machinery/computer/robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
  paradise.dme
  tgui/packages/tgui/interfaces/RoboticsControlConsole.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

image + bugfix: Респрайт консолей + багфикс автолата СБ (#8051)
  icons/obj/engines_and_power/particle_accelerator.dmi
  icons/obj/machines/HONKputer.dmi
  icons/obj/machines/computer.dmi
  icons/obj/machines/sec_autolathe.dmi
  icons/obj/stock_parts.dmi
Labels: :art: Спрайты

bugfix/tweak: хирургический вынос мозга нуклеаций (#8040)
  code/modules/mob/living/carbon/human/species/nucleation.dm
Labels: none

add: описания товаров в торговых автоматах (#8053)
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

refactor/add: Элемент ржавых пушек и осечки (#8049)
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17.dmm
  _maps/map_files/RandomRuins/SpaceRuins/USSP_gorky17_collapsed.dmm
  _maps/map_files/RandomRuins/SpaceRuins/ussp.dmm
  code/__DEFINES/dcs/signals.dm
  code/datums/elements/misfire_weapon.dm
  code/datums/elements/rusted_weapon.dm
  code/datums/loot_tier.dm
  code/modules/mini_games/thunderdome/gamemodes/gamemode.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/rusted_weapons.dm
  paradise.dme
Labels: :world_map: Изменение карты

bugfix: починка интерфейсов торгоматов (#8054)
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

add: Новый револьвер СБ, вариант к ваучерным пушкам (#8035)
  code/__DEFINES/gun.dm
  code/datums/skins/donat_skins.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/security.dm
  icons/obj/storage.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

add: Улучшенный ручной дефибриллятор (#8028)
  code/game/objects/items/devices/handheld_defib.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/protolathe/medical_designs.dm
  code/modules/response_team/ert_outfits.dm
  code/modules/vending/nt_armory.dm
  code/modules/vending/nt_cargo.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/handheld_defibrillator.dmi
  icons/obj/items.dmi
Labels: :art: Спрайты

bugfix: баг с розывыми волосами у нуклеаций (#8056)
  code/modules/mob/new_player/sprite_accessories/nucleation/nucleation_face.dm
Labels: none

balance: Баланс лута в косморуинах (#8046)
  code/game/objects/effects/spawners/random_spawners.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/accuracy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

add/bugfix: Исправление старых ачивок и добавление новых (#8058)
  code/__DEFINES/achievements.dm
  code/datums/achievements/job_achievements.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/achievements/misc_scores.dm
  code/datums/elements/devil_banishment.dm
  code/modules/antagonists/de_kerberos_2/teams.dm
  code/modules/antagonists/devil/devil_ritual.dm
  code/modules/client/persistent_client.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/tgui/plugins/login.dm
  code/modules/vending/_vending.dm
  icons/ui_icons/achievements/achievements.dmi
Labels: :art: Спрайты

bugfix/local: фиксы TGUI НИО машинерии + локализация печи для руды (#8055)
  code/_globalvars/lists/objects.dm
  code/datums/components/material_container.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/computer/communications.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/research/designs.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/smelting_designs.dm
  code/modules/research/rdconsole.dm
  code/modules/research/research.dm
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/OreRedemption.tsx
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheCategory.tsx
  tgui/packages/tgui/interfaces/RndConsoleComponents/LatheMaterialStorage.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

balance: Обновление тирлистов dk2 (#8059)
  code/datums/loot_tier.dm
Labels: none

bugfix: Починка желтых дефибов в автолате при новой локализации РНД (#8060)
  code/modules/research/designs/autolathe_designs.dm
Labels: none

config: обновление приветственного сообщения (#8062)
  config/example/motd.txt
Labels: :gear: Изменение конфига

local/refactor: локализация фабрикатора экзокостюмов (#8061)
  code/__DEFINES/machines.dm
  code/datums/supplypacks.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/awaymissions/mission_code/ruins/USSP_gorky17.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/paperwork/paper.dm
  code/modules/research/designs/machine_boards/AI_module_designs.dm
  code/modules/research/designs/machine_boards/comp_board_designs.dm
  code/modules/research/designs/machine_boards/machine_designs.dm
  code/modules/research/designs/machine_boards/mecha_designs.dm
  code/modules/research/designs/machine_boards/telecomms_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/protolathe/bluespace_designs.dm
  code/modules/research/designs/protolathe/equipment_designs.dm
  code/modules/research/designs/protolathe/janitorial_designs.dm
  code/modules/research/designs/protolathe/medical_designs.dm
  code/modules/research/designs/protolathe/mining_designs.dm
  code/modules/research/designs/protolathe/misc_designs.dm
  code/modules/research/designs/protolathe/power_designs.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
  code/modules/research/designs/smelting_designs.dm
  code/modules/research/designs/spacepod_designs.dm
  code/modules/research/designs/stock_parts_designs.dm
  code/modules/research/research.dm
  tgui/packages/tgui/interfaces/ExosuitFabricator.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: СПИИ контрактника больше нельзя поменять на ТК (#8063)
  code/game/objects/items/devices/paicard.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/spai.dm
Labels: none

image: Респрайт коробок (#8065)
  code/game/machinery/cloning.dm
  code/game/objects/items/his_grace.dm
  code/game/objects/items/random_items.dm
  code/game/objects/items/weapons/bee_briefcase.dm
  code/game/objects/items/weapons/stock_parts.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/survival_boxes.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/fulton.dm
  code/modules/antagonists/traitor/contractor/datums/rep_purchases/hardsuit.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/new_player/preferences_setup.dm
  code/modules/pda/pdas.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/recycling/belt-placer.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/surgery/organs/augments_internal.dm
  icons/mob/inhands/storage_lefthand.dmi
  icons/mob/inhands/storage_righthand.dmi
  icons/obj/storage.dmi
  icons/obj/storage/boxes.dmi
Labels: :art: Спрайты

image: новые спрайты хим. машинерии (#8067)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  icons/obj/chemical.dmi
Labels: :art: Спрайты

image: обновленные спрайты у ящиков (#8069)
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/cabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mining/abandonedcrates.dm
  icons/obj/closet.dmi
  icons/obj/crates.dmi
Labels: :art: Спрайты

bugfix: исправление двух спрайтов у ящиков (#8071)
  icons/obj/crates.dmi
Labels: :art: Спрайты

spellcheck: правки examine (#8072)
  code/game/atoms.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

bugfix: выключение эмиссивок у ящиков, которые не должны светиться (#8077)
  code/game/objects/structures/crates_lockers/crates.dm
Labels: none

bugfix: Починка спрайта улучшенного ручного дефиба (#8090)
  icons/obj/handheld_defibrillator.dmi
Labels: :art: Спрайты

balance: Баланс холоупоинтов дека (#8076)
  code/modules/projectiles/projectile/bullets.dm
Labels: none

image: исправления спрайтов коробок (#8075)
  code/game/objects/items/his_grace.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/survival_boxes.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/antagonists/thief/thief_kit.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/surgery/organs/augments_internal.dm
  icons/mob/inhands/storage_lefthand.dmi
  icons/mob/inhands/storage_righthand.dmi
  icons/obj/food/food.dmi
  icons/obj/storage/boxes.dmi
Labels: :art: Спрайты

balance: Нерф урона нового ревика (#8073)
  code/datums/elements/item_skins.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
Labels: none

tweak: [BOUNTY] Старая маска мима (#8083)
  code/game/objects/structures/crates_lockers/closets/secure/miscjobs.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/vending/autodrobe.dm
  icons/mob/clothing/mask.dmi
  icons/mob/clothing/species/drask/mask.dmi
  icons/mob/clothing/species/grey/mask.dmi
  icons/mob/clothing/species/tajaran/mask.dmi
  icons/mob/clothing/species/unathi/mask.dmi
  icons/mob/clothing/species/vox/mask.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: :art: Спрайты

image/balance: Респрайт дробовиков, новые спрайты и размер комбата. (#8091)
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

tweak: Бонусные 500 кредитов на счете за каждый тир доната при старте игры (#8079)
  _maps/map_files/debug/fast_load_multiz.dmm
  code/__DEFINES/donat.dm
  code/controllers/subsystem/jobs.dm
Labels: :world_map: Изменение карты

add: SSmetric sanity, emotes and some one new unit tests (#8092)
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/demo.dm
  code/controllers/subsystem/fires.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machinery.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/tickets/tickets.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/weather.dm
  code/datums/keybindings/emote.dm
  code/datums/mutable_appearance.dm
  code/modules/mob/living/simple_animal/hostile/hostile_emote.dm
  code/tests/_game_test.dm
  code/tests/_map_per_tile_test.dm
  code/tests/game_tests.dm
  code/tests/test_announcements.dm
  code/tests/test_emotes.dm
  code/tests/test_get_turf_pixel.dm
  code/tests/test_map_tests.dm
  code/tests/test_orphaned_genturf.dm
  code/tests/test_plane_double_transform.dm
  code/tests/test_plane_dupe_detector.dm
  code/tests/test_security_levels.dm
  code/tests/test_spawn_humans.dm
  code/tests/test_subsystem_metric_sanity.dm
  code/world.dm
Labels: none

refactor/balance: рефакторинг датумов ролей и небольшой ребаланс джобок (#8093)
  code/__DEFINES/economy.dm
  code/__DEFINES/news_topics.dm
  code/controllers/subsystem/capitalism.dm
  code/controllers/subsystem/jobs.dm
  code/game/jobs/job/central.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/de_kerberos_2.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/service.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/supply.dm
  code/game/jobs/job/support_chaplain.dm
  code/game/jobs/job/syndicate.dm
  code/game/machinery/computer/card.dm
  code/modules/economy/Job_Departments.dm
  code/modules/mining/lavaland/loot/colossus_loot.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/newscaster/obj/newscaster.dm
  paradise.dme
Labels: none

bugfix: Ачивка за убийства архидьявола давалась за обычного (#8095)
  code/datums/elements/devil_banishment.dm
Labels: none

bugfix: квантум пады вновь работают (#8097)
  code/game/machinery/quantum_pad.dm
Labels: none

image: респрайт тулбоксов (опять) (#8096)
  icons/obj/storage/boxes.dmi
Labels: :art: Спрайты

bugfix: Fix some icon_state (#8098)
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/items/weapons/defib.dm
  code/game/objects/items/weapons/storage/belt.dm
Labels: none

bugfix: корзина с мусором теперь не пропадает при открытии (#8099)
  icons/obj/crates.dmi
  paradise.dme
Labels: :art: Спрайты

image: стандартный ящик стал более "стальным" (#8100)
  icons/obj/crates.dmi
Labels: :art: Спрайты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
