Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

bugfix: Final chat fix (#7925)
  tgui/packages/common/storage.ts
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: Final fix (#7926)
  tgui/packages/common/storage.ts
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: electrocute_act message (#7920)
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click_override.dm
  code/datums/beam.dm
  code/datums/components/cross_shock.dm
  code/datums/spells/lightning.dm
  code/game/gamemodes/miniantags/bot_swarm/swarmer.dm
  code/game/gamemodes/miniantags/demons/pulse_demon/pulse_demon.dm
  code/game/gamemodes/miniantags/guardian/types/lightning.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/powerfist.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/electricchair.dm
  code/game/objects/structures/holosign.dm
  code/modules/anomalies/anomalies/energetic.dm
  code/modules/anomalies/cores.dm
  code/modules/anomalies/old.dm
  code/modules/antagonists/blob/blobstrains/energized_jelly.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/mining/lavaland/loot/legion_loot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/hostile/floorcluwne.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/swarmer.dm
  code/modules/power/apc.dm
  code/modules/power/power.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
Labels: none

server: tgui rebuild fix (#7932)
  tgui/bin/tgui
Labels: :computer: TGUI

server: tgui rebuild fix 2 (#7933)
  tgui/bin/tgui
Labels: :computer: TGUI

tgui: tgui merge driver fix (#7934)
  tgui/bin/tgui
Labels: :computer: TGUI

server: driver bugfix (#7935)
  tgui/bin/tgui
Labels: :computer: TGUI

server: Возврат старого имени для уменьшения числа ошибок при деполое (#7936)
  config/names/isp_blacklist.txt
  config/names/isp_whitelist.txt
Labels: :gear: Изменение конфига

bugfix: Разработчики теперь видны в adminwho (#7937)
  code/game/verbs/who.dm
Labels: none

refeactor: Оптимизация консоли камер и is проверок уровней (#7939)
  code/__DEFINES/level_traits.dm
  code/__HELPERS/cmp.dm
  code/__HELPERS/level_traits.dm
  code/game/machinery/computer/camera.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/shuttle/navigation_computer.dm
  paradise.dme
Labels: none

bugfix: Теперь смена текста описания персонажа в раунде работает корректно и лимит как в лобби 4096 символа (#7938)
  code/modules/mob/mob.dm
Labels: none

refactor: Proximity monitor + connect range (#7921)
  code/__DEFINES/is_helpers.dm
  code/datums/components/connect_range.dm
  code/datums/components/proximity_monitor.dm
  code/datums/proximity_monitor/proximity_monitor.dm
  code/datums/wires/vending.dm
  code/game/atoms.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/flasher.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/game/objects/items/weapons/caution.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/structures/aliens.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/events/brand_intelligence.dm
  code/modules/mining/equipment/vendor_items.dm
  code/modules/power/singularity/singularity.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/shuttle/supply.dm
  code/modules/station_goals/shield.dm
  code/modules/vending/_vending.dm
  paradise.dme
Labels: none

Balance: Разносторонний бафф ратваритов (#7927)
  code/__DEFINES/clockwork.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/clockwork/clockwork_workshop.dm
Labels: none

bugfix: фикс кулдаунов кнопок (#7944)
  code/game/machinery/door_control.dm
Labels: none

add: Экзорамы КПБ (#7640)
  SQL/paradise_schema.sql
  SQL/updates/38-39.sql
  code/__DEFINES/misc.dm
  code/__DEFINES/organ_defines.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/misc.dm
  code/_globalvars/traits/_traits.dm
  code/datums/uplink_item.dm
  code/game/jobs/job/job.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/power/cable_coil.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  config/example/dbconfig.txt
  icons/mob/inhands/organ_lefthand.dmi
  icons/mob/inhands/organ_righthand.dmi
  icons/obj/surgery.dmi
  tools/ci/dbconfig.txt
Labels: :cd: SQL, :art: Спрайты, :gear: Изменение конфига, :hammer_and_wrench: Инструменты

bugfix/refactor: Чистка UI и исправление багов (#7948)
  code/controllers/subsystem/newplayer_info.dm
  code/controllers/subsystem/titlescreen.dm
  code/modules/asset_cache/assets/asset_tgui.dm
  code/modules/client/preference/preferences_toggles.dm
  html/browser/common.css
  html/browser/rankedInput.js
  html/css/contract_styles.css
  html/css/mech_sleeper.css
  html/css/mech_stat.css
  html/css/mech_stat_honker.css
  html/css/mech_syringe_gun.css
  html/css/photo.css
  html/css/spellbook.css
  html/font-awesome/webfonts/fa-brands-400.woff2
  html/js/mech_stat.js
  html/js/mech_stat_honker.js
  html/statbrowser.css
  html/statbrowser.html
  html/statbrowser.js
  html/title_screen.html
  tgui/packages/common/storage.ts
  tgui/packages/tgui-panel/chat/ChatPanel.tsx
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/public/iframe.html
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: :globe_with_meridians: HTML, :computer: TGUI

tweak: Добавляет кобуры главам (#7941)
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference/loadout/loadout_accessories.dm
Labels: none

bugfix: Отсутстивие постоянного клиента у ньюплееров (#7949)
  code/modules/mob/new_player/login.dm
Labels: none

bugfix: Фикс багов билдмода и таймера раунда (#7950)
  code/__DEFINES/layers.dm
  code/controllers/subsystem/newplayer_info.dm
  code/datums/click_intercept.dm
  code/datums/spell.dm
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
  code/modules/mob/login.dm
Labels: none

bugfix: Временный фикс запросов (#7951)
  SQL/paradise_schema.sql
  SQL/updates/39-40.sql
  code/controllers/subsystem/non-firing/achievements.dm
  code/datums/achievements/_awards.dm
Labels: :cd: SQL

bugfix: Проверка инфоррмации в бд перед сохранением ачивки (#7952)
  code/controllers/subsystem/non-firing/achievements.dm
  code/controllers/subsystem/ticker.dm
  code/datums/achievements/_awards.dm
Labels: none

add: одна новая ачивка-трекер (#7954)
  code/__DEFINES/achievements.dm
  code/datums/achievements/misc_scores.dm
  code/game/objects/items/contraband.dm
  paradise.dme
Labels: none

bugfix: Фикс стирающегося score (#7957)
  code/datums/achievements/_awards.dm
Labels: none

tweak: Банановый посох больше не оглушает (#7955)
  code/modules/projectiles/projectile/magic.dm
Labels: none

tweak: новый крит от вендоров (#7953)
  code/modules/vending/_vending.dm
Labels: none

add/balance: Обновление греев предателей (#7940)
  code/datums/uplink_item.dm
  code/game/gamemodes/miniantags/abduction/abduction_gear.dm
  code/game/gamemodes/miniantags/abduction/abduction_outfits.dm
  code/game/objects/items/weapons/storage/belt.dm
  icons/mob/clothing/belt.dmi
  icons/mob/inhands/equipment/belt_lefthand.dmi
  icons/mob/inhands/equipment/belt_righthand.dmi
  icons/obj/abductor.dmi
Labels: :art: Спрайты

refactor: Рефактор autosay (#7956)
  code/__DEFINES/radio.dm
  code/__HELPERS/cmp.dm
  code/_globalvars/misc.dm
  code/defines/procs/radio.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/brigcells.dm
  code/game/machinery/computer/card.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/tcomms/_base.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/implants/implant_death_alarm.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/awaymissions/mission_code/spacehotel.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/security_levels/keycard_authentication.dm
Labels: none

tweak: Лампозаменитель инженерному боргу (#7943)
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: none

bugfix: Фикс некоторых ачивок (#7958)
  code/__DEFINES/subsystems.dm
  code/game/objects/structures/watercloset.dm
Labels: none

admin: shitspawn map uptade2 (#7964)
  _maps/map_files/templates/pirat_markettransit_onlyz2.dmm
  _maps/map_files/templates/piratbase.dmm
  _maps/map_files/templates/piratbase_ruin.dmm
Labels: :world_map: Изменение карты

bugfix: опечатка в icon2html (#7962)
  code/game/atoms.dm
Labels: none

tweak: Легкий нерф молота Ратвара (#7960)
  code/game/gamemodes/clockwork/clockwork_items.dm
Labels: none

bugfix: Пофиксил баг с отображением текста в СММИ (#7946)
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/carbon/brain/MMI.dm
Labels: none

spellcheck: Исправлен перевод вендора Спорт. Питания (#7959)
  code/modules/vending/protein.dm
Labels: none

spellcheck: Исправление ЖПТ локализации иерофанта (#7961)
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: none

add: новые спрайты снайперок и глушителя для дробовиков и снайперок (#7974)
  code/datums/uplink_item.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_module.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/projectile/toy.dm
  code/modules/vending/gun_mods.dm
  code/modules/vending/nt_armory.dm
  icons/obj/weapons/attachments.dmi
  icons/obj/weapons/guns_48x32.dmi
  sound/weapons/gunshots/shotgunsupp.ogg
  sound/weapons/gunshots/snipersupp.ogg
Labels: :art: Спрайты, :sound: Звук

tweak: Cоздание бикаридина и келотана в химии, аптечка унати (#7968)
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/pill.dm
Labels: none

local: локализация праздников (#7975)
  code/__DEFINES/misc.dm
  code/controllers/subsystem/ticker.dm
  code/modules/holiday/holiday.dm
Labels: none

map: Nova fixes (#7986)
  _maps/map_files/nova/nova.dmm
  _maps/map_files/nova/submaps/AbondonedMed.dmm
Labels: :world_map: Изменение карты

del: удаление буклетов для Кербероса (#7990)
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/RandomRuins/SpaceRuins/spacehotelv1.dmm
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/generic/z2_old.dmm
  code/modules/paperwork/paper.dm
Labels: :world_map: Изменение карты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
