Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

bugfix: Концентрация ниндзи больше не перекрывает уровень голода (#7495)
  code/modules/antagonists/space_ninja/ninja_datum.dm
Labels: none

balance: Нерф магии дьявола (#7497)
  code/datums/spells/wizard.dm
  code/modules/antagonists/devil/devil_contracts.dm
Labels: none

balance: штуки в наномедах теперь платные (#7474)
  code/game/machinery/vending.dm
Labels: none

refactor: Converts all uses of modifiers to LAZYACCESS (#7482)
  code/__DEFINES/_click.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/turfs.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cogscarab.dm
  code/_onclick/cyborg.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/observer.dm
  code/_onclick/overmind.dm
  code/_onclick/pai.dm
  code/datums/action.dm
  code/datums/components/fullauto.dm
  code/game/gamemodes/miniantags/demons/pulse_demon/pulse_demon_interactions.dm
  code/game/gamemodes/miniantags/revenant/revenant_abilities.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/firing.dm
Labels: none

refactor: Buildmodes (#7478)
  code/__DEFINES/chat.dm
  code/__DEFINES/misc.dm
  code/__HELPERS/icons.dm
  code/modules/buildmode/bm_mode.dm
  code/modules/buildmode/buildmode.dm
  code/modules/buildmode/buttons.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/area_edit.dm
  code/modules/buildmode/submodes/atmos.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/boom.dm
  code/modules/buildmode/submodes/copy.dm
  code/modules/buildmode/submodes/fill.dm
  code/modules/buildmode/submodes/forcemove.dm
  code/modules/buildmode/submodes/link.dm
  code/modules/buildmode/submodes/mapgen.dm
  code/modules/buildmode/submodes/offer.dm
  code/modules/buildmode/submodes/save.dm
  code/modules/buildmode/submodes/say.dm
  code/modules/buildmode/submodes/throwing.dm
  code/modules/buildmode/submodes/variable_edit.dm
  icons/misc/buildmode.dmi
Labels: :art: Спрайты

bugfix: Заброшенный ящик больше нельзя открыть толкнув в него моба (#7480)
  code/game/objects/structures/railings.dm
  code/modules/mining/abandonedcrates.dm
Labels: none

bugfix: Чинит вытаскивание ножей из людей с ножевым БИ (#7481)
  code/modules/martial_arts/combos/throwing/remove_embended.dm
Labels: none

bugfix: Переопределения в мастере после мержа (#7498)
  code/__DEFINES/misc.dm
Labels: none

add: Новые антаги заключенные (#7263)
  code/__DEFINES/gamemode.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/rolebans.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/jobs.dm
  code/datums/hud.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/objective.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job_exp.dm
  code/modules/antagonists/prisoner/prisoner_antag_datum.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/client/preference/preferences.dm
  config/example/config.txt
  icons/mob/hud.dmi
  paradise.dme
  sound/ambience/antag/prisonbreak.ogg
Labels: :art: Спрайты, :gear: Изменение конфига, :sound: Звук

balance: Изменение цифр крови для вампиров (#7418)
  code/__DEFINES/vampire_defines.dm
  code/modules/antagonists/vampire/new_vampire_datum.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/gargantua_powers.dm
  code/modules/antagonists/vampire/vampire_powers/hemomancer_powers.dm
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
  code/modules/antagonists/vampire/vampire_subclasses.dm
  tgui/packages/tgui/interfaces/VampireSpecMenu.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

balance: attack reaction Чанга переделан в комбо (#7425)
  code/modules/martial_arts/combos/mrchang/steal_card.dm
  code/modules/martial_arts/combos/mrchang/stunning_discounts.dm
  code/modules/martial_arts/mrchang.dm
  paradise.dme
Labels: none

Tweak: Обезьяна в Огне и Генетическая обезьяна удалена из одежды (#7426)
  code/modules/mob/living/carbon/alien/humanoid/update_icons.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  icons/mob/OnFire.dmi
  icons/mob/clothing/species/monkey/OnFire.dmi
  icons/mob/clothing/species/monkey/genetics.dmi
  icons/mob/monkey.dmi
Labels: :art: Спрайты

map: первая тестовая работа с сабмапами. (#7462)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/Delta/delta.jsonc
  _maps/map_files/Delta/submaps/botany_room.dmm
  code/modules/mapmanip/delta.dm
Labels: :world_map: Изменение карты

del: Амбиции Пупса (#7465)
  code/__HELPERS/_string_lists.dm
  code/datums/mind.dm
  code/game/ambitions/ambition_objective.dm
  code/game/gamemodes/scoreboard.dm
  code/game/jobs/job_objective.dm
  paradise.dme
  strings/ambition_objectives_command.json
  strings/ambition_objectives_engineering.json
  strings/ambition_objectives_generic.json
  strings/ambition_objectives_law.json
  strings/ambition_objectives_medical.json
  strings/ambition_objectives_nonhuman.json
  strings/ambition_objectives_representative.json
  strings/ambition_objectives_science.json
  strings/ambition_objectives_security.json
  strings/ambition_objectives_supply.json
  strings/ambition_objectives_support.json
  strings/ambition_randoms.json
Labels: none

add: Шапка карпа (#7475)
  code/game/machinery/vending.dm
  code/modules/client/preference/loadout/loadout_hat.dm
  code/modules/clothing/head/misc_special.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
Labels: :art: Спрайты

balance: Немного нерфа гранатомета СБ (#7499)
  code/modules/projectiles/guns/projectile/bombarda.dm
Labels: none

qol: Уменьшение ожидания при покупке в вендорах (#7504)
  code/game/machinery/vending.dm
Labels: none

add: Генерация аномалий разного размера от ивента (#7505)
  code/__DEFINES/anomalies.dm
  code/modules/anomalies/anomalies/energetic.dm
  code/modules/events/anomaly.dm
  code/modules/events/anomaly_bluespace.dm
  code/modules/events/anomaly_flux.dm
  code/modules/events/anomaly_grav.dm
  code/modules/events/anomaly_pyro.dm
  code/modules/events/anomaly_vortex.dm
  code/modules/events/event_container.dm
  code/modules/station_goals/brs/brs_event_container.dm
  paradise.dme
Labels: none

tweak: Новый лут в забытый ящик (#7486)
  code/modules/mining/abandonedcrates.dm
Labels: none

add: Добавление отображения уровня страховки через медицинский худ [IDB IGNORE] (#7493)
  code/datums/outfits/outfit_admin.dm
  code/datums/outfits/outfit_security_clown.dm
  code/datums/outfits/vv_outfit.dm
  code/game/data_huds.dm
  code/game/jobs/job/job.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/plastic_surgery_robotics.dm
  icons/mob/hud.dmi
Labels: :art: Спрайты

add: Банхамер в лодаут(т4) с фейк пмками, стилизованными под настоящие (#7283)
  code/__DEFINES/_span.dm
  code/__HELPERS/global_lists.dm
  code/game/objects/items/weapons/weaponry.dm
  code/gimmicks/fake_admins.dm
  code/gimmicks/gimmick_helpers.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  paradise.dme
Labels: none

bugfix: Исправление рантайма (#7508)
  code/modules/mining/abandonedcrates.dm
Labels: none

add: Ещё спортпит (#7345)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/traits/declarations.dm
  code/datums/components/muscles.dm
  code/datums/status_effects/sport_reagents.dm
  code/datums/supplypacks.dm
  code/datums/wires/vending.dm
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/food/foods/sport_food.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/chemistry/recipes/food.dm
  icons/mob/inhands/foods_lefthand.dmi
  icons/mob/inhands/foods_righthand.dmi
  icons/obj/drinks.dmi
  paradise.dme
Labels: :art: Спрайты

add: особенные внешние черты для нуклеаций (#7403)
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/new_player/sprite_accessories/nucleation/nucleation_body_markings.dm
  code/modules/mob/new_player/sprite_accessories/sprite_accessories.dm
  icons/mob/sprite_accessories/nucleation/nucleation_body_markings.dmi
  paradise.dme
Labels: :art: Спрайты

tweak: наручники теперь можно снимать будучи скованным или в движении (#7506)
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: none

balance: Обновление логики тазера (#7484)
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy.dm
Labels: none

bugfix: sound runtimes (#7510)
  code/__DEFINES/sound.dm
  code/game/sound/sound_keys/sound_keys.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/friendly/friendly_emote.dm
  code/modules/mob/living/simple_animal/friendly/frog.dm
Labels: none

refactor: Who, Adminwho, admin_mob_info & new permission R_SKINS (#7479)
  code/__DEFINES/admin.dm
  code/__DEFINES/game.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/_logging.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/bitfields/admin.dm
  code/game/verbs/who.dm
  code/modules/admin/holder2.dm
  code/modules/admin/secrets.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/client/client_procs.dm
  paradise.dme
Labels: none

bugfix: who снова работает (#7511)
  code/game/verbs/who.dm
Labels: none

bugfix: Дефолтный модификатор прокачки силы был 0 вместо 1. (#7513)
  code/datums/components/muscles.dm
Labels: none

bugfix: Исправление бага с калибрами 40 мм гранат (#7512)
  code/datums/supplypacks.dm
  code/modules/mini_games/thunderdome/items/special_kits.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
Labels: none

local: Локализация магазинов к оружию и коробок с патронами (#7320)
  code/datums/uplink_item.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: none

bugfix: Во who модераторы отображаются вместе с менторами, как раньше (#7515)
  code/game/verbs/who.dm
Labels: none

bugfix: ПОСЛЕДНЕЕ изменение who (#7518)
  code/game/verbs/who.dm
Labels: none

bugfix: исправление проблем с наручниками (#7516)
  code/modules/mob/living/carbon/inventory.dm
Labels: none

imageadd: кучка респрайтов :ratgesus: (#7514)
  code/game/gamemodes/cult/cult_items.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  icons/obj/cult.dmi
  icons/obj/items.dmi
  icons/obj/library.dmi
Labels: :art: Спрайты

fix: Гиммики ПМки запоздалый контр удар по ревью (#7509)
  code/__DEFINES/_span.dm
  code/game/objects/items/weapons/weaponry.dm
  code/gimmicks/fake_admins.dm
  code/gimmicks/gimmick_helpers.dm
Labels: none

map: Первая/ые сабмапы для Новы (#7502)
  _maps/map_files/nova/nova.dmm
  _maps/map_files/nova/nova.jsonc
  _maps/map_files/nova/submaps/AbondonedLivingComplex.dmm
  _maps/map_files/nova/submaps/Banya.dmm
  _maps/map_files/nova/submaps/EastMaintenance.dmm
  code/game/area/ss13_areas.dm
  code/modules/mapmanip/nova.dm
  paradise.dme
Labels: :world_map: Изменение карты

add: Лэндмарки для переопределения спавна (#7114)
  code/_globalvars/mapping.dm
  code/controllers/subsystem/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/admin.dm
  code/modules/mob/new_player/login.dm
  code/modules/mob/new_player/new_player.dm
  icons/misc/landmarks.dmi
Labels: :art: Спрайты

add: Чертежи для крафта (#7460)
  code/__DEFINES/dcs/signals.dm
  code/game/objects/items/craft_blueprints.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/crafting/craft.dm
  code/modules/paperwork/photocopier.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/craft_blueprints.dmi
  paradise.dme
Labels: :art: Спрайты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
