Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

imageadd: новые спрайты медицинского и ботанического сканеров (by FanTik) (#7576)
  icons/obj/device.dmi
Labels: :art: Спрайты

bugfix: Пропавшие спишес спрайтс💀 (#7578)
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/species/vulpkanin/uniform.dmi
  icons/mob/clothing/uniform.dmi
Labels: :art: Спрайты

add: Доктор Рираха (#7540)
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/celestation/Lavaland.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/nova/Lavaland.dmm
  code/modules/mob/living/simple_animal/friendly/snake.dm
  icons/mob/animal.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/neck.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

map: Фиксированный спавн лавового озера (#7545)
  _maps/map_files/Delta/Lavaland.dmm
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_lavalake.dmm
  _maps/map_files/celestation/Lavaland.dmm
  _maps/map_files/cerestation/Lavaland.dmm
  _maps/map_files/coldcolony/Lavaland.dmm
  _maps/map_files/generic/Lavaland.dmm
  _maps/map_files/nova/Lavaland.dmm
  code/datums/ruins/lavaland.dm
  icons/misc/Testing/turf_analysis.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

tweak: Несколько правок создающих тень способностей (#7559)
  code/datums/status_effects/debuffs.dm
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/objects/effects/glowshroom.dm
  code/modules/antagonists/vampire/vampire_powers/umbrae_powers.dm
  code/modules/hydroponics/plant_genes.dm
  code/modules/recycling/disposal.dm
  code/modules/surgery/organs/heart.dm
Labels: none

map: еще пара сабмап для техов меда (#7550)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/Delta/delta.jsonc
  _maps/map_files/Delta/submaps/botany_room.dmm
  _maps/map_files/Delta/submaps/dorm_maints_near_toilet.dmm
  _maps/map_files/Delta/submaps/old_sm_room.dmm
  code/modules/mapmanip/delta.dm
Labels: :world_map: Изменение карты

bugfix: Отсутствие спама шахтёрских сумок + видимость выявленных руд (#7582)
  code/game/turfs/simulated/minerals.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/mining/ores_coins.dm
  icons/effects/ore_overlays.dmi
Labels: :art: Спрайты

add: Крейты с замком для пакетов с кровью (#7492)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/datums/supplypacks.dm
  code/game/objects/structures/crates_lockers/crates.dm
  icons/obj/crates.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

refactor: Попытка №2 небольшого клининга (#7584)
  code/__DEFINES/qdel.dm
  code/game/atoms_movable.dm
  code/modules/shuttle/shuttle.dm
Labels: none

qol: Уменьшение громкости топанья берц и звука сирен от одежды (#7589)
  code/datums/components/jackboots.dm
  code/datums/looping_sounds/item_sounds.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
Labels: none

bugfix: Правильный спрайт у одежды карготехника (#7591)
  code/modules/clothing/under/jobs/civilian.dm
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

bugfix: Исправление количества гранат в гранатомете СБ (#7588)
  code/modules/projectiles/guns/projectile/bombarda.dm
Labels: none

add: Режимы огня для WT-550 (#7575)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/gun.dm
  code/datums/components/fullauto.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/saw.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/projectile/toy.dm
Labels: none

map: Нова дополнительные сабмапы и правки старых (#7563)
  _maps/map_files/nova/nova.dmm
  _maps/map_files/nova/nova.jsonc
  _maps/map_files/nova/submaps/AbondonedChapel.dmm
  _maps/map_files/nova/submaps/AbondonedLibrary.dmm
  _maps/map_files/nova/submaps/AbondonedLivingComplex.dmm
  _maps/map_files/nova/submaps/AbondonedMed.dmm
  _maps/map_files/nova/submaps/Banya.dmm
  _maps/map_files/nova/submaps/EastMaintenance.dmm
  code/game/area/ss13_areas.dm
  code/modules/mapmanip/nova.dm
Labels: :world_map: Изменение карты

imageadd: Респрайт бикеров, банок, пробирки и пипетки (#7585)
  code/modules/asset_cache/assets/asset_chem_master.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/dropper.dm
  icons/obj/chemical.dmi
  icons/obj/reagentfillings.dmi
Labels: :art: Спрайты

balance: капиталистические цены в вендорах (#7587)
  code/game/machinery/vending.dm
Labels: none

bugfix: лишний рантайм тгуи (#7600)
  code/modules/tgui/tgui_window.dm
Labels: none

bugfix: небольшая ошибка в коде спутников (#7595)
  code/modules/station_goals/shield.dm
Labels: none

admin: Лог о форсе ивента через forceEvent (#7602)
  code/modules/events/event_procs.dm
Labels: none

bugfix: bottle - reagent fillings (#7598)
  code/modules/reagents/reagent_containers/bottle.dm
  code/modules/reagents/reagent_containers/dropper.dm
  icons/obj/reagentfillings.dmi
Labels: :art: Спрайты

fix map: замена noop на space в submape old_sm (#7596)
  _maps/map_files/Delta/submaps/old_sm_room.dmm
Labels: :world_map: Изменение карты

balance: Возвращение режима дизейблера для advanced taser (#7608)
  code/modules/projectiles/guns/energy/stun.dm
Labels: none

bugfix: Спрайты в руках для имплантов (#7605)
  code/modules/surgery/organs/augments_internal.dm
  icons/mob/inhands/implants_lefthand.dmi
  icons/mob/inhands/implants_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: :art: Спрайты

bugfix: Весёлая нульспейс коробка прыгающая по этажам (#7610)
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: none

bugfix: Порция спрайтов в руках (#7609)
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/tools_lefthand.dmi
  icons/mob/inhands/tools_righthand.dmi
Labels: :art: Спрайты

bugfix: Теперь кровь смешивается по таблице донорства крови (#7606)
  code/modules/reagents/chemistry/reagents/water.dm
Labels: none

bugfix: У культа ратвара снова светятся руки (#7611)
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: none

bugfix: Бола больше не замедляет в 7 раз (#7612)
  code/game/objects/items/weapons/legcuffs.dm
Labels: none

bugfix: Бригмед теперь попадает в бан медотдела (#7617)
  code/modules/admin/topic.dm
Labels: none

map: Возврат клонерки (#7626)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
Labels: :world_map: Изменение карты

bugfix: Переименование снова использует префикс (#7625)
  code/game/atoms.dm
Labels: none

bugfix: Пчёлы снова впрыскивают реагенты (#7638)
  code/__DEFINES/dcs/signals.dm
  code/datums/elements/reagent_attack.dm
  code/modules/mob/living/simple_animal/hostile/bees.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: none

balance: Воскрешающее прикосновение дьявола не воскрешает тех кто продал свою душу (#7636)
  code/datums/spells/devil_boons.dm
Labels: none

bugfix: возвращает звуки зарядки магазинов, убирает накладывания звуков дропа и поднятия предметов при перезарядках (#7635)
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/saw.dm
Labels: none

bugfix: Алерт передачи предмета снова нормально работает (#7631)
  code/modules/mob/living/carbon/give.dm
Labels: none

bugfix: отображение реагентов в бутылках и бикерах (#7630)
  icons/obj/reagentfillings.dmi
Labels: :art: Спрайты

balance: нукли не падают в параличь от крита (#7643)
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/living/carbon/update_status.dm
Labels: none

bugfix: Некультисты больше не могут атаковать кровавым копьём (#7641)
  code/game/gamemodes/cult/cult_items.dm
Labels: none

add: новые глушители, звуки для глушителей, рукоятка, переработка кода апдейта спрайтов баллистики (#7632)
  code/datums/uplink_item.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_module.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/inhands/attachments_lefthand.dmi
  icons/mob/inhands/attachments_righthand.dmi
  icons/obj/weapons/attachments.dmi
  icons/obj/weapons/guns_48x32.dmi
  sound/weapons/gunshots/shotgunsupp.ogg
  sound/weapons/gunshots/snipersupp.ogg
Labels: :art: Спрайты, :sound: Звук

add: Изменение кровотечения в игре (часть 1) (#7414)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/alerts.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/genetics.dm
  code/__DEFINES/ru_lang_rules.dm
  code/_onclick/hud/alert.dm
  code/datums/supplypacks.dm
  code/datums/uplink_item.dm
  code/game/data_huds.dm
  code/game/machinery/vending.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/crafting/recipes.dm
  code/modules/hydroponics/grown/herbals.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs/blood.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/subtypes/standard.dm
  code/modules/surgery/other.dm
  icons/mob/hud.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/screen_alert.dmi
  icons/obj/hypo.dmi
  icons/obj/medicine/packs.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
