Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

local: Респрайт и лёгкая локализация РНД машинерии (#7562)
  _maps/map_files/Delta/delta.dmm
  code/game/machinery/autolathe.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/vending.dm
  code/game/mecha/mech_fabricator.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/research/message_server.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  code/modules/research/rdmachines.dm
  code/modules/research/server.dm
  code/modules/telesci/bscrystal.dm
  icons/obj/machines/drone_fab.dmi
  icons/obj/machines/heavy_lathe.dmi
  icons/obj/machines/research.dmi
  icons/obj/machines/robotics.dmi
  icons/obj/stationobjs.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

map: еще одна пара сабмап (сколько можно?) (#7607)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/Delta/delta.jsonc
  _maps/map_files/Delta/submaps/old_dorm_room.dmm
  code/modules/mapmanip/delta.dm
Labels: :world_map: Изменение карты

bugfix: фикс админских факсов (#7613)
  code/modules/paperwork/faxmachine.dm
Labels: none

balance: Добавление knockdown при передозе кофе с 5 процентным шансом (#7614)
  code/modules/mob/living/status_procs.dm
  code/modules/reagents/chemistry/reagents/drinks.dm
  code/modules/vehicle/wheelchair.dm
Labels: none

bugfix: Последний шанс генокрада корректно работает (#7618)
  code/modules/antagonists/changeling/changeling_datum.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/mob/living/simple_animal/hostile/headslug.dm
Labels: none

add: Швабры моют кливом (#7619)
  code/game/objects/items/weapons/mop.dm
Labels: none

Balance: нюкеры не могут купить стелс риг и коробку (#7621)
  code/datums/uplink_item.dm
Labels: none

Revert "add: новые глушители, звуки для глушителей, рукоятка, переработка кода апдейта спрайтов баллистики" (#7645)
  code/datums/uplink_item.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/gun_module.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  icons/mob/inhands/attachments_lefthand.dmi
  icons/mob/inhands/attachments_righthand.dmi
  icons/obj/weapons/attachments.dmi
  icons/obj/weapons/guns_48x32.dmi
  sound/weapons/gunshots/shotgunsupp.ogg
  sound/weapons/gunshots/snipersupp.ogg
Labels: :art: Спрайты, :sound: Звук

add: Снаряжание магазинов по одному патрону с коробок и с пола (#7623)
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/magazines.dm
Labels: none

tweak: изменение зарплат (#7628)
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/support.dm
Labels: none

del: Временно отключает втыкание ножей через дизарм пока пельмень не сделает нормально (#7622)
  code/datums/components/stick_it_in.dm
  code/game/objects/items.dm
Labels: none

add: Нульспейс коробка за один поинт магу (#7627)
  code/datums/spells/wizard.dm
  code/game/gamemodes/wizard/spellbook.dm
  code/game/objects/items/weapons/implants/implant_stealth.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
  code/modules/antagonists/devil/devil_contracts.dm
  icons/mob/actions/actions.dmi
Labels: :art: Спрайты

qol: мультитэги в прах и читабельный ченджлог (#7629)
  .github/PULL_REQUEST_TEMPLATE.md
  tgui/packages/tgui/interfaces/Changelog.tsx
  tgui/packages/tgui/styles/interfaces/Changelog.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tools/changelog/gen_changelog.py
Labels: :snake: Python, :computer: TGUI, :book: Документация, :hammer_and_wrench: Инструменты

qol: фаст лоад через кнопку (#7633)
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  _maps/map_files/debug/fast_load.dmm
  code/controllers/subsystem/mapping.dm
Labels: :world_map: Изменение карты, :hammer_and_wrench: Инструменты

add: В тех взрывающихся ящиках нельзя закрыть мобов (#7637)
  code/modules/mining/abandonedcrates.dm
Labels: none

balancе: Изменения снаряжения и условий глав. (#7642)
  code/datums/uplink_item.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/shadowling/shadowling.dm
  code/game/gamemodes/thief/thief.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/goon_vampire.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/surgery/organs/autoimplanter.dm
Labels: none

add: Плюшевая игрушка мокрой совы (#7548)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/nova/nova.dmm
  code/game/gamemodes/cult/blood_magic.dm
  code/game/objects/items/toys.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/reagents/chemistry/reagents/water.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
  sound/effects/wet_owl_horror.ogg
Labels: :art: Спрайты, :world_map: Изменение карты, :sound: Звук

bugfix: Нормальный перенос мми в дрона (#7646)
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
Labels: none

bugfix/tweak: Правки de_kerberos_2 (#7648)
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  code/__DEFINES/hud.dm
  code/__DEFINES/radio.dm
  code/datums/hud.dm
  code/datums/loot_tier.dm
  code/game/gamemodes/de_kerberos_2/de_kerberos_2.dm
  code/game/jobs/job/de_kerberos_2.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/loot_crates/loot_crate.dm
  code/modules/antagonists/de_kerberos_2/datums.dm
  code/modules/antagonists/de_kerberos_2/teams.dm
  icons/mob/hud.dmi
  paradise.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
Labels: :computer: TGUI, :art: Спрайты, :world_map: Изменение карты

bugfix: отображение автолата с открытой крышкой (#7649)
  icons/obj/anomaly/anomaly_stuff.dmi
  icons/obj/stationobjs.dmi
Labels: :art: Спрайты

bugfix: Откат антаг худов (#7651)
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
Labels: :computer: TGUI

bugfix: попытка фикса худов (#7653)
  code/modules/antagonists/de_kerberos_2/datums.dm
Labels: none

bugfix: Фикс линтера (#7654)
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
Labels: :computer: TGUI

bugfix: Исправление частоты у зеков (#7655)
  code/game/objects/items/devices/radio/headset.dm
Labels: none

bugfix: Тимы больше не видны на id консоли (#7656)
  code/game/machinery/computer/card.dm
Labels: none

bugfix: Теперь за Team нельзя зайти без админ прав (#7657)
  code/game/jobs/job/de_kerberos_2.dm
Labels: none

bugfix: отображдение принтера плат с открытой панелью (#7661)
  code/modules/research/circuitprinter.dm
Labels: none

tweak: de_kerberos_2 Апдейт (#7663)
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  code/_globalvars/game_modes.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/mapping.dm
  code/datums/loot_tier.dm
  code/game/gamemodes/de_kerberos_2/de_kerberos_2.dm
  code/modules/map_fluff/de_kerberos_2.dm
  code/modules/map_fluff/maps.dm
  code/modules/mob/mob.dm
Labels: :world_map: Изменение карты

balance: ЖЁСТКИЙ нерф монтировок (#7566)
  code/game/objects/items/tools/crowbar.dm
Labels: none

map: Ремап Кибериады (#7624)
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/items/weapons/whetstone.dm
Labels: :world_map: Изменение карты

bugfix: Стили снова отсортированы (#7658)
  tgui/packages/tgui-panel/styles/tgchat/chat-default.scss
  tgui/public/tgui-panel.bundle.css
Labels: :computer: TGUI

bugfix: Теперь автофорс режима от карты работает (#7664)
  code/controllers/subsystem/mapping.dm
Labels: none

bugfix: Кнопки действий снова можно перетаскивать (#7673)
  code/_onclick/hud/movable_screen_objects.dm
Labels: none

bugfix: runtime mime door (#7671)
  code/game/machinery/doors/airlock_types.dm
Labels: none

add: Возможность деадмина игрокам с флагом viewruntimes (#7674)
  code/_globalvars/lists/mobs.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/observer/observer_admin_actions.dm
  code/modules/mob/login.dm
  code/modules/mob/new_player/login.dm
Labels: none

add: Два новых вида дополнительных целей смены (#7503)
  code/modules/addition_goals/addition_goal_console.dm
  code/modules/addition_goals/addition_goals.dm
  code/modules/addition_goals/goals/energy.dm
  code/modules/addition_goals/goals/funeral.dm
  code/modules/addition_goals/goals/trash.dm
  code/modules/addition_goals/shuttle.dm
  code/modules/power/smes.dm
  icons/obj/engines_and_power/power.dmi
  paradise.dme
Labels: :art: Спрайты

tweak/local: Теперь статус смерти зависит от наличия разума. Добавлены описания статусов в медхуде. (#7652)
  code/__DEFINES/hud.dm
  code/game/data_huds.dm
  code/game/gamemodes/miniantags/guardian/guardian.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

add: Зелёный цвет ооц разрабов (#7675)
  code/game/verbs/ooc.dm
Labels: none

add: Персонажи для антагонизма (#7433)
  SQL/paradise_schema.sql
  SQL/updates/36-37.sql
  code/controllers/subsystem/ticker.dm
  code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences_mysql.dm
  code/modules/mob/new_player/new_player.dm
Labels: :cd: SQL

server: multiinstance + redis + lobby menu (#7471)
  .github/workflows/ci.yml
  SQL/paradise_schema.sql
  SQL/updates/37-38.sql
  code/__DEFINES/_span.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/config.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/instancing.dm
  code/controllers/subsystem/non-firing/blackbox.dm
  code/controllers/subsystem/redis.dm
  code/controllers/subsystem/statistics.dm
  code/controllers/subsystem/titlescreen.dm
  code/game/gamemodes/game_mode.dm
  code/game/verbs/switch_server.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/sql_notes.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/view_instances.dm
  code/modules/client/client_procs.dm
  code/modules/karma/karma.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/redis/callbacks/asay_callback.dm
  code/modules/redis/callbacks/devsay_callback.dm
  code/modules/redis/callbacks/msay_callback.dm
  code/modules/redis/callbacks/server_messages_callback.dm
  code/modules/redis/redis_callback.dm
  code/modules/redis/redis_message.dm
  code/modules/server_commands/commands/newroundannounce.dm
  code/modules/server_commands/servermsg.dm
  config/example/config.txt
  config/example/dbconfig.txt
  html/title_screen.html
  paradise.dme
  tools/ci/dbconfig.txt
Labels: :globe_with_meridians: HTML, :cd: SQL, :gear: Изменение конфига, :hammer_and_wrench: Инструменты
