Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

server: Теперь анонсер очищает список тегов (#7317)
  .github/workflows/discord_pr_announce.yml
Labels: :hammer_and_wrench: Инструменты

bugfix: Фикс рантайма пены (#7316)
  code/game/objects/effects/effect_system/fluid_spread/effects_foam.dm
Labels: none

server: Добавлены qdel логи, выводящиеся в отдельный файл (#7318)
  code/controllers/subsystem/garbage.dm
Labels: none

balance: uzi вместо ревика в бандл пейдея, вырез узи из аплинка нюки (#7311)
  code/datums/syndiesupplypacks.dm
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

server: Добавление логов при хардделах (#7319)
  code/controllers/subsystem/garbage.dm
Labels: none

experiment: revert gc refactor (#7315)
  code/controllers/subsystem/garbage.dm
Labels: none

experiment: silence ai controller runtime (#7321)
  code/datums/ai/_ai_controller.dm
Labels: none

balance: Дальнейший реворк точности оружия (#7271)
  code/datums/components/fullauto.dm
  code/modules/projectiles/accuracy.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/alien.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/energy/telegun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  code/modules/projectiles/guns/projectile/bow.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/saw.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/guns/projectile/toy.dm
  code/modules/projectiles/guns/rusted_weapons.dm
  code/modules/projectiles/recoil.dm
  paradise.dme
Labels: none

bugfix: Возвращает пронзание пронзающим снарядам, чинит статы акселераторного лазера (#7322)
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/projectile.dm
Labels: none

balance: никакого акимбо для вт и сп (#7323)
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: none

balance: Баланс точности оружия (#7325)
  code/modules/projectiles/accuracy.dm
Labels: none

balance: Нерф сикуси (#7327)
  code/modules/martial_arts/cqc.dm
Labels: none

balance: Фабрика малфа теперь может перерабатывать трупы (#7328)
  code/game/machinery/transformer.dm
Labels: none

balance: Расовых резистов больше нет (#7326)
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/carbon/human/species/machine.dm
  code/modules/mob/living/carbon/human/species/plasmaman.dm
  code/modules/mob/living/carbon/human/species/unathi.dm
  code/modules/surgery/organs/organ_external.dm
Labels: none

balance: Нерф компактной снайперки (#7329)
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: none

bugfix: Уменьшение числа хардделов + not sleep в Destroy (#7341)
  code/_onclick/hud/hud.dm
  code/_onclick/hud/radial.dm
  code/datums/datum.dm
  code/datums/holocall.dm
  code/datums/spell.dm
  code/datums/spell_cooldown/spell_cooldown.dm
  code/datums/spells/devil_boons.dm
  code/game/gamemodes/emergency_shuttle_lockdown.dm
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/hologram.dm
  code/game/mecha/mecha.dm
  code/game/objects/effects/glowshroom.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/buildmode/buildmode.dm
  code/modules/economy/quests/_base_quests.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/instruments/objs/items/headphones.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/gorilla/gorilla.dm
  code/modules/power/apc.dm
  code/modules/power/lighting.dm
  code/modules/power/power.dm
  code/modules/telesci/gps.dm
  code/modules/tgui/tgui_datum.dm
  code/modules/tgui/tgui_window.dm
Labels: none

bugfix: Фикс таргетинга спелов (#7343)
  code/datums/spell.dm
Labels: none

tweak: Удаление таймеров и ещё некоторые улучшения (#7344)
  code/controllers/subsystem/mapping.dm
  code/datums/datum.dm
  code/game/atoms.dm
  code/modules/lighting/lighting_setup.dm
  code/modules/lighting/lighting_turf.dm
Labels: none

bugfix: Фикс нескольких рантаймов (#7346)
  code/game/gamemodes/cult/blood_magic.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/objective.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/antagonists/syndicate/nuclear/pinpointer.dm
  code/modules/awaymissions/corpse.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/library/computers/checkout.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
Labels: none

bugfix: Исправление харддела point to (#7347)
  code/modules/point/point.dm
Labels: none

bugfix: Исправление рантайма брызг крови и хардделов image + tgui_datum (#7349)
  code/datums/progressbar.dm
  code/game/objects/items/gems.dm
  code/modules/surgery/organs/blood.dm
  code/modules/tgui/tgui_datum.dm
Labels: none

bugfix: Исправление рантайма гемов + фикс тгуи (#7352)
  code/game/objects/items/gems.dm
  code/modules/surgery/organs/subtypes/diona.dm
  code/modules/tgui/tgui_datum.dm
Labels: none

bugfix: angle & penetration proj sprite (#7353)
  code/__HELPERS/maths.dm
  code/game/objects/items/weapons/mortar_shells.dm
  code/modules/cargo/supplypod.dm
  icons/obj/weapons/projectiles.dmi
Labels: :art: Спрайты

del: dmf status bar (#7332)
  code/controllers/subsystem/non-firing/titlescreen.dm
  code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: none

tweak: Ленивое формирование списков для атомов (#7362)
  code/controllers/subsystem/non-firing/overlays.dm
  code/game/atoms.dm
Labels: none

refactor: Удаление датумов в gun и листы в projectile (#7363)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: none

bugfix: Прикуренная сигарета отображается корректно (#7378)
  code/game/objects/items/weapons/cigs.dm
Labels: none

bugfix: Спрайт флага СССП на куклах отображается корректно (#7370)
  icons/mob/clothing/neck.dmi
Labels: :art: Спрайты

code_imp: use pointers in codeword_hearing (#7369)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/codeword_hearing.dm
  code/modules/mob/hear_say.dm
Labels: none

bugfix: Удален вывод в логи шаттла космокладбища если пристыкован шаттл доп целей (#7355)
  code/__DEFINES/shuttles.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_manipulator.dm
Labels: none

bugfix: Прокачка до 5 уровня силы и операции на ксеноморфах (#7368)
  code/datums/components/muscles.dm
  code/modules/surgery/organs_internal.dm
Labels: none

bugfix: Ножи гоустфейса и дьявольского гоустфейса теперь действительно ножи и работают с БИ ножей (#7365)
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/martial_arts/throwing_knives.dm
Labels: none

bugfix: Дебрисы, описание сигарет, скринтипы (#7380)
  code/__HELPERS/atoms.dm
  code/_onclick/hud/screentip.dm
  code/game/atoms.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/weapons/cigs.dm
  code/game/objects/items/weapons/kitchen.dm
  code/game/objects/structures.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/openspace.dm
Labels: none

bugfix: Перенос sharpen из названия в описание (#7381)
  code/game/gamemodes/cult/cult_items.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/whetstone.dm
  code/modules/games/52card.dm
  code/modules/mob/living/carbon/human/human_organs.dm
Labels: none

Balance: ребаланс пласталевой рапиры (#7379)
  code/datums/elements/after_attack/attack_effect_sleep.dm
  code/game/objects/items/weapons/melee/misc.dm
Labels: none

balance: нерф аугментации (#7377)
  code/modules/surgery/organs/organ_external.dm
Labels: none

balance: бафф клинков богомолов от горлекса (#7373)
  code/datums/uplink_item.dm
  code/modules/surgery/organs/augments_arms.dm
Labels: none

spellcheck: Замена "Время курить" на "Перекур" в постере с гусеницей (#7371)
  code/game/objects/effects/decals/contraband.dm
Labels: none

balance: Больше нельзя использовать зелье ускорения на транспорте (#7367)
  code/datums/elements/ridable.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

tweak: Дьявол может сжечь смирительную рубашку; исправлен спам скиллом (#7366)
  code/datums/spells/devil.dm
Labels: none
