Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

bugfix: Удаляет часть, связанную с очисткой разума в ПРе из-за крит. бага #7652 (#7682)
  code/modules/mob/dead/dead.dm
Labels: none

bugfix: декодирование названия сервера и баги с плеер лист (#7683)
  SQL/paradise_schema.sql
  SQL/updates/37-38.sql
  code/controllers/subsystem/titlescreen.dm
  code/modules/admin/IsBanned.dm
Labels: :cd: SQL

bugfix: пару рантайм (#7686)
  code/_onclick/hud/alert.dm
  code/controllers/subsystem/titlescreen.dm
Labels: none

bugfix: chainsaw can not drop in surplus (#7685)
  code/datums/uplink_item.dm
Labels: none

remap: Кибериада 2 - Царство зелени (#7684)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: :world_map: Изменение карты

tweak: TGUI мехов + несколько изменений (#7519)
  code/__DEFINES/mecha.dm
  code/game/jobs/access.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/card.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/makeshift/lockermech.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/mecha/mecha_control_console.dm
  code/game/mecha/mecha_topic.dm
  code/game/mecha/mecha_ui.dm
  code/game/objects/items/weapons/implants/implant_freedom.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  paradise.dme
  tgui/packages/tgui/assets/bg-clown.svg
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/Mecha/AlertPane.tsx
  tgui/packages/tgui/interfaces/Mecha/ModulesPane.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
  tgui/packages/tgui/interfaces/Mecha/honk.tsx
  tgui/packages/tgui/interfaces/Mecha/index.tsx
  tgui/packages/tgui/interfaces/MechaControlConsole.tsx
  tgui/packages/tgui/interfaces/Mimicking.tsx
  tgui/packages/tgui/interfaces/common/AccessList.tsx
  tgui/packages/tgui/interfaces/common/GasmixParser.tsx
  tgui/packages/tgui/styles/themes/honker.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

tweak: Нуклеации теперь могут трогать осколок суперматерии (#7615)
  code/__DEFINES/traits/declarations.dm
  code/game/objects/items/theft_items.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
Labels: none

balance: Баф сб собаки (#7616)
  code/modules/mob/living/simple_animal/friendly/dog_sec.dm
Labels: none

balance: + qol свап местами и пацифизм данталиона (#7620)
  code/__DEFINES/hud.dm
  code/datums/hud.dm
  code/datums/status_effects/debuffs.dm
  code/game/data_huds.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  icons/mob/hud.dmi
Labels: :art: Спрайты

balance: крит становится незаметнее при активном обезболе (#7659)
  code/modules/mob/living/carbon/human/life.dm
Labels: none

balance: одобренные хэд дэвом изменения в шок и критическое состояние (#7668)
  code/datums/diseases/critical.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: none

add: кнопка активации гидропонических худов для сервисных боргов (#7672)
  code/modules/mob/living/silicon/robot/robot_module_actions.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: none

bugfix: Шестизначный пин-код корректно вводится в EFTPOS (#7676)
  code/modules/economy/EFTPOS.dm
  tgui/packages/tgui/interfaces/ATM.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

balance: Фикс бага с зарядкой магазина и печать пустых магазинов (#7678)
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/designs/weapon_designs.dm
Labels: none

balance: Снижение цен на оружейные модули (#7681)
  code/game/machinery/vending.dm
Labels: none

bugfix: фикс ремапа кибериады (#7688)
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: :world_map: Изменение карты

server: CI balloon_alert() and /static/list checks (#7690)
  code/datums/components/riding/riding.dm
  code/game/objects/items/devices/genetics.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/game/objects/items/weapons/dna_upgrader.dm
  code/game/objects/items/weapons/laser_eyes_injector.dm
  code/game/objects/structures/snow.dm
  code/modules/library/lib_items.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/carbon/human/species/kidan.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/spacepods/spacepod.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/surgery/other.dm
  tools/ci/check_grep.sh
Labels: :hammer_and_wrench: Инструменты

server/refactor: CI check mapload in Initialize() args & tiny refactor (#7694)
  code/game/dna/dna_modifier.dm
  code/game/machinery/computer/cloning.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/items/decorations.dm
  code/game/objects/items/gems.dm
  code/game/objects/structures/inflatable.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/anomalies/anomalies/anomaly.dm
  code/modules/paperwork/contract.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  tools/ci/check_grep.sh
Labels: :hammer_and_wrench: Инструменты

bugfix: Чинит пустой отчёт сканера аутопсии (#7702)
  code/game/objects/items/devices/autopsy.dm
Labels: none

bugfix: спаны в шепоте, спаны в ачате, лобби, баны (#7698)
  code/__DEFINES/misc.dm
  code/controllers/subsystem/titlescreen.dm
  code/modules/admin/db_ban/functions.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/client_procs.dm
  code/modules/client/geoip.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/redis/callbacks/asay_callback.dm
  code/modules/redis/callbacks/devsay_callback.dm
  code/modules/redis/callbacks/msay_callback.dm
Labels: none

bugfix: Исправляет инверсию в расчёте взрывов (#7687)
  code/game/mecha/mecha.dm
  code/game/objects/structures/transit_tubes/transit_tube.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: none

bugfix: Фикс персонажей для антагонизма (#7692)
  code/modules/mob/new_player/new_player.dm
Labels: none

bugfix: Клив атака больше не бьет через заблокированные тайлы (#7701)
  code/datums/components/cleave_attack.dm
Labels: none

balance: Стелс коробка больше не имеет 0 альфу (#7666)
  code/__DEFINES/implants_defines.dm
  code/datums/uplink_item.dm
  code/game/objects/items/weapons/implants/implant_stealth.dm
Labels: none

balance: Добавление оружейных модулей в киты с оружием в аплинке (#7695)
  code/datums/uplink_item.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: none

bugfix: Корректное отображение голоса в чате без айди карты (#7693)
  code/modules/mob/living/living_say.dm
Labels: none

add: Новые имена и фамилии (#7709)
  config/names/first_female.txt
  config/names/first_male.txt
  config/names/last.txt
  config/names/last_female.txt
Labels: :gear: Изменение конфига

bugfix: исправлена сборка мехов (#7710)
  code/__DEFINES/construction/actions.dm
Labels: none

refactor: диагональные движения (порт) (#7712)
  code/modules/mob/mob_movement.dm
Labels: none

refactor: Небольшая оптимизация contained_turfs посредством разделения на z уровни (#7711)
  code/__HELPERS/_lists.dm
  code/__HELPERS/areas.dm
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/area_contents.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/shuttles.dm
  code/datums/weather/weather_types/hell.dm
  code/datums/weather/weather_types/web_storm.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/world.dm
  code/modules/awaymissions/maploader/reader.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/space_management/space_reservation.dm
Labels: none

tweak: рандомная оружейка СБ (#7573)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
  code/game/machinery/vending.dm
  code/game/objects/effects/spawners/random_spawners.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/weapon_designs.dm
  icons/effects/mapping_helpers.dmi
  icons/obj/guncabinet.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

bugfix: Исправляет точность стрельбы кровью у культа + спрайты (#7715)
  code/game/gamemodes/cult/cult_items.dm
  code/game/gamemodes/miniantags/morph/morph.dm
  code/modules/projectiles/projectile/magic.dm
Labels: none

bugfix: фикс иконок ЛР30 и магазина, новое описание и название для патронов СП91 (#7714)
  code/__DEFINES/gun.dm
  code/datums/loot_tier.dm
  code/modules/projectiles/ammunition/ammo_casings.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/magazines.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/vehicle/atv.dm
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
Labels: :art: Спрайты

add: Модуль лазерного целеуказателя на оружие (#7644)
  code/__DEFINES/dcs/signals.dm
  code/__HELPERS/maths.dm
  code/datums/beam.dm
  code/datums/components/laser_sight.dm
  code/datums/keybindings/mob.dm
  code/game/machinery/vending.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/projectiles/gun_module.dm
  icons/effects/beam.dmi
  icons/effects/effects.dmi
  icons/mob/inhands/attachments_lefthand.dmi
  icons/mob/inhands/attachments_righthand.dmi
  icons/obj/weapons/attachments.dmi
  paradise.dme
Labels: :art: Спрайты

balance/bugfix: Балансные правки + фиксы ошибок (#7722)
  _maps/map_files/de_kerberos_2/de_kerberos_2.dmm
  code/datums/loot_tier.dm
  code/game/gamemodes/de_kerberos_2/de_kerberos_2.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/loot_crates/loot_crate.dm
  code/modules/cargo/supplypod.dm
  code/modules/map_fluff/de_kerberos_2.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
Labels: :world_map: Изменение карты

balance: инструменты стали больше (#7669)
  _maps/map_files/RandomRuins/SpaceRuins/old_station_ss1984.dmm
  code/__DEFINES/inventory.dm
  code/game/objects/items/tools/crowbar.dm
  code/game/objects/items/tools/screwdriver.dm
  code/game/objects/items/tools/welder.dm
  code/game/objects/items/tools/wirecutters.dm
  code/game/objects/items/tools/wrench.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/storage/boxes.dm
  icons/mob/inhands/tools_lefthand.dmi
  icons/mob/inhands/tools_righthand.dmi
  icons/obj/tools.dmi
Labels: :art: Спрайты, :world_map: Изменение карты

add: Возможность менять цвет коробки мелками. (#7696)
  code/__DEFINES/is_helpers.dm
  code/game/objects/structures/crates_lockers/closets/cardboardbox.dm
Labels: none

balance: Плавное изменение температуры у температурной пушки (#7704)
  code/__DEFINES/status_effects.dm
  code/datums/status_effects/debuffs.dm
  code/modules/mob/living/status_procs.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special.dm
Labels: none

add: Добавление звуков при переливании у некоторых контейнеров (#7705)
  code/__DEFINES/sound.dm
  code/game/sound/sound_keys/sound_keys_reagents.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/glass_containers.dm
  code/modules/reagents/reagent_containers/iv_bag.dm
  code/modules/reagents/reagent_containers/syringes.dm
  paradise.dme
  sound/items/reagent_containers/beakerpour_0-10-1.ogg
  sound/items/reagent_containers/beakerpour_0-10-2.ogg
  sound/items/reagent_containers/beakerpour_0-10-3.ogg
  sound/items/reagent_containers/beakerpour_0-10-4.ogg
  sound/items/reagent_containers/beakerpour_0-10-5.ogg
  sound/items/reagent_containers/beakerpour_0-10-6.ogg
  sound/items/reagent_containers/beakerpour_10-25-1.ogg
  sound/items/reagent_containers/beakerpour_10-25-2.ogg
  sound/items/reagent_containers/beakerpour_10-25-3.ogg
  sound/items/reagent_containers/beakerpour_10-25-4.ogg
  sound/items/reagent_containers/beakerpour_10-25-5.ogg
  sound/items/reagent_containers/beakerpour_10-25-6.ogg
  sound/items/reagent_containers/beakerpour_25-50-1.ogg
  sound/items/reagent_containers/beakerpour_25-50-2.ogg
  sound/items/reagent_containers/beakerpour_25-50-3.ogg
  sound/items/reagent_containers/beakerpour_50-inf-1.ogg
  sound/items/reagent_containers/beakerpour_50-inf-2.ogg
  sound/items/reagent_containers/beakerpour_50-inf-3.ogg
  sound/items/reagent_containers/beakerpour_50-inf-4.ogg
  sound/items/reagent_containers/beakerpour_50-inf-5.ogg
  sound/items/reagent_containers/dropper1.ogg
  sound/items/reagent_containers/dropper2.ogg
  sound/items/reagent_containers/syringepour1.ogg
  sound/items/reagent_containers/syringepour2.ogg
  sound/items/reagent_containers/watersplash.ogg
Labels: :sound: Звук

tweak: Возможность выстрелить в воздух (#7706)
  code/__DEFINES/dcs/signals.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  code/modules/projectiles/guns/projectile/bow.dm
  code/modules/projectiles/guns/projectile/launchers.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none
