Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

add: New splatter effect on hit (#8590)
  code/__DEFINES/is_helpers.dm
  code/__HELPERS/turfs.dm
  code/datums/elements/force_move_pulled.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/effects/decals/decal.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/surgery/organs/blood.dm
  icons/effects/blood.dmi
  paradise.dme
  sound/effects/splatter.ogg
Labels: :art: Спрайты, :sound: Звук

tweak: Little buff the death book (#8594)
  code/datums/uplink_item.dm
Labels: none

add: Bonfire & Fireplace particles and sound loops (#8591)
  code/__DEFINES/overlays.dm
  code/datums/looping_sounds/burning.dm
  code/game/atoms.dm
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/effects/shared_particle_holder.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/bonfire.dm
  code/game/objects/structures/fireplace.dm
  code/modules/hydroponics/grown/towercap.dm
  icons/obj/fireplace.dmi
  paradise.dme
  sound/items/comfyfire.ogg
  sound/items/match_strike.ogg
Labels: :art: Спрайты, :sound: Звук

add: магнитное улучшение для рудных сумок (#8552)
  code/__HELPERS/global_lists.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/mining_satchel_upgrade.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/ores_coins.dm
  code/modules/research/designs/mechfabricator_designs.dm
  icons/obj/mining_satchel_upgrade.dmi
  paradise.dme
Labels: :art: Спрайты

add: универсальный набор имплантов в лодаут (#8554)
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/job/supply.dm
  code/modules/client/preference/loadout/loadout.dm
  code/modules/client/preference/loadout/loadout_implants.dm
  code/modules/surgery/organs/augments_eyes.dm
  icons/obj/surgery.dmi
Labels: :art: Спрайты

add: Echolocation component (#8592)
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/echolocation.dm
  code/datums/status_effects/debuffs.dm
  code/game/objects/effects/particles/echo.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  icons/effects/echolocate.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/EcholocationFocus.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :art: Спрайты

refactor/tweak: Рефактор и ребаланс эксперементатора + тгуи (#8606)
  code/__DEFINES/experimentor.dm
  code/__DEFINES/is_helpers.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/remains.dm
  code/modules/food_and_drinks/drinks/drinks/cups.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/research/experimentor.dm
  code/modules/research/experimentor/experimentor.dm
  code/modules/research/experimentor/experiments.dm
  code/modules/research/experimentor/relics.dm
  code/modules/research/experimentor/wires.dm
  paradise.dme
  sound/effects/curse/curse1.ogg
  sound/effects/curse/curse2.ogg
  sound/effects/curse/curse3.ogg
  sound/effects/curse/curse4.ogg
  sound/effects/curse/curse5.ogg
  sound/effects/curse/curse6.ogg
  sound/effects/curse/curseattack.ogg
  tgui/packages/tgui/interfaces/Experimentator.tsx
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI, :sound: Звук

bugfix: Фикс эксперементатора (#8607)
  code/modules/research/experimentor/experimentor.dm
  code/modules/research/experimentor/experiments.dm
  tgui/packages/tgui/interfaces/Experimentator.tsx
Labels: :computer: TGUI

bugfix: Random toy prize (#8608)
  code/game/objects/structures/crates_lockers/crates/abandoned_crates/abandoned_crates.dm
  code/game/objects/structures/crates_lockers/crates/abandoned_crates/abandoned_crates_loot.dm
Labels: none

del: stick it in Pelmen (#8615)
  code/datums/components/stick_it_in.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/kitchen.dm
  paradise.dme
Labels: none

server: Fuck these labels (#8613)
  .github/dependabot.yml
Labels: :hammer_and_wrench: Инструменты
