Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

balance/bugfix: Артифишеры культа не могут стакать пилоны, конструктам возвращено старое хп (#7867)
  code/datums/spells/conjure.dm
  code/datums/spells/construct_spells.dm
  code/modules/mob/living/simple_animal/constructs.dm
Labels: none

add: Сердце ратвара, ратвар мехи и пушки (#6799)
  code/__DEFINES/clockwork.dm
  code/datums/mecha_rat_act.dm
  code/game/atoms.dm
  code/game/gamemodes/clockwork/clock_magic.dm
  code/game/gamemodes/clockwork/clockheart.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/clockwork/clockwork_gateway.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/clockwork/clockwork_objectives.dm
  code/game/gamemodes/clockwork/clockwork_structures.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items.dm
  code/modules/admin/check_antagonists.dm
  code/modules/antagonists/syndicate/nuclear/pinpointer.dm
  code/modules/power/cell.dm
  code/modules/projectiles/ammunition/energy.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/energy.dm
  icons/effects/96x96.dmi
  icons/effects/effects.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/inhands/melee_lefthand.dmi
  icons/mob/inhands/melee_righthand.dmi
  icons/mob/inhands/twohanded_lefthand.dmi
  icons/mob/inhands/twohanded_righthand.dmi
  icons/obj/clockheart.dmi
  icons/obj/clockwork.dmi
  icons/obj/mecha/lockermech.dmi
  icons/obj/mecha/mecha.dmi
  icons/obj/weapons/projectiles.dmi
  paradise.dme
  sound/magic/clockwork/heart_beat.ogg
  sound/magic/clockwork/heart_tick_tock.ogg
Labels: :art: Спрайты, :sound: Звук

add: space oriented storage[IDB IGNORE] (#7797)
  code/__DEFINES/preferences.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/client/preference/preferences_toggles.dm
  icons/mob/screen_clockwork.dmi
  icons/mob/screen_gen.dmi
  icons/mob/screen_midnight.dmi
  icons/mob/screen_operative.dmi
  icons/mob/screen_plasmafire.dmi
  icons/mob/screen_retro.dmi
  icons/mob/screen_slimecore.dmi
  icons/mob/screen_white.dmi
Labels: :art: Спрайты

balance: Станы культа теперь не воздействуют на людей с мщ(заряды при этом не тратятся) (#7885)
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/cult/blood_magic.dm
Labels: none

add: Новые донатные нашивки и наклейки на карты (#7859)
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  icons/mob/clothing/ties.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/inhands/id_lefthand.dmi
  icons/mob/inhands/id_righthand.dmi
  icons/mob/talk.dmi
  icons/obj/card.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/ties_overlay.dmi
  icons/obj/toy.dmi
  icons/obj/wallets.dmi
Labels: :art: Спрайты

balance: нерф крав маг (#7882)
  code/modules/martial_arts/combos/krav_maga/leg_sweep.dm
Labels: none

add/image: немного приколов для СБ. (#7856)
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate_department.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head.dmi
  icons/mob/clothing/species/drask/head.dmi
  icons/mob/clothing/species/drask/shoes.dmi
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/head.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/head.dmi
  icons/mob/clothing/species/monkey/shoes.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/shoes.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/head.dmi
  icons/mob/clothing/species/vox/shoes.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/species/vulpkanin/mask.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

add: куча новых имен и фамилий парт 2 (#7773)
  strings/names/first_female.txt
  strings/names/first_male.txt
  strings/names/last_female.txt
  strings/names/last_male.txt
Labels: none

add: Добавление формы ТСФ (#7886)
  code/modules/client/preference/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/clothing/species/drask/uniform.dmi
  icons/mob/clothing/species/grey/uniform.dmi
  icons/mob/clothing/species/monkey/uniform.dmi
  icons/mob/clothing/species/unathi/uniform.dmi
  icons/mob/clothing/species/vox/uniform.dmi
  icons/mob/clothing/uniform.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/obj/clothing/uniforms.dmi
Labels: :art: Спрайты

balance: Телеган телепортирует только по маячкам на том же z уровне, что и сам телеган (#7746)
  code/modules/projectiles/guns/energy/telegun.dm
Labels: none

balance/map: увеличенное количество РЦД для инженеров (#7752)
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
Labels: :world_map: Изменение карты

balance: мендеры (#7888)
  code/modules/reagents/reagent_containers/applicator.dm
Labels: none

bugfix: неверные вычисления в мендере (#7889)
  code/modules/reagents/reagent_containers/applicator.dm
Labels: none

add: Вампиры-каннибалы (#7814)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/hud.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/__DEFINES/vampire_defines.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/muscles.dm
  code/datums/hud.dm
  code/datums/mind.dm
  code/datums/spell_cooldown/spell_charges.dm
  code/datums/spell_cooldown/spell_cooldown.dm
  code/game/data_huds.dm
  code/game/gamemodes/clockwork/clockwork.dm
  code/game/gamemodes/cult/cult.dm
  code/modules/antagonists/vampire/devil_vampire.dm
  code/modules/antagonists/vampire/diablerie.dm
  code/modules/antagonists/vampire/free_vampire.dm
  code/modules/antagonists/vampire/goon_vampire_datum.dm
  code/modules/antagonists/vampire/new_vampire_datum.dm
  code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_powers/bestia_powers.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
  code/modules/antagonists/vampire/vampire_powers/goon_vampire_powers.dm
  code/modules/antagonists/vampire/vampire_powers/vampire_powers.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/spacepods/spacepod.dm
  icons/effects/vampire_effects.dmi
  paradise.dme
Labels: :art: Спрайты

add: Добавить в вендор билетиков в дормах спрей для автозагара (#7887)
  code/modules/arcade/prize_datums.dm
Labels: none

balance: нёрф поясов (#7740)
  code/game/objects/items.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/toolbox.dm
Labels: none

bugfix: Вампиров без крови можно сосать (#7890)
  code/modules/mob/living/carbon/human/species/_species.dm
Labels: none

bugfix: Вендор с патронами можно собирать и разбирать (#7897)
  code/game/machinery/constructable_frame.dm
Labels: none

bugfix: Починка рантайма пулла греев (#7895)
  code/datums/components/muscles.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: none

server: Checking CI for html tag case (#7896)
  code/datums/callback.dm
  code/datums/uplink_item.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/antagonists/space_ninja/suit/suit_SpiderOS.dm
  code/modules/client/geoip.dm
  code/modules/library/computers/public.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/paperwork/faxmachine.dm
  tools/ci/check_grep2.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

server: PR template improve (#7892)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :book: Документация, :hammer_and_wrench: Инструменты

server/bugfix: Reworking the alphabetical order script and fix trait validaty (#7891)
  code/_globalvars/lists/names.dm
  code/tests/game_tests.dm
  tools/ci/alphabetical_check.py
  tools/ci/trait_validity.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix: express fix (#7899)
  code/modules/admin/verbs/debug.dm
Labels: none

bugfix: фикс логики дефлекшена/рефлекшена у БИ (#7901)
  code/game/objects/items/weapons/highlander_swords.dm
  code/modules/antagonists/space_ninja/creeping_widow/creeping_widow_martial_art.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: none

tweak: Переключения дефиба в перчатках инугами (#7865)
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/datums/action.dm
  code/datums/components/defibrillator.dm
  code/modules/clothing/gloves/color.dm
Labels: none

bugfix: Фикс некоторых массовых рантаймов (#7902)
  code/__HELPERS/atoms.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/throwing.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/terror_spiders/terror_spider_actions.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/power/lighting.dm
Labels: none

refactor: No qdeling callback (#7904)
  code/_onclick/hud/radial.dm
  code/datums/callback.dm
  code/datums/cinematics/cinematic_datum.dm
  code/datums/components/aura_healing.dm
  code/datums/components/blob_minion.dm
  code/datums/components/codeword_hearing.dm
  code/datums/components/deadchat_control.dm
  code/datums/components/ducttape.dm
  code/datums/components/laser_sight.dm
  code/datums/components/slippery.dm
  code/datums/components/spinny.dm
  code/datums/components/squashable.dm
  code/datums/components/twohanded.dm
  code/game/area/vision_reset_areas.dm
  code/modules/vehicle/wheelchair.dm
Labels: none

bugfix: Спрайт шлема шахтерского плазмамена максимально усиленного шкурами, не пропадает при включение фонарика (#7907)
  icons/obj/clothing/species/plasmaman/hats.dmi
Labels: :art: Спрайты

server: Add compressing PRs to .git-blame-ignore-revs (#7908)
  .git-blame-ignore-revs
Labels: none

bugfix: Исправление проблемы с пропадающим дефайном мультиинстанса (#7910)
  code/_compile_options.dm
  paradise.dme
Labels: none

admin: Панель создания бикеров (#7912)
  code/__DEFINES/reagents.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/reagents/chemistry/reagents.dm
  paradise.dme
  tgui/packages/tgui/assets/bg-admin.svg
  tgui/packages/tgui/components/Dropdown.tsx
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/BeakerPanel.tsx
  tgui/packages/tgui/styles/components/Dropdown.scss
  tgui/packages/tgui/styles/themes/admin.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

admin: ТГУИ спавн панель (#7911)
  code/__DEFINES/admin.dm
  code/datums/datumvars.dm
  code/game/objects/objs.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/create_object.dm
  code/modules/admin/create_turf.dm
  code/modules/admin/spawn_panel/assets.dm
  code/modules/admin/spawn_panel/spawn_handling.dm
  code/modules/admin/spawn_panel/spawn_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/mark_datum.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/tgui/states/never.dm
  html/create_object.html
  paradise.dme
  tgui/package.json
  tgui/packages/common/fuzzysearch.ts
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObject.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObjectAdvancedSettings.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObjectSettings.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/constants.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/index.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/types.ts
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: :globe_with_meridians: HTML, :computer: TGUI

refactor: dmdoc for localization, split-file localization, macros for popular cases (#7915)
  code/__DEFINES/localization.dm
  code/__DEFINES/ru_lang_rules.dm
  code/__HELPERS/localization.dm
  code/__HELPERS/pronouns.dm
  code/__HELPERS/text.dm
  code/_globalvars/lists/localization.dm
  code/_globalvars/lists/names.dm
  code/game/atom/atom_localization.dm
  code/game/atoms.dm
  paradise.dme
Labels: none

server/bugfix: Check bitwise operator order (#7914)
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/projectiles/gun.dm
  code/modules/surgery/organs/pain.dm
  tools/ci/check_grep.py
  tools/ci/check_grep2.py
Labels: :snake: Python, :hammer_and_wrench: Инструменты

bugfix: Исправление рантайма electrocute_act( (#7917)
  code/modules/power/power.dm
Labels: none

bugfix: Фикс рантайма to_chat (#7918)
  code/controllers/subsystem/chat.dm
Labels: none

add: tgui iframe storage port (#7909)
  .github/workflows/generate_web_assets.yml
  code/__DEFINES/configuration.dm
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/resources.dm
  code/controllers/subsystem/non-firing/assets.dm
  code/controllers/subsystem/tgui.dm
  code/game/sound/sound.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/client/client_procs.dm
  config/example/resources.txt
  tgui/global.d.ts
  tgui/packages/common/storage.ts
  tgui/packages/common/types.ts
  tgui/packages/tgui-panel/chat/constants.ts
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui-panel/chat/types.ts
  tgui/public/iframe.html
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: :computer: TGUI, :gear: Изменение конфига, :hammer_and_wrench: Инструменты

bugfix: Фикс неверной строки для хранилища (#7919)
  tgui/packages/tgui-panel/chat/middleware.ts
  tgui/public/tgui-panel.bundle.js
Labels: :computer: TGUI

bugfix: Possible cors fix (#7922)
  tgui/packages/common/storage.ts
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

bugfix: possible temp fix (#7924)
  tgui/packages/common/storage.ts
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.js
Labels: :computer: TGUI

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']
