Repository FlitchTime/ParadiseForked, changes with the labels that .github/labeler.yml gives for each.
All labels: :snake: Python, :globe_with_meridians: HTML, :crab: Rust, :cd: SQL, :computer: TGUI, :art: Спрайты, :world_map: Изменение карты, :gear: Изменение конфига, :book: Документация, :sound: Звук, :hammer_and_wrench: Инструменты

.github/labeler.yml:

':snake: Python':
  - changed-files:
      - any-glob-to-any-file: ['**/*.py']

':globe_with_meridians: HTML':
  - changed-files:
      - any-glob-to-any-file: ['html/**']

':crab: Rust':
  - changed-files:
      - any-glob-to-any-file: ['rust/**']

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: ['SQL/**']

':computer: TGUI':
  - changed-files:
      - any-glob-to-any-file: ['tgui/**']

':art: Спрайты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmi']

':world_map: Изменение карты':
  - changed-files:
      - any-glob-to-any-file: ['**/*.dmm']

':gear: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: ['config/**']

':book: Документация':
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: ['**/*.ogg']

':hammer_and_wrench: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.github/**', 'tools/**', '.vscode/**', '.bin/**']

image: Шкафомехи 3к4 (#8466)
  icons/obj/mecha/lockermech.dmi
Labels: :art: Спрайты

balance: Подпространственный обмен не работает на ядро ИИ (#8334)
  code/__HELPERS/game.dm
  code/modules/antagonists/vampire/vampire_powers/dantalion_powers.dm
Labels: none

bugfix: хотфикс бумажный пакет апдате (#8453)
  code/game/objects/items/weapons/storage/boxes.dm
Labels: none

tweak/local: перевод и доп защита для персональных шкафов (#8444)
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
Labels: none

bugfix: Фикс неприятных рантаймов (#8470)
  code/_onclick/hud/hud.dm
  code/modules/atmospherics/enviromental/LINDA_system.dm
Labels: none

refactor: Оптимизация md5asfile (#8472)
  code/__HELPERS/files.dm
Labels: none

bugfix: Из консоли доп целей теперь вылазит плата допцелей (#8468)
  code/modules/addition_goals/addition_goal_console.dm
Labels: none

bugfix/refactor: Пачка багфиксов (#8482)
  code/__DEFINES/flags.dm
  code/_globalvars/traits/_traits.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/machinery/computer/robot.dm
  code/game/objects/items/theft_items.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/projectiles/projectile.dm
Labels: none

add: Реворк кубика судьбы и магического слуги (#7987)
  code/__DEFINES/__globals.dm
  code/__DEFINES/gamemode.dm
  code/__HELPERS/global_lists.dm
  code/datums/dice_of_fate_roll.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/admin/admin_verbs.dm
  code/modules/antagonists/servant/servant.dm
  code/modules/antagonists/servant/servant_action.dm
  code/modules/antagonists/servant/servant_revive.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mining/ores_coins.dm
  code/modules/paperwork/contract.dm
  code/modules/paperwork/filingcabinet.dm
  icons/mob/simple_human.dmi
  paradise.dme
Labels: :art: Спрайты

tweak/balance: логика работы радиации и радия на нуклеациях (#8023)
  code/__DEFINES/flags.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/diseases/viruses/advance/symptoms/damage_converter.dm
  code/datums/elements/radiation_healing.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/_species.dm
  code/modules/mob/living/carbon/human/species/nucleation.dm
  code/modules/mob/mob_defines.dm
  code/modules/surgery/organs/organ.dm
  paradise.dme
Labels: none

sound: Новые звуки для РНД машинерии 2.0 (#8465)
  code/game/machinery/autolathe.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/research/rdconsole.dm
  sound/machines/rnd_machines/circuitprinter_print.ogg
  sound/machines/rnd_machines/destructor_scanning.ogg
  sound/machines/rnd_machines/exofab_print.ogg
  sound/machines/rnd_machines/lathe_print.ogg
Labels: :sound: Звук

refactor: sscapitalism (#8474)
  code/controllers/subsystem/capitalism.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/quests/centcomm_departaments.dm
  code/modules/pda/app.dm
Labels: none

bugfix: Возвращает спрайт розовым наручам x2 (#8478)
  code/game/objects/items/weapons/handcuffs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: :art: Спрайты

bugfix: удаляет лишний ру_нейм у руды (#8495)
  code/modules/mining/ores_coins.dm
Labels: none

bugfix: исправление позиции глушителей и компенсов на револьверах (#8492)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Labels: none

tweak: Небольшие правки нового куба (#8494)
  code/datums/dice_of_fate_roll.dm
Labels: none

bugfix: убрана возможность пинговать через тикеты (#8486)
  code/datums/discord.dm
Labels: none

tweak: lone_operative спавнится в моде, а ещё удалил ренейм (#8475)
  code/modules/antagonists/syndicate/nuclear/outfit.dm
Labels: none

Фикс атмос-гранат (#8507)
  code/game/objects/items/weapons/grenades/atmosgrenade.dm
Labels: none

bugfix: Микрофикс анимации chest drawer [IDB IGNORE] (#8501)
  icons/obj/bureaucracy.dmi
  icons/obj/storage/boxes.dmi
Labels: :art: Спрайты

add: milla threadpool (#8371)
  code/__DEFINES/rust.dm
  code/__HELPERS/milla.dm
  code/controllers/subsystem/iconforge_cache_clearing.dm
  code/game/world.dm
  paradise.dme
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/dmi/mod.rs
  rust/src/file/mod.rs
  rust/src/hash/mod.rs
  rust/src/iconforge/byond.rs
  rust/src/iconforge/spritesheet.rs
  rust/src/logging/mod.rs
  rust/src/milla/api.rs
  rust/src/milla/model.rs
  rust/src/milla/statics.rs
  rust/src/milla/tick.rs
  rust/src/sound_len/mod.rs
  rust/src/uuid/api.rs
Labels: :crab: Rust

bugfix: Фикс создания транексамовой кислоты (#8505)
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: none

Revert "build(deps): bump webpack from 5.99.8 to 5.104.1 in /tgui" (#8509)
  tgui/package.json
  tgui/yarn.lock
Labels: :computer: TGUI

bugfix: Фиксы интегралок от chomasuke (#8523)
  code/__DEFINES/cooldowns.dm
  code/datums/rituals.dm
  code/game/gamemodes/shadowling/special_shadowling_abilities.dm
  code/game/machinery/recycler.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/syndicate/contractor/drifting_contractor.dm
  code/modules/antagonists/syndicate/nuclear/nuclear_operative.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/wiremod/components/action/equpiment_action.dm
  code/modules/wiremod/components/action/laserpointer.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
  code/modules/wiremod/shell/module.dm
Labels: none

bugfix: починил баг с нерабочей кнопкой допроски (#8522)
  _maps/map_files/Delta/delta.dmm
Labels: :world_map: Изменение карты

bugfix: починили радиационные эффекты в нуклях которых не было (#8521)
  code/datums/weather/weather_types/radiation_storm.dm
  code/modules/events/mass_hallucination.dm
Labels: none

bugfix: Исправление бесконечной рекурсии при емп арбалета (#8525)
  code/modules/projectiles/guns/throw/crossbow.dm
Labels: none

tweak/local: Медали апдейт (#8491)
  code/datums/actions/item_action.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/clothing/under/accessories/accessory.dm
  icons/obj/clothing/ties.dmi
  sound/items/medal.ogg
Labels: :art: Спрайты, :sound: Звук

bugfix: исправлен баг с неотображением ссылки на следование для ИИ и фикс цвета чата ИИ (#8515)
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
Labels: none

balance/tweak: Небольшой баланс цен в аплинке трейтора + бафф экзорамы (#8531)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/uplink_item.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/augments_legs.dm
  code/modules/surgery/organs/augments_tail.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/skrell.dm
  code/modules/surgery/organs/subtypes/standard.dm
  code/modules/surgery/organs/voice_translator.dm
Labels: none

local: Перевод бс сумок (#8532)
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

bugfix: Добавляет в ВВшку отображение флага PASSPROJECTILE (#8533)
  code/_globalvars/bitfields/declarations.dm
Labels: none

bugfix/add: В синдикарго категория Miscellaneous не ломает консоль, можно заказать реверсивные карты в разном и добавление ядра МЭКов для синдикарго (#8534)
  code/datums/syndiesupplypacks.dm
Labels: none

tweak/balance: атропин теперь не даёт имплантам бомбы взорватся при смерти (#8535)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/weapons/implants/implant_explosive.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
Labels: none

bugfix: trial admins vv delete button (#8538)
  code/datums/datumvars.dm
Labels: none

config: Уменьшение веса культа ратвара (#8545)
  config/game_modes.txt
Labels: :gear: Изменение конфига

add: Скины боргов в щитспавн (#8480)
  code/__DEFINES/robot_permissions.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_skin.dm
  icons/mob/64x32robots.dmi
Labels: :art: Спрайты

tweak: Теперь нельзя редактировать icon и icon_state боргов не имея R_SKINS (#8546)
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

add: штатив + камера для штатива (#8536)
  code/datums/looping_sounds/film_roll.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/paperwork/photography/tripod.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/tripod_camera.dmi
  paradise.dme
  sound/effects/film_roll/film_roll_end.ogg
  sound/effects/film_roll/film_roll_mid.ogg
  sound/effects/film_roll/film_roll_start.ogg
Labels: :art: Спрайты, :sound: Звук

bugfix: Фикс логики скинов боргов (#8548)
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none
